<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
	<meta name="format-detection" content="telephone=no">
	<title>파고다스타</title>
	<link rel="apple-touch-icon" href=""/>
	<link rel="shortcut icon" href="" />
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" href="../../common/mo/css/swiper.css" />
	<link rel="stylesheet" href="../../common/mo/css/common.css" />
	<link rel="stylesheet" href="../../common/mo/css/layout.css" />
	<link rel="stylesheet" href="../../common/mo/css/contents.css" />
	<link rel="stylesheet" href="../../common/mo/css/swiper.min.css" />
	<link rel="stylesheet" href="../../common/mo/css/jplayer.css" />
	<script src="../../common/mo/js/jquery-3.2.1.min.js"></script>
	<script src="../../common/mo/js/jquery-migrate-3.0.0.min.js"></script>
	<script src="../../common/mo/js/swiper.min.js"></script>
	<script src="../../common/mo/js/jquery.jplayer.min.js"></script>
</head>
<body>
	<!-- contents -->
	<div id="contents">
		<!-- 
			contents-top 
			플레이어의 시간이 반 이상일때 id="contents-top" 엘리먼트에 over-half class추가
		-->
		<div id="contents-top" class="over-half">
			<!-- ver_dark -->
			<div class="ver_dark">
				<div class="display-table">
					<!-- cell -->
					<div class="cell ct-left">
						<h2 class="ct-ttl"><img src="../../common/mo/images/ttl/ttl_constant_answer.png" alt="정오답"></h2>
						<div class="ct-sttl">PART 7</div>
					</div>
					<!-- //cell -->

					<!-- cell -->
					<div class="cell ct-right">
						<div class="ct-paging">
							<strong>13~16</strong>
							/
							<span>200</span>
						</div>
					</div>
					<!-- //cell -->

					<div class="cell page-btn ct-exit">
						<button type="button"></button>
					</div>
				</div>
			</div>
			<!-- //ver_dark -->
		</div>
		<!-- //contents-top -->
		
		<!-- cb-player -->
		<div id="cb-player" class="refer_checkpoint">
			<div id="jquery_jplayer_1" class="jp-jplayer"></div>
				<div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
					<div class="jp-type-single">
						<div class="jp-gui jp-interface">
							<div class="jp-controls">
								<a href="#" class="prev">이전</a>
								<button class="jp-play" role="button" tabindex="0">play</button>
								<a href="#" class="next">다음</a>
								<!--<button class="jp-stop" role="button" tabindex="0">stop</button>-->
							</div>
							<div class="jp-time-holder">
								<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
								<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
							</div>
							<div class="jp-progress">
								<div class="jp-seek-bar">
									<div class="jp-play-bar"><em></em></div>
								</div>
							</div>
						</div>
					</div>
				</div>
<script>
$("#jquery_jplayer_1").jPlayer({
	ready: function () {
		$(this).jPlayer("setMedia", {
			mp3: "http://jplayer.org/audio/mp3/Miaow-07-Bubble.mp3"
		});
	},
	swfPath: "../../dist/jplayer",
	supplied: "mp3",
	wmode: "window",
	useStateClassSkin: true,
	autoBlur: false,
	smoothPlayBar: true,
	keyEnabled: true,
	remainingDuration: true,
	toggleDuration: true
});
</script>
		</div>
		<!-- cb-player -->


		<!-- contents-body -->
		<div id="contents-body" class="ver-ca">
			<!-- intonation -->
			<div class="intonation">
				<span class="tags">미국</span>
				<span class="tags">호주</span>
				<span class="tags">영국</span>
			</div>
			<!-- //intonation -->

			<!-- cb-questions-wrap -->
			<div class="cb-questions-wrap">
				<div class="questions">

					<h3>Questions 13-16</h3>
					<p>refer to the following article.</p>

					<div class="kr_guide">
						<h3>문제 13-16</h3>
						<p>다음 청구서와 이메일을 참조하시오.</p>
					</div>
				</div>
				<div class="fingerprint">
					<!-- section -->
					<div class="section">
						AdrenaTours!<br>
						Action-Packed Activities for Thrill Seekers!<br><br>

						We at AdrenaTours are in triumphant mood as we <span class="c-uline">mark</span> our first anniversary of being in business. That’s why we have decided to add four more options to our list of summer adventure activities. In contrast to our other activities, which are open to people of all ages, these latest activities are designed for adults only. They have also been designed with the input of renowned professional surfer Brad Foster, and each promises an unforgettable experience. Our offices are located just ten minutes from Redford train station, and are fifteen minutes away from Redford Mall, from which our company minibus

						<!-- cb-interpretation -->
						<div class="cb-interpretation">
							<div class="title-box">해석</div>
							<div class="cont">
								AdrenaTours!<br>
								스릴을 찾으시는 분들을 위해 활동으로 가득한 프로그램!<br><br>

								저희 AdrenaTours는 개업 1주년을 기념하면서 승리를 얻은 듯한 분위기에 있습니다. 
								이는 저희 회사의 여름 모험 활동 프로그램의 목록에 네 가지 선택사항들을 추가하기로 
								결정했기 때문입니다. (생략...)
							</div>
						</div>
						<!-- //cb-interpretation -->
					</div>
					<!-- //section -->
					
					<!-- section -->
					<div class="section">
						www.adrenatour.com/getinvolved/offers<br>
						AdrenaTours<br>
						Activity Listing (Page 2 of 3)

						<table summary="">
							<caption></caption>
							<colgroup>
								<col>
								<col>
								<col style="width:17%">
								<col style="width:27%">
							</colgroup>
							<thead>
								<tr>
									<th scope="col">ctivity</th>
									<th scope="col">Location</th>
									<th scope="col">Price</th>
									<th scope="col">Insuranc Fee</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Extreme Kayaking</td>
									<td>Oak Ridge Lake</td>
									<td>$150</td>
									<td>$40</td>
								</tr>
								<tr>
									<td>Ultimate Skydive</td>
									<td>Oak Ridge Lake</td>
									<td>$150</td>
									<td>$40</td>
								</tr>
								<tr>
									<td>Ocean Nighttime</td>
									<td>Oak Ridge Lake</td>
									<td>$150</td>
									<td>$40</td>
								</tr>
								<tr>
									<td>Open Water</td>
									<td>Oak Ridge Lake</td>
									<td>$150</td>
									<td>$40</td>
								</tr>
							</tbody>
						</table>

						E-mail Mary Pippin at m.pippin@AdrenaTours.com to make a booking.<br>
						All Insurance Fees must be paid in full when making your booking.

						<!-- cb-interpretation -->
						<div class="cb-interpretation">
							<div class="title-box">해석</div>
							<div class="cont">
								www.adrenatour.com/getinvolved/offers<br>
								AdrenaTours<br>
								활동 목록 (페이지2 of 3)<br>
								신규 여름철 제공 프로그램!<br>
								(생략...)

								<table summary="">
									<caption></caption>
									<colgroup>
										<col>
										<col>
										<col style="width:17%">
										<col style="width:27%">
									</colgroup>
									<thead>
										<tr>
											<th scope="col">동</th>
											<th scope="col">장소</th>
											<th scope="col">가격</th>
											<th scope="col">보험료</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Extreme Kayaking</td>
											<td>Oak Ridge Lake</td>
											<td>150달러</td>
											<td>40달러</td>
										</tr>
										<tr>
											<td>Ultimate Skydive</td>
											<td>Oak Ridge Lake</td>
											<td>150달러</td>
											<td>40달러</td>
										</tr>
										<tr>
											<td>Ocean Nighttime</td>
											<td>Oak Ridge Lake</td>
											<td>150달러</td>
											<td>40달러</td>
										</tr>
										<tr>
											<td>Open Water</td>
											<td>Oak Ridge Lake</td>
											<td>150달러</td>
											<td>40달러</td>
										</tr>
									</tbody>
								</table>

								예약을 하시려면 Mary Pippin씨께 m.pippin@Adrena-Tours.com으로 이메일을 보내주세요.<br>
								모든 보험료는 반드시 예약 시에 전액 지불되어야 합니다.
							</div>
						</div>
						<!-- //cb-interpretation -->
					</div>
					<!-- //section -->

					<!-- section -->
					<div class="section">
						To: Customer Services &lt;m.pippin@AdrenaTours.com&gt;<br>
						From: Richard Appleton  &lt;r.appleton@speedymaill.net&gt;<br>
						Date: August 5<br>
						Subject: Activity<br>
						Dear Ms. Pippin,<br>
						I am writing to request a partial refund for the activity I purchased from your company last week. I visited your offices on July 30 and spoke with the staff member there. They were extremely knowledgeable, and were able to provide me with excellent advice regarding which activity might best suit my interests. We discussed the Extreme Kayaking event, but in the end we decided this wasn’t for me and your staff member helped me choose something more appropriate. I paid the insurance fee and was looking forward to the day itself. However, when I checked my bank balance, I noticed that this charge was $95 instead of the $60 that it should have been. I would appreciate it if you refund the difference to my account immediately. <br>
						Faithfully,<br>
						Richard Appleton

						<!-- cb-interpretation -->
						<div class="cb-interpretation">
							<div class="title-box">해석</div>
							<div class="cont">
								수신: 고객 서비스부 &lt;m.pippin@AdrenaTours.com&gt;<br>
								발신: Richard Appleton &lt;r.appleton@speedymaill.net&gt;<br>
								날짜: 8월 5일<br>
								제목: 활동 프로그램<br>
								Pippin 씨께,<br>
								저는 지난 주에 귀사를 통해 구매한 활동 프로그램에 대해 일부 환불을 요청하고자 이메일 드립니다. 저는 7월 30일에 귀사의 사무실을 방문해 그곳에서 직원과 ...
							</div>
						</div>
						<!-- //cb-interpretation -->
					</div>
					<!-- //section -->
					
					<!-- section -->
					<div class="section">
						<!-- cb-voca -->
						<div class="cb-voca">
							<div class="title-box">어휘</div>
							<ul class="voca-list">
								<li>
									<div class="en">Lid</div>
									<div class="kr">[prep.] 뚜껑</div>
								</li>
								<li>
									<div class="en">Leave</div>
									<div class="kr">[n.] 그대로 두다</div>
								</li>
								<li>
									<div class="en">load</div>
									<div class="kr">[conj.] 싣다</div>
								</li>
							</ul>
						</div>
						<!-- //cb-voca -->
					</div>
					<!-- //section -->
				</div>
			</div>
			<!-- //cb-questions-wrap -->
			
			<!-- 
			highlighter 
			1. 정오답 페이지에서 형광펜 사용이력이 있는 문제에서만 아래 형광펜 영역 노출
			2. <a href="#highlighter_evt_layer">형광펜</a> 처럼 href 값에 해당 지문레이어의 id값을 매칭
			3. <a href="#highlighter_evt_layer"> 엘리먼트에 data-layer값에 해당 layer id 매칭
			-->
			<div id="highlighter">
				<div class="highlighter-btn">
					<a href="#" class="btn-layer" data-layer="highlighter_evt_layer">형광펜</a>
				</div>
				
				<!-- highlighter_evt_layer -->
				<div id="highlighter_evt_layer" class="common-layer">
					<div class="display-table">
						<!-- c-layer-head -->
						<div class="c-layer-head">
							<h2 class="title_highlighter">
								형광펜
								<span></span>
							</h2>

							<button type="button" class="close">닫기</button>
						</div>
						<!-- //c-layer-head -->

						<!-- c-layer-body -->
						<div class="c-layer-body">
							<!-- scroll-box -->
							<div class="scroll-box">
								<!-- cb-questions-wrap -->
								<div class="cb-questions-wrap">
									<div class="questions">
										<h3>Questions 13-16</h3>
										<p>refer to the following article.</p>
									</div>
									<div class="fingerprint">
										<!-- section -->
										<div class="section">
											AdrenaTours!<br>
											Action-Packed Activities for Thrill Seekers!<br><br>

											We at AdrenaTours are in triumphant mood as we <span class="c-uline">mark</span> our first anniversary of being in business. That’s why we have decided to add four more options to our list of summer adventure activities. In contrast to our other activities, which are open to people of all ages, these latest activities are designed for adults only. They have also been designed with the input of renowned professional surfer Brad Foster, and each promises an unforgettable experience. Our offices are located just ten minutes from Redford train station, and are fifteen minutes away from Redford Mall, from which our company minibus
										</div>
										<!-- //section -->
										
										<!-- section -->
										<div class="section">
											www.adrenatour.com/getinvolved/offers<br>
											AdrenaTours<br>
											Activity Listing (Page 2 of 3)

											<table summary="">
												<caption></caption>
												<colgroup>
													<col>
													<col>
													<col style="width:17%">
													<col style="width:27%">
												</colgroup>
												<thead>
													<tr>
														<th scope="col">ctivity</th>
														<th scope="col">Location</th>
														<th scope="col">Price</th>
														<th scope="col">Insuranc Fee</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Extreme Kayaking</td>
														<td>Oak Ridge Lake</td>
														<td>$150</td>
														<td>$40</td>
													</tr>
													<tr>
														<td>Ultimate Skydive</td>
														<td>Oak Ridge Lake</td>
														<td>$150</td>
														<td>$40</td>
													</tr>
													<tr>
														<td>Ocean Nighttime</td>
														<td>Oak Ridge Lake</td>
														<td>$150</td>
														<td>$40</td>
													</tr>
													<tr>
														<td>Open Water</td>
														<td>Oak Ridge Lake</td>
														<td>$150</td>
														<td>$40</td>
													</tr>
												</tbody>
											</table>

											E-mail Mary Pippin at m.pippin@AdrenaTours.com to make a booking.<br>
											All Insurance Fees must be paid in full when making your booking.
										</div>
										<!-- //section -->

										<!-- section -->
										<div class="section">
											To: Customer Services &lt;m.pippin@AdrenaTours.com&gt;<br>
											From: Richard Appleton  &lt;r.appleton@speedymaill.net&gt;<br>
											Date: August 5<br>
											Subject: Activity<br>
											Dear Ms. Pippin,<br>
											I am writing to request a partial refund for the activity I purchased from your company last week. I visited your offices on July 30 and spoke with the staff member there. They were extremely knowledgeable, and were able to provide me with excellent advice regarding which activity might best suit my interests. We discussed the Extreme Kayaking event, but in the end we decided this wasn’t for me and your staff member helped me choose something more appropriate. I paid the insurance fee and was looking forward to the day itself. However, when I checked my bank balance, I noticed that this charge was $95 instead of the $60 that it should have been. I would appreciate it if you refund the difference to my account immediately. <br>
											Faithfully,<br>
											Richard Appleton
										</div>
										<!-- //section -->
									</div>
								</div>
								<!-- //cb-questions-wrap -->
							</div>
							<!-- //scroll-box -->
						</div>
						<!-- //c-layer-body -->
					</div>
				</div>
				<!-- //highlighter_evt_layer -->
			</div>
			<!-- //highlighter -->

			<!-- exam-wrap -->
			<div id="exam-wrap">
				<!-- trigger-tabs -->
				<div class="trigger-tabs">
					<ul class="display-table">
						<li class="cell"><button type="button" class="up"></button></li>
						<li class="cell"><button type="button" class="down"></button></li>
					</ul>
				</div>
				<!-- //trigger-tabs -->
				
				<div class="exam-wrapper">
					<div class="exam-swiper swiper-container">
						<div class="exam-container swiper-wrapper">
							<div class="exam-items swiper-slide" data-number="13">
								<!-- exam-questions -->
								<div class="exam-questions">
									<div class="guide-constant-answer">
										13. 정답입니다.
									</div>
									<p>Who did Mr. Appleton most likely speak with on July 30?</p>
									<p class="guide_kr">
										AdrenaTours에 관해 알 수 있는 사실이 아닌 것은 무엇인가?
									</p>
								</div>
								<!-- //exam-questions -->

								<!-- exam-answer -->
								<div class="exam-answer">
									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(A)</em>
												<div>
													It collaborates with a famous celebrity.
													<p class="guide_kr">
														유명 인사와 협업하고 있다.
													</p>
												</div>
											</span>
										</span>
									</div>

									<div class="answer-items right-answer">
										<span class="items-cont">
											<span class="item-txt">
												<em>(B)</em>
												<div>
													It offers activities for all age groups.
													<p class="guide_kr">
														전 연령층의 사람들을 위한 활동을 제공한다.
													</p>
												</div>
											</span>
										</span>
									</div>

									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(C)</em>
												<div>
													It has its own transportation vehicle.
													<p class="guide_kr">
														자사 소유의 이동 차량을 갖고 있다.
													</p>
												</div>
											</span>
										</span>
									</div>

									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(D)</em>
												<div>
													Its offices are located within a mall.
													<p class="guide_kr">
														쇼핑몰 내에 사무실들이 위치해 있다.
													</p>
												</div>
											</span>
										</span>
									</div>
								</div>
								<!-- //exam-answer -->
								
								<!-- exam-others -->
								<div class="exam-others">
									<!-- section -->
									<div class="section">
										<div class="title-box">해설</div>
										<div class="cont">
											AdrenaTours와 관련된 전반적인 정보를 찾을 수 있는 첫 지문에서 단서를 찾아 각 보기의 
											내용과 비교해 풀어야 한다. 첫 지문의 중반부에, 쇼핑몰인 Redford Mall이 언급되는 부분이
											있는데 이 쇼핑몰과의 위치 관계를 ‘15분 거리에 떨어져 있다’고 설명하고 
											있으므로 (D)가 정답이다.
										</div>
									</div>
									<!-- //section -->
								</div>
								<!-- //exam-others -->
							</div>
							<!--
								오답일 경우
								class="exam-items" 엘리먼트에 ver-incorrect class 추가
							-->
							<div class="exam-items swiper-slide ver-incorrect" data-number="14">
								<div class="exam-questions">
									<div class="guide-constant-answer">
										14. 오답입니다.
									</div>
									<p>Who did Mr. Appleton most likely speak with on July 30?</p>
									<p class="guide_kr">
										AdrenaTours에 관해 알 수 있는 사실이 아닌 것은 무엇인가?
									</p>
								</div>
								<div class="exam-answer">
									<!-- 
										내가 선택했던 답 
										class="answer-items" 엘리먼트에 my-incorrect 추가
									-->
									<div class="answer-items my-incorrect">
										<span class="items-cont">
											<span class="item-txt">
												<em>(A)</em>
												<div>
													It collaborates with a famous celebrity.
													<p class="guide_kr">
														유명 인사와 협업하고 있다.
													</p>
												</div>
											</span>
										</span>
									</div>

									<div class="answer-items right-answer">
										<span class="items-cont">
											<span class="item-txt">
												<em>(B)</em>
												<div>
													It offers activities for all age groups.
													<p class="guide_kr">
														전 연령층의 사람들을 위한 활동을 제공한다.
													</p>
												</div>
											</span>
										</span>
									</div>

									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(C)</em>
												<div>
													It has its own transportation vehicle.
													<p class="guide_kr">
														자사 소유의 이동 차량을 갖고 있다.
													</p>
												</div>
											</span>
										</span>
									</div>

									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(D)</em>
												<div>
													Its offices are located within a mall.
													<p class="guide_kr">
														쇼핑몰 내에 사무실들이 위치해 있다.
													</p>
												</div>
											</span>
										</span>
									</div>
								</div>
							</div>

							<div class="exam-items swiper-slide" data-number="15">
								<div class="exam-questions">
									<div class="guide-constant-answer">
										15. 정답입니다.
									</div>
									<p>Who did Mr. Appleton most likely speak with on July 30?</p>
									<p class="guide_kr">
										AdrenaTours에 관해 알 수 있는 사실이 아닌 것은 무엇인가?
									</p>
								</div>
								<div class="exam-answer">
									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(A)</em>
												<div>
													It collaborates with a famous celebrity.
													<p class="guide_kr">
														유명 인사와 협업하고 있다.
													</p>
												</div>
											</span>
										</span>
									</div>

									<div class="answer-items right-answer">
										<span class="items-cont">
											<span class="item-txt">
												<em>(B)</em>
												<div>
													It offers activities for all age groups.
													<p class="guide_kr">
														전 연령층의 사람들을 위한 활동을 제공한다.
													</p>
												</div>
											</span>
										</span>
									</div>

									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(C)</em>
												<div>
													It has its own transportation vehicle.
													<p class="guide_kr">
														자사 소유의 이동 차량을 갖고 있다.
													</p>
												</div>
											</span>
										</span>
									</div>

									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(D)</em>
												<div>
													Its offices are located within a mall.
													<p class="guide_kr">
														쇼핑몰 내에 사무실들이 위치해 있다.
													</p>
												</div>
											</span>
										</span>
									</div>
								</div>

								<!-- exam-others -->
								<div class="exam-others">
									<!-- section -->
									<div class="section">
										<div class="title-box">해설</div>
										<div class="cont">
											AdrenaTours와 관련된 전반적인 정보를 찾을 수 있는 첫 지문에서 단서를 찾아 각 보기의 
											내용과 비교해 풀어야 한다. 첫 지문의 중반부에, 쇼핑몰인 Redford Mall이 언급되는 부분이
											있는데 이 쇼핑몰과의 위치 관계를 ‘15분 거리에 떨어져 있다’고 설명하고 
											있으므로 (D)가 정답이다.
										</div>
									</div>
									<!-- //section -->
								</div>
								<!-- //exam-others -->
							</div>
							<!--
								오답일 경우
								class="exam-items" 엘리먼트에 ver-incorrect class 추가
							-->
							<div class="exam-items swiper-slide ver-incorrect" data-number="16">
								<div class="exam-questions">
									<div class="guide-constant-answer">
										16. 오답입니다.
									</div>
									<p>Who did Mr. Appleton most likely speak with on July 30?</p>
									<p class="guide_kr">
										AdrenaTours에 관해 알 수 있는 사실이 아닌 것은 무엇인가?
									</p>
								</div>
								<div class="exam-answer">
									<!-- 
										내가 선택했던 답 
										class="answer-items" 엘리먼트에 my-incorrect 추가
									-->
									<div class="answer-items my-incorrect">
										<span class="items-cont">
											<span class="item-txt">
												<em>(A)</em>
												<div>
													It collaborates with a famous celebrity.
													<p class="guide_kr">
														유명 인사와 협업하고 있다.
													</p>
												</div>
											</span>
										</span>
									</div>

									<div class="answer-items right-answer">
										<span class="items-cont">
											<span class="item-txt">
												<em>(B)</em>
												<div>
													It offers activities for all age groups.
													<p class="guide_kr">
														전 연령층의 사람들을 위한 활동을 제공한다.
													</p>
												</div>
											</span>
										</span>
									</div>

									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(C)</em>
												<div>
													It has its own transportation vehicle.
													<p class="guide_kr">
														자사 소유의 이동 차량을 갖고 있다.
													</p>
												</div>
											</span>
										</span>
									</div>

									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(D)</em>
												<div>
													Its offices are located within a mall.
													<p class="guide_kr">
														쇼핑몰 내에 사무실들이 위치해 있다.
													</p>
												</div>
											</span>
										</span>
									</div>
								</div>

								<!-- exam-others -->
								<div class="exam-others">
									<!-- section -->
									<div class="section">
										<div class="title-box">해설</div>
										<div class="cont">
											AdrenaTours와 관련된 전반적인 정보를 찾을 수 있는 첫 지문에서 단서를 찾아 각 보기의 
											내용과 비교해 풀어야 한다. 첫 지문의 중반부에, 쇼핑몰인 Redford Mall이 언급되는 부분이
											있는데 이 쇼핑몰과의 위치 관계를 ‘15분 거리에 떨어져 있다’고 설명하고 
											있으므로 (D)가 정답이다.
										</div>
									</div>
									<!-- //section -->
								</div>
								<!-- //exam-others -->
							</div>
						</div>
						<!-- //exam-container -->

						<!-- exam-nav -->
					<div class="exam-nav nav-prev arrow-left">
						
						<span class="exam-num">12</span>
					</div>
					<div class="exam-nav nav-next arrow-right">
						<span class="exam-num">14</span>
					</div>
					<!-- //exam-nav -->
					</div>
				
				</div>
			</div>
			<!-- //exam-wrap -->
		</div>
		<!-- //contents-body -->

		<!-- contents-btm -->
		<div id="contents-btm">
			<!-- cb-nav -->
			<div class="cb-nav">
				<ul class="display-table">
					<li class="cell">
						<button type="button" class="cell disabled">
							<span><img src="../../common/mo/images/icon/icon_prev.png" alt="이전"></span>
						</button>
					</li>
					<li class="cell">
						<button type="button" class="cell">
							<span><img src="../../common/mo/images/icon/icon_viewall.png" alt="전체 메뉴보기"></span>
						</button>
					</li>
					<li class="cell">
						<button type="button" class="cell">
							종료
							<span><img src="../../common/mo/images/icon/icon_next.png" alt="다음"></span>
						</button>
					</li>
				</ul>
			</div>
			<!-- //cb-nav -->
		</div>
		<!-- //contents-btm -->
	</div>
	<!-- //contents -->

	<script src="../../common/mo/js/nt.js"></script>
</body>
</html>