<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
	<meta name="format-detection" content="telephone=no">
	<title>파고다스타</title>
	<link rel="apple-touch-icon" href=""/>
	<link rel="shortcut icon" href="" />
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" href="../../common/mo/css/swiper.css" />
	<link rel="stylesheet" href="../../common/mo/css/common.css" />
	<link rel="stylesheet" href="../../common/mo/css/layout.css" />
	<link rel="stylesheet" href="../../common/mo/css/contents.css" />
	<link rel="stylesheet" href="../../common/mo/css/swiper.min.css" />
	<link rel="stylesheet" href="../../common/mo/css/jplayer.css" />
	<script src="../../common/mo/js/jquery-3.2.1.min.js"></script>
	<script src="../../common/mo/js/jquery-migrate-3.0.0.min.js"></script>
	<script src="../../common/mo/js/swiper.min.js"></script>
	<script src="../../common/mo/js/jquery.jplayer.min.js"></script>
</head>
<body>
	<!-- contents -->
	<div id="contents" class="intro-contents02">
		<!-- contents-top -->
		<div id="contents-top">
			<!-- ver_white -->
			<div class="ver_white">
				<h2 class="ct-ttl"><img src="../../common/mo/images/ttl/ttl_logo.png" alt="넥스트토익"></h2>
				<!-- ct-btn-box -->
				<div class="ct-btn-box">
					<a href="#" class="btn-myclass">내 강의실</a>
				</div>
				<!-- //ct-btn-box -->
			</div>
			<!-- //ver_white -->
		</div>
		<!-- //contents-top -->

		<!-- contents-body -->
		<div id="contents-body">
			<!-- intro-wrap -->
			<div class="intro-wrap">
				<!-- section -->
				<div class="section">
					<h3>이용안내</h3>
					<div class="intro-cont">
						<!-- TEST A -->
						<ul class="dot-list">
							<li>
								문항은 총 30문항, 시험시간은 총 12분입니다.
							</li>
							<li>
								해당 시험은 현재 취약점 분석하고, 토익 점수를 예측하기 위한 시험입니다.
							</li>
							<li>
								문제를 잘 읽고, 가장 알맞은 정답을 고르세요.
							</li>
							<li>
								시험을 종료하지 못하고, 일시 정지할 경우 답안은 입력한 부분까지 저장됩니다.<br>
								저장된 이후부터 재응시는 24시간 이내에만 가능합니다.
							</li>
							<li>
								모든 문항의 답안을 작성한 후, 시험 종료 버튼을 클릭하면, 답안이 제출됩니다.
							</li>
							<li>
								시험 시간이 종료된 후에도, 답안 작성은 가능합니다.
							</li>
						</ul>
						<!-- //TEST A -->
					</div>
				</div>
				<!-- //section -->

				<!-- section -->
				<div class="section">
					<h3>이용안내</h3>
					<div class="intro-cont">
						<!-- TEST B -->
						<ul class="dot-list">
							<li>해당 시험은 제한 시간을 제공하지 않습니다.</li>
							<li>시험을 완료한 후에는 재응시가 불가합니다.</li>
							<li>부득이하게 테스트를 완료하지 못하고 일시 정지할 경우 체크한 답안까지 저장되며, 24시간 이내에 이어서 풀 수 있습니다.</li>
						</ul>
						<!-- //TEST B -->
					</div>
				</div>
				<!-- //section -->

				<!-- section -->
				<div class="section">
					<h3>이용안내</h3>
					<div class="intro-cont">
						<!-- TEST C -->
						<ul class="dot-list">
							<li>
								문항은 총 100문항, 시험시간은 총 60분입니다.
							</li>
							<li>
								해당 시험은 현재 취약점 분석하고, 토익 점수를 예측하기 위한 시험입니다.
							</li>
							<li>
								문제를 잘 읽고, 가장 알맞은 정답을 고르세요.
							</li>
							<li>
								시험을 종료하지 못하고, 일시 정지할 경우 답안은 입력한 부분까지 저장됩니다.
								저장된 이후부터 재응시는 24시간 이내에만 가능합니다.
							</li>
							<li>
								모든 문항의 답안을 작성한 후, 시험 종료 버튼을 클릭하면, 답안이 제출됩니다.
							</li>
							<li>
								시험 시간이 종료된 후에도, 답안 작성은 가능합니다.
							</li>
						</ul>
						<!-- //TEST C -->
					</div>
				</div>
				<!-- //section -->

				<!-- section -->
				<div class="section">
					<h3>이용안내</h3>
					<div class="intro-cont">
						<!-- TEST D -->
						<ul class="dot-list">
							<li>인강으로 학습한 개념을 문제로 적용해 봅니다. 학습한 개념을 떠올리며 문제를 풀어보세요.</li>
							<li>
								문제를 다 풀지 못하고, 일시 정지할 경우 답안은 입력한 부분까지 저장됩니다.<br>
								저장된 이후부터 재응시는 24시간 이내에만 가능합니다.
							</li>
							<li>
								모든 문항의 답안을 작성한 후, 시험 종료 버튼을 클릭하면, 답안이 제출됩니다.
							</li>
							<li>
								답안 제출 후에도 문제를 다시 풀어볼 수 있습니다. 하지만,  결과분석의 점수 히스토리에는  반영되지는 않습니다.
							</li>
						</ul>
						<!-- //TEST D -->
					</div>
				</div>
				<!-- //section -->

				<!-- section -->
				<div class="section">
					<h3>이용안내</h3>
					<div class="intro-cont">
						<!-- TEST E -->
						<ul class="dot-list">
							<li>
								<em class="color-blue">TOP 5로 선정된 취약유형을 우선적으로 공략합니다.  취약 개념들이 적용된 문제를 집중적으로 풀어보세요.</em>
							</li>
							<li>
								문제를 다 풀지 못하고, 일시 정지할 경우 답안은 입력한 부분까지 저장됩니다. 저장된 이후부터 재응시는 24시간 이내에만 가능합니다.
							</li>
							<li>
								모든 문항의 답안을 작성한 후, 시험 종료 버튼을 클릭하면, 답안이 제출됩니다.
							</li>
							<li>
								답안 제출 후에도 문제를 다시 풀어볼 수 있습니다. 하지만,  결과분석의 점수 히스토리에는 반영되지는 않습니다.
							</li>
						</ul>
						<!-- //TEST E -->
					</div>
				</div>
				<!-- //section -->

				<!-- section -->
				<div class="section">
					<h3>이용안내</h3>
					<div class="intro-cont">
						<!-- TEST F, G, H -->
						<ul class="dot-list">
							<li>
								이 모의고사는 토익 시험과 같이 총 200문항을 120분동안 진행됩니다.
							</li>
							<li>
								모의고사를 종료하지 못하고, 일시 정지할 경우 답안은 입력한 부분까지 저장됩니다. 저장된 이후부터 재응시는 24시간 이내에만 가능합니다.
							</li>
							<li>
								모든 문항의 답안을 작성한 후, 시험 종료 버튼을 클릭하면, 답안이 제출됩니다.
							</li>
							<li>
								시험 시간내에 답안 작성을 완료하지 못하면, 입력한 답안까지 자동 제출됩니다. 종료시간 이후의 답안 작성은 불가능합니다.
							</li>
							<li>
								답안 제출 후에도 문제를 처음부터 다시 풀어볼 수 있습니다. 하지만,  결과분석의 점수 히스토리에는  반영되지는 않습니다.
							</li>
						</ul>
						<!-- //TEST F, G, H -->
					</div>
				</div>
				<!-- //section -->

				<!-- section -->
				<div class="section">
					<h3>오디오 테스트</h3>
				</div>
				<!-- //section -->
			</div>
			<!-- //intro-wrap -->
		</div>
		<!-- //contents-body -->

		<!-- contents-btm -->
		<div id="contents-btm">
			<!-- cb-nav -->
			<div class="cb-btns">
				<ul class="display-table">
					<li class="cell">
						<a href="#" class="btn-type01">시작</a>
					</li>
				</ul>
			</div>
			<!-- //cb-nav -->
		</div>
		<!-- //contents-btm -->
	</div>
	<!-- //contents -->
	<script src="../../common/mo/js/nt.js"></script>
</body>
</html>
