<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
	<meta name="format-detection" content="telephone=no">
	<title>파고다스타</title>
	<link rel="apple-touch-icon" href=""/>
	<link rel="shortcut icon" href="" />
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" href="../../common/mo/css/swiper.css" />
	<link rel="stylesheet" href="../../common/mo/css/common.css" />
	<link rel="stylesheet" href="../../common/mo/css/layout.css" />
	<link rel="stylesheet" href="../../common/mo/css/contents.css" />
	<link rel="stylesheet" href="../../common/mo/css/swiper.min.css" />
	<link rel="stylesheet" href="../../common/mo/css/jplayer.css" />
	<script src="../../common/mo/js/jquery-3.2.1.min.js"></script>
	<script src="../../common/mo/js/jquery-migrate-3.0.0.min.js"></script>
	<script src="../../common/mo/js/swiper.min.js"></script>
	<script src="../../common/mo/js/jquery.jplayer.min.js"></script>
</head>
<body>
	<!-- contents -->
	<div id="contents" class="intro-contents02">
		<!-- contents-top -->
		<div id="contents-top">
			<!-- ver_white -->
			<div class="ver_white">
				<h2 class="ct-ttl"><img src="../../common/mo/images/ttl/ttl_logo.png" alt="넥스트토익"></h2>
				<!-- ct-btn-box -->
				<div class="ct-btn-box">
					<a href="#" class="btn-myclass">내 강의실</a>
				</div>
				<!-- //ct-btn-box -->
			</div>
			<!-- //ver_white -->
		</div>
		<!-- //contents-top -->

		<!-- contents-body -->
		<div id="contents-body">
			<!-- intro-wrap -->
			<div class="intro-wrap">
				<!-- section -->
				<div class="section">
					<h3>이용안내</h3>
					<div class="intro-cont">
						내용은 시험마다 다름 내용은 시험마다 다름 내용은 시험마다 다름 내용은 시험마다 다름 내용은 시험마다 다름 내용은 시험마다 다름 내용은
					</div>
				</div>
				<!-- //section -->

				<!-- section -->
				<div class="section">
					<h3>오디오 테스트</h3>
					<div class="intro-cont">
						<p class="dot-items">
							LC문제를 풀기 전, 오디오 테스트를 진행해 주세요.
						</p>
						<p class="dot-items">
							아래 플레이버튼을 눌러 음원이 잘 들리는지 확인합니다.
						</p>

						<!-- cb-player -->
						<div class="cb-player ver2">
							<div id="jquery_jplayer_1" class="jp-jplayer"></div>
								<div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
									<div class="jp-type-single">
										<div class="jp-gui jp-interface">
											<div class="jp-controls">
												<a href="#" class="prev">이전</a>
												<button class="jp-play" role="button" tabindex="0">play</button>
												<a href="#" class="next">다음</a>
												<!--<button class="jp-stop" role="button" tabindex="0">stop</button>-->
											</div>
											<div class="jp-time-holder">
												<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
												<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
											</div>
											<div class="jp-progress">
												<div class="jp-seek-bar">
													<div class="jp-play-bar"><em></em></div>
												</div>
											</div>
										</div>
									</div>
								</div>
<script>
$("#jquery_jplayer_1").jPlayer({
	ready: function () {
		$(this).jPlayer("setMedia", {
			mp3: "http://jplayer.org/audio/mp3/Miaow-07-Bubble.mp3"
		});
	},
	swfPath: "../../dist/jplayer",
	supplied: "mp3",
	wmode: "window",
	useStateClassSkin: true,
	autoBlur: false,
	smoothPlayBar: true,
	keyEnabled: true,
	remainingDuration: true,
	toggleDuration: true
});
</script>
						</div>
						<!-- cb-player -->

						<p class="dot-items">
							음원이 잘 들리지 않는 경우, 볼륨 크기를 조절해 주세요.
						</p>
						<p class="dot-items">
							볼륨 크기를 조절하였는데도, 음원이 들리지 않으면, 1:1문의를 이용해주세요.
						</p>

						<div class="intro-btn">
							<a href="#" class="btn-type02">1:1 문의</a>
						</div>
					</div>
				</div>
				<!-- //section -->
			</div>
			<!-- //intro-wrap -->
		</div>
		<!-- //contents-body -->

		<!-- contents-btm -->
		<div id="contents-btm">
			<!-- cb-nav -->
			<div class="cb-btns">
				<ul class="display-table">
					<li class="cell">
						<a href="#" class="btn-type01">시작</a>
					</li>
				</ul>
			</div>
			<!-- //cb-nav -->
		</div>
		<!-- //contents-btm -->
	</div>
	<!-- //contents -->
	<script src="../../common/mo/js/nt.js"></script>
</body>
</html>
