<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
	<meta name="format-detection" content="telephone=no">
	<title>파고다스타</title>
	<link rel="apple-touch-icon" href=""/>
	<link rel="shortcut icon" href="" />
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" href="../../common/mo/css/swiper.css" />
	<link rel="stylesheet" href="../../common/mo/css/common.css" />
	<link rel="stylesheet" href="../../common/mo/css/layout.css" />
	<link rel="stylesheet" href="../../common/mo/css/contents.css" />
	<script src="../../common/mo/js/jquery-3.2.1.min.js"></script>
	<script src="../../common/mo/js/jquery-migrate-3.0.0.min.js"></script>
</head>
<body>
	<!-- contents -->
	<div id="contents" class="myclass-contents">
		<!-- contents-top -->
		<div id="contents-top">
			<!-- ver_white -->
			<div class="ver_white">
				<h2 class="my-ttl">내 강의실</h2>
				<button type="button" class="btn-before">이전 페이지</button>
			</div>
			<!-- //ver_white -->
		</div>
		<!-- //contents-top -->
		
		<!-- contents-body -->
		<div id="contents-body">
			<!-- myclass-wrap -->
			<div class="myclass-wrap">
				<!-- my-info-wrap -->
				<div class="my-info-wrap">
					<h3 class="subject">넥스트토익 900 목표반</h3>
					<p>수강기간 : 2017.10.16~2017.10.22</p>

					<div class="btn">
						<a href="#" class="btn-type04">후기쓰기</a>
					</div>
				</div>
				<!-- //my-info-wrap -->
				
				<!-- my-predicted-score -->
				<div class="my-commmon-score my-predicted-score">
					<div class="ttl-box">
						<h4>토익 예상 점수</h4>
						<span class="link">
							<a href="#">종합 분석</a>
						</span>
					</div>
					
					<!-- total-score -->
					<div id="total-score" class="chart-type-col color-theme02">
						<!-- chart-items -->
						<div class="chart-items">
							<div class="display-table">
								<div class="cell chart-name">Total</div>
								<div class="cell">
									<div class="chart-bar-wrap">
										<div class="chart-sections">
											<ul class="display-table">
												<li><em>400</em></li>
												<li><em>500</em></li>
												<li><em>600</em></li>
												<li><em>700</em></li>
												<li class="current"><em>800</em></li>
												<li>
													<em>900</em>
													<span class="last-figures">990</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- //chart-items -->
					</div>
					<!-- //total-score -->

					<div class="date">응시일 : 2017.10.10(간단 진단 TEST)</div>
				</div>
				<!-- //my-predicted-score -->
				
				<!-- detailed_class-wrap -->
				<div class="detailed_class-wrap">
					<p>정밀고사를 응시하면 나의 취약점을 보다 정밀하게 분석할 수 있습니다.</p>

					<div class="btn">
						<a href="#" class="btn-type04 ver2">정밀 진단 TEST 보러가기</a>
					</div>
				</div>
				<!-- //detailed_class-wrap -->
				
				<!-- my-learning-wrap -->
				<div class="my-learning-wrap">
					<div class="ttl-box">
						<h4>학습하기</h4>
						
						<span class="link">
							<a href="#" class="btn-type05 ver-paper">Voca 학습</a>
						</span>
					</div>
					
					<!-- learning-list-wrap -->
					<div class="learning-list-wrap">
						<button type="button" class="btn-more-view-before">이전 5개 더보기</button>

						<!-- learning-item -->
						<div class="learning-item">
							<div class="wrap">
								<div class="subject">
									<a href="#">취약유형 공략 1</a>
								</div>
							
								<!-- btns -->
								<div class="btns multi-btns">
									<div class="display-table">
										<div class="cell">
											<a href="#" class="btn-type06">문제</a>
										</div>
										<div class="cell">
											<a href="#" class="btn-type06 ver-video">인강</a>
										</div>
									</div>
								</div>
								<!-- //btns -->
							</div>
						</div>
						<!-- //learning-item -->

						<!-- learning-item -->
						<div class="learning-item">
							<div class="wrap">
								<a href="#">
									<!--
									학습하기가 완료 되었으면 아래의 
									<span class="state icon-type02">문제 완료</span> 추가해 줍니다.
									-->
									<span class="state icon-type02">문제 완료</span>
									<div class="subject">
										취약유형 공략 2
									</div>
									
									<!-- score -->
									<div class="score">
										점수 
										<span>
											<em>23</em>/30
										</span>
									</div>
									<!-- //score -->
								</a>
								<!-- btns -->
								<div class="btns multi-btns">
									<div class="display-table">
										<div class="cell">
											<a href="#" class="btn-type06">문제</a>
										</div>
										<div class="cell">
											<a href="#" class="btn-type06 ver-video">인강</a>
										</div>
									</div>
								</div>
								<!-- //btns -->
							</div>
						</div>
						<!-- //learning-item -->

						<!-- learning-item -->
						<div class="learning-item">
							<div class="wrap">
								<a href="#">
									<div class="subject">
										취약유형 공략 3<br>
										Part2 의문사의문문에 Yes/No/Sure/Of course는 즉각 소거한다!
									</div>
								</a>
								
								<!-- btns -->
								<div class="btns multi-btns">
									<div class="display-table">
										<div class="cell">
											<a href="#" class="btn-type06">문제</a>
										</div>
										<div class="cell">
											<a href="#" class="btn-type06 ver-video">인강</a>
										</div>
									</div>
								</div>
								<!-- //btns -->
							</div>
						</div>
						<!-- //learning-item -->

						<!-- learning-item -->
						<div class="learning-item">
							<div class="wrap">
								<a href="#">
									<div class="subject">
										<span class="icon-type02 color02">실력 측정</span>
										실전 모의고사 1회
									</div>
								</a>
								<!-- btns -->
								<div class="btns multi-btns">
									<div class="display-table">
										<div class="cell">
											<a href="#" class="btn-type06 ver2">시험보기</a>
										</div>
									</div>
								</div>
								<!-- //btns -->
							</div>
						</div>
						<!-- //learning-item -->

						<!-- learning-item -->
						<div class="learning-item">
							<div class="wrap">
								<a href="#">
									<span class="state icon-type02">모의고사 완료</span>
									<div class="subject">
										실전 모의고사 1회
									</div>

									<div class="score ver-total">
										총점 <em>760</em>점
									</div>
								</a>
								
								<!-- btns -->
								<div class="btns multi-btns">
									<div class="display-table">
										<div class="cell">
											<a href="#" class="btn-type06 ver2">시험보기</a>
										</div>
									</div>
								</div>
								<!-- //btns -->
							</div>
						</div>
						<!-- //learning-item -->

						<button type="button" class="btn-more-view">5개 더보기</button>
					</div>
					<!-- //learning-list-wrap -->
					
					<!-- my-other-items -->
					<div class="my-other-items">

						<!-- mo-item -->
						<div class="mo-item">
							<a href="#" class="wrap display-table">
								<span class="icon"><img src="../../common/mo/images/icon/icon_lc.png" alt="다음강의"></span>
								<span class="cont next-step">
									다음 강의는<br>
									<em>[900목표반]</em> 입니다.
								</span>
							</a>
						</div>
						<!-- //mo-item -->

						<!-- mo-item -->
						<div class="mo-item">
							<a href="#" class="wrap display-table">
								<span class="icon"><img src="../../common/mo/images/icon/icon_gift.png" alt="쿠폰"></span>
								<span class="cont">
									동일강의 재 수강신청 시,<br>
									<em>30% 할인 쿠폰 제공!</em>
								</span>
							</a>
							<a href="#" class="btn-type06 ver3">1:1 문의하기</a>
						</div>
						<!-- //mo-item -->
					</div>
					<!-- //my-other-items -->
				</div>
				<!-- //my-learning-wrap -->
			</div>
			<!-- //myclass-wrap -->
		</div>
		<!-- //contents-body -->
	</div>
	<!-- //contents -->

	<script src="../../common/mo/js/nt.js"></script>
</body>
</html>