<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
	<meta name="format-detection" content="telephone=no">
	<title>파고다스타</title>
	<link rel="apple-touch-icon" href=""/>
	<link rel="shortcut icon" href="" />
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" href="../../common/mo/css/swiper.css" />
	<link rel="stylesheet" href="../../common/mo/css/common.css" />
	<link rel="stylesheet" href="../../common/mo/css/layout.css" />
	<link rel="stylesheet" href="../../common/mo/css/contents.css" />
	<script src="../../common/mo/js/jquery-3.2.1.min.js"></script>
	<script src="../../common/mo/js/jquery-migrate-3.0.0.min.js"></script>
</head>
<body>
	<!-- contents -->
	<div id="contents" class="myclass-contents">
		<!-- contents-top -->
		<div id="contents-top">
			<!-- ver_white -->
			<div class="ver_white">
				<h2 class="my-ttl">종합 분석</h2>
				<button type="button" class="btn-before">이전 페이지</button>
			</div>
			<!-- //ver_white -->
		</div>
		<!-- //contents-top -->
		
		<!-- contents-body -->
		<div id="contents-body">
			<!-- myclass-wrap -->
			<div class="myclass-wrap">
				
				<!-- my-predicted-score -->
				<div class="my-commmon-score my-predicted-score">
					<div class="ttl-box">
						<h4>토익 예상 점수</h4>
					</div>
					
					<!-- total-score -->
					<div id="total-score" class="chart-type-col color-theme02">
						<!-- chart-items -->
						<div class="chart-items">
							<div class="display-table">
								<div class="cell chart-name">Total</div>
								<div class="cell">
									<div class="chart-bar-wrap">
										<div class="chart-sections">
											<ul class="display-table">
												<li><em>400</em></li>
												<li><em>500</em></li>
												<li><em>600</em></li>
												<li><em>700</em></li>
												<li class="current"><em>800</em></li>
												<li>
													<em>900</em>
													<span class="last-figures">990</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- //chart-items -->
					</div>
					<!-- //total-score -->

					<div class="date">응시일 : 2017.10.10(간단 진단 TEST)</div>
					<div class="btn">
						<a href="#" class="btn-type02 ver2">자세히 보기</a>
					</div>
				</div>
				<!-- //my-predicted-score -->

				<p class="my-class-guide">
					* 회차별 결과리포트는 각 취약 유형 공략 학습하기에서 확인 가능합니다.
				</p>
			</div>
			<!-- //myclass-wrap -->
		</div>
		<!-- //contents-body -->
	</div>
	<!-- //contents -->

	<script src="../../common/mo/js/nt.js"></script>
</body>
</html>