<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
	<meta name="format-detection" content="telephone=no">
	<title>파고다스타</title>
	<link rel="apple-touch-icon" href=""/>
	<link rel="shortcut icon" href="" />
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" href="../../common/mo/css/swiper.css" />
	<link rel="stylesheet" href="../../common/mo/css/common.css" />
	<link rel="stylesheet" href="../../common/mo/css/layout.css" />
	<link rel="stylesheet" href="../../common/mo/css/contents.css" />
	<script src="../../common/mo/js/jquery-3.2.1.min.js"></script>
	<script src="../../common/mo/js/jquery-migrate-3.0.0.min.js"></script>
</head>
<body>
	<!-- contents -->
	<div id="contents" class="myclass-contents">
		<!-- contents-top -->
		<div id="contents-top">
			<!-- ver_white -->
			<div class="ver_white">
				<h2 class="my-ttl">인강</h2>
				<button type="button" class="btn-before">이전 페이지</button>
			</div>
			<!-- //ver_white -->
		</div>
		<!-- //contents-top -->
		
		<!-- contents-body -->
		<div id="contents-body">
			<!-- myclass-wrap -->
			<div class="myclass-wrap">
				<!-- my-ingang-wrap -->
				<div class="my-ingang-wrap cont-type01">
					<!-- cont-head -->
					<div class="cont-head">
						<span class="round-type">인강학습 완료</span>
						<h3>RC 3.<br>Part7 시제와 태그</h3>
						<div class="result">(36분)</div>
					</div>
					<!-- //cont-head -->
					
					<!-- cont-body -->
					<div class="cont-body">
						<!-- mo-item -->
						<div class="mo-item">
							<a href="#" class="wrap display-table">
								<span class="icon"><img src="../../common/mo/images/icon/icon_ingang.png" alt="인강" style="width:7px;"></span>
								<span class="cont next-step">
									인강 바로보기
								</span>
							</a>
						</div>
						<!-- //mo-item -->

						<!-- mo-item -->
						<div class="mo-item">
							<a href="#" class="wrap display-table">
								<span class="icon"><img src="../../common/mo/images/icon/icon_ingang.png" alt="인강" style="width:7px;"></span>
								<span class="cont download">
									인강 다운로드
								</span>
							</a>
						</div>
						<!-- //mo-item -->

						<!-- mo-item -->
						<div class="mo-item">
							<a href="#" class="wrap display-table">
								<span class="icon"><img src="../../common/mo/images/icon/icon_headphone.png" alt="학습자료" style="width:13px;"></span>
								<span class="cont download">
									MP3 다운로드
								</span>
							</a>
						</div>
						<!-- //mo-item -->

						<!-- mo-item -->
						<div class="mo-item">
							<a href="#" class="wrap display-table">
								<span class="icon"><img src="../../common/mo/images/icon/icon_pdf.png" alt="학습자료" style="width:14px;"></span>
								<span class="cont download">
									PDF 다운로드
								</span>
							</a>
						</div>
						<!-- //mo-item -->
					</div>
					<!-- //cont-body -->
				</div>
				<!-- //my-ingang-wrap -->
			</div>
			<!-- //myclass-wrap -->
		</div>
		<!-- //contents-body -->
	</div>
	<!-- //contents -->

	<!-- pgds-menubar -->
	<section class="pgds-menubar">
		<ul>
			<li>
				<a href="/" class="ui-link">홈</a>
			</li>
			<li>
				<a href="/m/foot/menu" class="ui-link">과목선택</a>
			</li>
			<li>
				<a href="/m/foot/recent" class="ui-link">
					최근본강의 <em class="num" id="sideBarRecentCnt">0</em>
				</a>
			</li>
			<li>
				<a href="/m/foot/my" class="ui-link">MY</a>
			</li>
		</ul>
	</section>
	<!-- //pgds-menubar -->

	<script src="../../common/mo/js/nt.js"></script>
</body>
</html>