<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
	<meta name="format-detection" content="telephone=no">
	<title>파고다스타</title>
	<link rel="apple-touch-icon" href=""/>
	<link rel="shortcut icon" href="" />
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" href="../../common/mo/css/swiper.css" />
	<link rel="stylesheet" href="../../common/mo/css/common.css" />
	<link rel="stylesheet" href="../../common/mo/css/layout.css" />
	<link rel="stylesheet" href="../../common/mo/css/contents.css" />
	<link rel="stylesheet" href="../../common/mo/css/swiper.min.css" />
	<link rel="stylesheet" href="../../common/mo/css/jplayer.css" />
	<script src="../../common/mo/js/jquery-3.2.1.min.js"></script>
	<script src="../../common/mo/js/jquery-migrate-3.0.0.min.js"></script>
	<script src="../../common/mo/js/swiper.min.js"></script>
	<script src="../../common/mo/js/jquery.jplayer.min.js"></script>
</head>
<body>
	<!-- contents -->
	<div id="contents">
		<!-- contents-top -->
		<div id="contents-top">
			<!-- ver_white -->
			<div class="ver_white">
				<h2 class="ct-ttl"><img src="../../common/mo/images/ttl/ttl_report.png" alt="결과 분석"></h2>
				<!-- ct-btn-box -->
				<div class="ct-btn-box">
					<a href="#" class="btn-myclass">내 강의실</a>
				</div>
				<!-- //ct-btn-box -->
			</div>
			<!-- //ver_white -->
		</div>
		<!-- //contents-top -->

		<!-- contents-body -->
		<div id="contents-body">
			<!-- report-wrap -->
			<div class="report-wrap">
				<!-- 내 점수 -->
				<div class="my-score-wrap section">
					<!-- my-score-info -->
					<div class="my-score-info">
						<h3 class="s-title">홍길동님의 점수</h3>
						<div class="score-box">
							<em>23</em> <span class="total">/ 30</span>
							<span class="percent">(정답률 76%)</span>
						</div>
					</div>
					<!-- //my-score-info -->

					<!-- my-score-chart -->
					<div class="my-score-chart">
						<div class="chart-type-col">
							<!-- chart-items -->
							<div class="chart-items">
								<div class="display-table">
									<div class="cell chart-name">전체 응시자 평균</div>
									<div class="cell">
										<div class="chart-bar-wrap">
											<span class="chart-bar" style="width:55%"><em class="chart-num">18</em></span>
										</div>
									</div>
								</div>
							</div>
							<!-- //chart-items -->

							<!-- chart-items -->
							<div class="chart-items">
								<div class="display-table">
									<div class="cell chart-name">동 점수대평균</div>
									<div class="cell">
										<div class="chart-bar-wrap">
											<span class="chart-bar" style="width:65%"><em class="chart-num">20</em></span>
										</div>
									</div>
								</div>
							</div>
							<!-- //chart-items -->

							<!-- chart-items -->
							<div class="chart-items result-items">
								<div class="display-table">
									<div class="cell chart-name">내점수</div>
									<div class="cell">
										<div class="chart-bar-wrap">
											<span class="chart-bar" style="width:75%"><em class="chart-num">23</em></span>
										</div>

										<div class="figures">
											<div class="display-table">
												<span>10</span>
												<span>20</span>
												<span>30</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- //chart-items -->
						</div>
					</div>
					<!-- //my-score-chart -->
				</div>
				<!-- //내 점수 -->

				<!-- LC 횟차별 점수 분포 -->
				<div class="rounds-distribution section">
					<h3 class="s-title">LC문제 회차별 점수</h3>


					<!-- chart-type-point -->
					<div class="chart-type-point" data-max="30">
						<span class="chart-line"><span></span></span>

						<!-- chart-wrap -->
						<div class="chart-wrap">
							<div class="chart-rows">
								<span><em>0</em></span>
								<span><em>10</em></span>
								<span><em>20</em></span>
								<span><em>30</em></span>
							</div>
							<!--
							데이터가 없는 회차의 경우
							<div class="chart-items"> 의 data-num 값을 0으로 설정하거나, 공백으로 처리하면 적용됩니다.
							<em class="chart-num"> 에도 echo 출력 X
							-->
							<div class="display-table">
								<!-- chart-items -->
								<div class="chart-items" data-num="20">
									<div class="chart-name"><em>1</em>회차</div>
									<div class="chart-bar-wrap">
										<span class="chart-bar"><em class="chart-num">20</em></span>
									</div>
								</div>
								<!-- //chart-items -->

								<!-- chart-items -->
								<div class="chart-items" data-num="10">
									<div class="chart-name"><em>2</em>회차</div>
									<div class="chart-bar-wrap">
										<span class="chart-bar"><em class="chart-num">10</em></span>
									</div>
								</div>
								<!-- //chart-items -->

								<!-- chart-items -->
								<div class="chart-items" data-num="15">
									<div class="chart-name"><em>3</em>회차</div>
									<div class="chart-bar-wrap">
										<span class="chart-bar"><em class="chart-num">15</em></span>
									</div>
								</div>
								<!-- //chart-items -->

								<!-- chart-items -->
								<div class="chart-items" data-num="18">
									<div class="chart-name"><em>4</em>회차</div>
									<div class="chart-bar-wrap">
										<span class="chart-bar"><em class="chart-num">18</em></span>
									</div>
								</div>
								<!-- //chart-items -->
							</div>

						</div>
						<!-- //chart-wrap -->
					</div>
					<!-- //chart-type-point -->
				</div>
				<!-- //LC 횟차별 점수 분포 -->
			</div>
			<!-- //report-wrap -->


		</div>
		<!-- //contents-body -->

		<!-- contents-btm -->
		<div id="contents-btm">
			<!-- cb-nav -->
			<div class="cb-btns">
				<ul class="display-table">
					<li class="cell">
						<a href="#" class="btn-type03 ver-constant-answer">정오답 해설</a>
					</li>
				</ul>
			</div>
			<!-- //cb-nav -->
		</div>
		<!-- //contents-btm -->
	</div>
	<!-- //contents -->
	<script src="../../common/mo/js/nt.js"></script>
</body>
</html>
