<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
	<meta name="format-detection" content="telephone=no">
	<title>파고다스타</title>
	<link rel="apple-touch-icon" href=""/>
	<link rel="shortcut icon" href="" />
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" href="../../common/mo/css/swiper.css" />
	<link rel="stylesheet" href="../../common/mo/css/common.css" />
	<link rel="stylesheet" href="../../common/mo/css/layout.css" />
	<link rel="stylesheet" href="../../common/mo/css/contents.css" />
	<link rel="stylesheet" href="../../common/mo/css/swiper.min.css" />
	<link rel="stylesheet" href="../../common/mo/css/jplayer.css" />
	<script src="../../common/mo/js/jquery-3.2.1.min.js"></script>
	<script src="../../common/mo/js/jquery-migrate-3.0.0.min.js"></script>
	<script src="../../common/mo/js/swiper.min.js"></script>
	<script src="../../common/mo/js/jquery.jplayer.min.js"></script>
</head>
<body>
	<!-- contents -->
	<div id="contents">
		<!-- contents-top -->
		<div id="contents-top">
			<!-- ver_white -->
			<div class="ver_white">
				<h2 class="ct-ttl"><img src="../../common/mo/images/ttl/ttl_report.png" alt="결과 분석"></h2>
				<!-- ct-btn-box -->
				<div class="ct-btn-box">
					<a href="#" class="btn-myclass">내 강의실</a>
				</div>
				<!-- //ct-btn-box -->
			</div>
			<!-- //ver_white -->
		</div>
		<!-- //contents-top -->

		<!-- contents-body -->
		<div id="contents-body">
			<!-- report-wrap -->
			<div class="report-wrap">

				<!-- 영역별 분석 결과 -->
				<div class="analysis-by-area ver2 section">
					<h3 class="s-title">영역별 분석 결과</h3>

					<!-- analysis-section -->
					<div class="analysis-section">
						<h4 class="s-title02">LC 분석 결과</h4>
						<div class="box">
							<!-- info-type-col -->
							<div class="info-type-col">
								<div class="display-table">
									<div class="cell analysis-topic">
										<span class="icon-type">취약 유형 1</span>
										<p>to 부정사의 역할</p>
									</div>
									<div class="cell">
										<!-- chart-wrap -->
										<div class="chart-circle-wrap">
											<div class="chart-circle" data-percent="60">
												<svg width="100%" height="100%">
												  <circle r="44%" cx="50%" cy="50%" class="chart-circle-base" fill="transparent" stroke-width="14" stroke="#EEE"></circle>
												  <circle r="44%" cx="50%" cy="50%" class="chart-circle-progress" stroke-width="14" stroke-linecap="round"></circle>
												</svg>
												<em class="per-num"><span>0</span>%</em>
											</div>
										</div>
										<!-- //chart-wrap -->
									</div>
								</div>
							</div>
							<!-- //info-type-col -->

							<dl class="btns">
								<dd class="display-table">
									<span><a href="#" class="btn-type04 ver-direct btn_border_ani">인강 바로보기</a></span>
									<span><a href="#" class="btn-type04 ver-download btn_border_ani">인강 다운로드</a></span>
								</dd>
							</dl>
						</div>

						<div class="box">
							<!-- info-type-col -->
							<div class="info-type-col">
								<div class="display-table">
									<div class="cell analysis-topic">
										<span class="icon-type color02">취약 유형 2</span>
										<p>간접 의문문</p>
									</div>
									<div class="cell">
										<!-- chart-wrap -->
										<div class="chart-circle-wrap">
											<div class="chart-circle theme02" data-percent="30">
												<svg width="100%" height="100%">
												  <circle r="44%" cx="50%" cy="50%" class="chart-circle-base" fill="transparent" stroke-width="14" stroke="#EEE"></circle>
												  <circle r="44%" cx="50%" cy="50%" class="chart-circle-progress" stroke-width="14" stroke-linecap="round"></circle>
												</svg>
												<em class="per-num"><span>0</span>%</em>
											</div>
										</div>
										<!-- //chart-wrap -->
									</div>
								</div>
							</div>
							<!-- //info-type-col -->
						</div>

						<div class="box">
							<!-- info-type-col -->
							<div class="info-type-col">
								<div class="display-table">
									<div class="cell analysis-topic">
										<span class="icon-type color03">취약 유형 3</span>
										<p>가산∙불가산 명사를 모두 취하는 수량형용사</p>
									</div>
									<div class="cell">
										<!-- chart-wrap -->
										<div class="chart-circle-wrap">
											<div class="chart-circle theme03" data-percent="86">
												<svg width="100%" height="100%">
												  <circle r="44%" cx="50%" cy="50%" class="chart-circle-base" fill="transparent" stroke-width="14" stroke="#EEE"></circle>
												  <circle r="44%" cx="50%" cy="50%" class="chart-circle-progress" stroke-width="14" stroke-linecap="round"></circle>
												</svg>
												<em class="per-num"><span>0</span>%</em>
											</div>
										</div>
										<!-- //chart-wrap -->
									</div>
								</div>
							</div>
							<!-- //info-type-col -->
						</div>

						<div class="box">
							<!-- info-type-col -->
							<div class="info-type-col">
								<div class="display-table">
									<div class="cell analysis-topic">
										<span class="icon-type color04">취약 유형 4</span>
										<p>
											Whose 의문문
										</p>
									</div>
									<div class="cell">
										<!-- chart-wrap -->
										<div class="chart-circle-wrap">
											<div class="chart-circle theme04" data-percent="25">
												<svg width="100%" height="100%">
												  <circle r="44%" cx="50%" cy="50%" class="chart-circle-base" fill="transparent" stroke-width="14" stroke="#EEE"></circle>
												  <circle r="44%" cx="50%" cy="50%" class="chart-circle-progress" stroke-width="14" stroke-linecap="round"></circle>
												</svg>
												<em class="per-num"><span>0</span>%</em>
											</div>
										</div>
										<!-- //chart-wrap -->
									</div>
								</div>
							</div>
							<!-- //info-type-col -->
						</div>

						<div class="box">
							<!-- info-type-col -->
							<div class="info-type-col">
								<div class="display-table">
									<div class="cell analysis-topic">
										<span class="icon-type color05">취약 유형 5</span>
										<p>가산∙불가산 명사를 모두 취하는 수량형용사</p>
									</div>
									<div class="cell">
										<!-- chart-wrap -->
										<div class="chart-circle-wrap">
											<div class="chart-circle theme05" data-percent="78">
												<svg width="100%" height="100%">
												  <circle r="44%" cx="50%" cy="50%" class="chart-circle-base" fill="transparent" stroke-width="14" stroke="#EEE"></circle>
												  <circle r="44%" cx="50%" cy="50%" class="chart-circle-progress" stroke-width="14" stroke-linecap="round"></circle>
												</svg>
												<em class="per-num"><span>0</span>%</em>
											</div>
										</div>
										<!-- //chart-wrap -->
									</div>
								</div>
							</div>
							<!-- //info-type-col -->
						</div>
					</div>
					<!-- //analysis-section -->

					<!-- analysis-section -->
					<div class="analysis-section">
						<h4 class="s-title02">RC 분석 결과</h4>
						<div class="box">
							<!-- info-type-col -->
							<div class="info-type-col">
								<div class="display-table">
									<div class="cell analysis-topic">
										<span class="icon-type">취약 유형 1</span>
										<p>to 부정사의 역할</p>
									</div>
									<div class="cell">
										<!-- chart-wrap -->
										<div class="chart-circle-wrap">
											<div class="chart-circle" data-percent="60">
												<svg width="100%" height="100%">
												  <circle r="44%" cx="50%" cy="50%" class="chart-circle-base" fill="transparent" stroke-width="14" stroke="#EEE"></circle>
												  <circle r="44%" cx="50%" cy="50%" class="chart-circle-progress" stroke-width="14" stroke-linecap="round"></circle>
												</svg>
												<em class="per-num"><span>0</span>%</em>
											</div>
										</div>
										<!-- //chart-wrap -->
									</div>
								</div>
							</div>
							<!-- //info-type-col -->

							<dl class="btns">
								<dd class="display-table">
									<span><a href="#" class="btn-type04 ver-direct btn_border_ani">인강 바로보기</a></span>
									<span><a href="#" class="btn-type04 ver-download btn_border_ani">인강 다운로드</a></span>
								</dd>
							</dl>
						</div>

						<div class="box">
							<!-- info-type-col -->
							<div class="info-type-col">
								<div class="display-table">
									<div class="cell analysis-topic">
										<span class="icon-type color02">취약 유형 2</span>
										<p>간접 의문문</p>
									</div>
									<div class="cell">
										<!-- chart-wrap -->
										<div class="chart-circle-wrap">
											<div class="chart-circle theme02" data-percent="30">
												<svg width="100%" height="100%">
												  <circle r="44%" cx="50%" cy="50%" class="chart-circle-base" fill="transparent" stroke-width="14" stroke="#EEE"></circle>
												  <circle r="44%" cx="50%" cy="50%" class="chart-circle-progress" stroke-width="14" stroke-linecap="round"></circle>
												</svg>
												<em class="per-num"><span>0</span>%</em>
											</div>
										</div>
										<!-- //chart-wrap -->
									</div>
								</div>
							</div>
							<!-- //info-type-col -->
						</div>

						<div class="box">
							<!-- info-type-col -->
							<div class="info-type-col">
								<div class="display-table">
									<div class="cell analysis-topic">
										<span class="icon-type color03">취약 유형 3</span>
										<p>가산∙불가산 명사를 모두 취하는 수량형용사</p>
									</div>
									<div class="cell">
										<!-- chart-wrap -->
										<div class="chart-circle-wrap">
											<div class="chart-circle theme03" data-percent="86">
												<svg width="100%" height="100%">
												  <circle r="44%" cx="50%" cy="50%" class="chart-circle-base" fill="transparent" stroke-width="14" stroke="#EEE"></circle>
												  <circle r="44%" cx="50%" cy="50%" class="chart-circle-progress" stroke-width="14" stroke-linecap="round"></circle>
												</svg>
												<em class="per-num"><span>0</span>%</em>
											</div>
										</div>
										<!-- //chart-wrap -->
									</div>
								</div>
							</div>
							<!-- //info-type-col -->
						</div>

						<div class="box">
							<!-- info-type-col -->
							<div class="info-type-col">
								<div class="display-table">
									<div class="cell analysis-topic">
										<span class="icon-type color04">취약 유형 4</span>
										<p>
											Whose 의문문
										</p>
									</div>
									<div class="cell">
										<!-- chart-wrap -->
										<div class="chart-circle-wrap">
											<div class="chart-circle theme04" data-percent="25">
												<svg width="100%" height="100%">
												  <circle r="44%" cx="50%" cy="50%" class="chart-circle-base" fill="transparent" stroke-width="14" stroke="#EEE"></circle>
												  <circle r="44%" cx="50%" cy="50%" class="chart-circle-progress" stroke-width="14" stroke-linecap="round"></circle>
												</svg>
												<em class="per-num"><span>0</span>%</em>
											</div>
										</div>
										<!-- //chart-wrap -->
									</div>
								</div>
							</div>
							<!-- //info-type-col -->
						</div>

						<div class="box">
							<!-- info-type-col -->
							<div class="info-type-col">
								<div class="display-table">
									<div class="cell analysis-topic">
										<span class="icon-type color05">취약 유형 5</span>
										<p>가산∙불가산 명사를 모두 취하는 수량형용사</p>
									</div>
									<div class="cell">
										<!-- chart-wrap -->
										<div class="chart-circle-wrap">
											<div class="chart-circle theme05" data-percent="78">
												<svg width="100%" height="100%">
												  <circle r="44%" cx="50%" cy="50%" class="chart-circle-base" fill="transparent" stroke-width="14" stroke="#EEE"></circle>
												  <circle r="44%" cx="50%" cy="50%" class="chart-circle-progress" stroke-width="14" stroke-linecap="round"></circle>
												</svg>
												<em class="per-num"><span>0</span>%</em>
											</div>
										</div>
										<!-- //chart-wrap -->
									</div>
								</div>
							</div>
							<!-- //info-type-col -->
						</div>
					</div>
					<!-- //analysis-section -->
				</div>
				<!-- //영역별 분석 결과 -->

				<!-- 취약 유형 -->
				<div class="weak-type-report section">
					<h3 class="s-title">다음 차 시 취약 유형</h3>

					<!-- article -->
					<div class="article">
						<div class="top5-box">
							<div class="top5-title"><em>LC 취약 유형 TOP 5</em></div>
							<ol>
								<li>
									<a href="#" class="btn-layer" data-layer="layer-weak-type-report01">
										<em>1</em>
										<p>to 부정사의 역할</p>
									</a>
								</li>
								<li>
									<a href="#">
										<em>2</em>
										<p>to 부정사의 역할</p>
									</a>
								</li>
								<li>
									<a href="#">
										<em>3</em>
										<p>to 부정사의 역할</p>
									</a>
								</li>
								<li>
									<a href="#">
										<em>4</em>
										<p>to 부정사의 역할</p>
									</a>
								</li>
								<li>
									<a href="#">
										<em>5</em>
										<p>가산∙불가산 명사를 모두 취하는 수량형용사</p>
									</a>
								</li>
							</ol>
						</div>
					</div>
					<!-- //article -->

					<!-- article -->
					<div class="article">
						<div class="top5-box">
							<div class="top5-title"><em>RC 취약 유형 TOP 5</em></div>

							<ol>
								<li>
									<a href="#" class="btn-layer" data-layer="layer-weak-type-report01">
										<em>1</em>
										<p>to 부정사의 역할</p>
									</a>
								</li>
								<li>
									<a href="#">
										<em>2</em>
										<p>to 부정사의 역할</p>
									</a>
								</li>
								<li>
									<a href="#">
										<em>3</em>
										<p>to 부정사의 역할</p>
									</a>
								</li>
								<li>
									<a href="#">
										<em>4</em>
										<p>to 부정사의 역할</p>
									</a>
								</li>
								<li>
									<a href="#">
										<em>5</em>
										<p>가산∙불가산 명사를 모두 취하는 수량형용사</p>
									</a>
								</li>
							</ol>
						</div>
					</div>
					<!-- //article -->

					<div class="page-btn">
						<a href="#" class="btn-bold">다음 차 시 응시</a>
					</div>
				</div>
				<!-- //취약 유형 -->
			</div>
			<!-- //report-wrap -->
		</div>
		<!-- //contents-body -->

		<!-- contents-btm -->
		<div id="contents-btm">
			<!-- cb-nav -->
			<div class="cb-btns">
				<ul class="display-table">
					<li class="cell">
						<a href="#" class="btn-type03 ver-constant-answer">정오답 해설</a>
					</li>
				</ul>
			</div>
			<!-- //cb-nav -->
		</div>
		<!-- //contents-btm -->
	</div>
	<!-- //contents -->
	<script src="../../common/mo/js/nt.js"></script>
</body>
</html>
