<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
	<meta name="format-detection" content="telephone=no">
	<title>파고다스타</title>
	<link rel="apple-touch-icon" href=""/>
	<link rel="shortcut icon" href="" />
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" href="../../common/mo/css/swiper.css" />
	<link rel="stylesheet" href="../../common/mo/css/common.css" />
	<link rel="stylesheet" href="../../common/mo/css/layout.css" />
	<link rel="stylesheet" href="../../common/mo/css/contents.css" />
	<link rel="stylesheet" href="../../common/mo/css/swiper.min.css" />
	<link rel="stylesheet" href="../../common/mo/css/jplayer.css" />
	<script src="../../common/mo/js/jquery-3.2.1.min.js"></script>
	<script src="../../common/mo/js/jquery-migrate-3.0.0.min.js"></script>
	<script src="../../common/mo/js/swiper.min.js"></script>
	<script src="../../common/mo/js/jquery.jplayer.min.js"></script>
</head>
<body>
	<!-- contents -->
	<div id="contents">
		<!-- contents-top -->
		<div id="contents-top">
			<!-- ver_white -->
			<div class="ver_white">
				<h2 class="ct-ttl"><img src="../../common/mo/images/ttl/ttl_report.png" alt="결과 분석"></h2>
				<!-- ct-btn-box -->
				<div class="ct-btn-box">
					<a href="#" class="btn-myclass">MY</a>
				</div>
				<!-- //ct-btn-box -->
			</div>
			<!-- //ver_white -->
		</div>
		<!-- //contents-top -->

		<!-- contents-body -->
		<div id="contents-body">
			<!-- report-wrap -->
			<div class="report-wrap">
				<!-- 내 점수 -->
				<div class="my-score-wrap section">
					<!-- my-score-info -->
					<div class="my-score-info">
						<h3 class="s-title">홍길동님의 점수</h3>
						<div class="score-box">
							<em>90</em> <span class="total">/ 100</span>
							<span class="percent">(정답률 90%)</span>
						</div>
					</div>
					<!-- //my-score-info -->

					<!-- guide-message -->
					<div class="guide-message">
						ID이름님의 점수는 전체 응시자의 상위 <span class="score">NN</span>% 에 해당합니다.
					</div>
					<!-- //guide-message -->

					<!-- my-score-chart -->
					<div class="my-score-chart">
						<div class="chart-type-col">
							<!-- chart-items -->
							<div class="chart-items">
								<div class="display-table">
									<div class="cell chart-name">전체 응시자 평균</div>
									<div class="cell">
										<div class="chart-bar-wrap">
											<span class="chart-bar" style="width:55%"><em class="chart-num">18</em></span>
										</div>
									</div>
								</div>
							</div>
							<!-- //chart-items -->

							<!-- chart-items -->
							<div class="chart-items">
								<div class="display-table">
									<div class="cell chart-name">동 점수대평균</div>
									<div class="cell">
										<div class="chart-bar-wrap">
											<span class="chart-bar" style="width:65%"><em class="chart-num">20</em></span>
										</div>
									</div>
								</div>
							</div>
							<!-- //chart-items -->

							<!-- chart-items -->
							<div class="chart-items result-items">
								<div class="display-table">
									<div class="cell chart-name">내점수</div>
									<div class="cell">
										<div class="chart-bar-wrap">
											<span class="chart-bar" style="width:75%"><em class="chart-num">23</em></span>
										</div>

										<div class="figures">
											<div class="display-table">
												<span>10</span>
												<span>20</span>
												<span>30</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- //chart-items -->
						</div>
					</div>
					<!-- //my-score-chart -->
				</div>
				<!-- //내 점수 -->

				<!-- 토익 예상 점수 -->
				<div class="predicted-score section">
					<h3 class="s-title">토익 예상 점수</h3>

					<!-- pre-score-chart -->
					<div class="pre-score-chart">
						<div class="chart-type-col color-theme02">
							<!-- chart-items -->
							<div class="chart-items">
								<div class="display-table">
									<div class="cell chart-name">LC</div>
									<div class="cell">
										<div class="chart-bar-wrap">
											<span class="chart-bar" style="width:80%"><em class="chart-num">440</em></span>
										</div>
									</div>
								</div>
							</div>
							<!-- //chart-items -->

							<!-- chart-items -->
							<div class="chart-items">
								<div class="display-table">
									<div class="cell chart-name">RC</div>
									<div class="cell">
										<div class="chart-bar-wrap">
											<span class="chart-bar" style="width:40%"><em class="chart-num">200</em></span>
										</div>

										<div class="figures">
											<div class="display-table">
												<span>250</span>
												<span>495</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- //chart-items -->
						</div>

						<div id="total-score" class="chart-type-col color-theme02">
							<!-- chart-items -->
							<div class="chart-items">
								<div class="display-table">
									<div class="cell chart-name">Total</div>
									<div class="cell">
										<div class="chart-bar-wrap">
											<div class="chart-sections">
												<ul class="display-table">
													<li><em>400</em></li>
													<li><em>500</em></li>
													<li><em>600</em></li>
													<li><em>700</em></li>
													<li class="current"><em>800</em></li>
													<li>
														<em>900</em>
														<span class="last-figures">990</span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- //chart-items -->
						</div>
					</div>
					<!-- //pre-score-chart -->
				</div>
				<!-- 토익 예상 점수-->

				<!-- 토익 점수 분포도 -->
				<div class="distribution section">
					<h3 class="s-title02">토익 점수 분포도</h3>
					<!--
					분포도 이미지
					값에따라 이미지명을 변경해주시면 됩니다.
					chart_1.png <-- 숫자값이 1 ~ 6번까지 존재합니다.
					chart_2.png, chart_3.png, chart_4.png, chart_5.png, chart_6.png
					-->
					<div class="chart-img">
						<img src="../../common/mo/images/chart/chart_2.png" alt="분포도">
					</div>
					<!-- //분포도 이미지 -->
				</div>
				<!-- //토익 점수 분포도 -->

				<!-- 영역별 분석 결과 -->
				<div class="analysis-by-area section">
					<h3 class="s-title">영역별 분석 결과</h3>

					<div class="article">
						<h4 class="s-title02">LC 분석</h4>

						<!-- chart-type-row -->
						<div class="chart-type-row">
							<span class="chart-line"><span></span></span>

							<!-- chart-wrap -->
							<div class="chart-wrap">
								<div class="display-table">
									<!-- chart-items -->
									<div class="chart-items">
										<div class="chart-name"><em>사진묘사</em></div>
										<div class="chart-bar-wrap">
											<span class="chart-bar" style="height:60%"><em class="chart-num"></em></span>
										</div>
									</div>
									<!-- //chart-items -->

									<!-- chart-items -->
									<div class="chart-items">
										<div class="chart-name"><em>질의응답</em></div>
										<div class="chart-bar-wrap">
											<span class="chart-bar" style="height:77%"><em class="chart-num"></em></span>
										</div>
									</div>
									<!-- //chart-items -->

									<!-- chart-items -->
									<div class="chart-items">
										<div class="chart-name"><em>일반정보</em></div>
										<div class="chart-bar-wrap">
											<span class="chart-bar" style="height:35%"><em class="chart-num"></em></span>
										</div>
									</div>
									<!-- //chart-items -->

									<!-- chart-items -->
									<div class="chart-items">
										<div class="chart-name"><em>세부정보</em></div>
										<div class="chart-bar-wrap">
											<span class="chart-bar" style="height:90%"><em class="chart-num"></em></span>
										</div>
									</div>
									<!-- //chart-items -->

									<!-- chart-items -->
									<div class="chart-items">
										<div class="chart-name"><em>연계/추론</em></div>
										<div class="chart-bar-wrap">
											<span class="chart-bar" style="height:40%"><em class="chart-num"></em></span>
										</div>
									</div>
									<!-- //chart-items -->
								</div>

							</div>
							<!-- //chart-wrap -->
						</div>
						<!-- //chart-type-row -->
					</div>

					<div class="article">
						<h4 class="s-title02">RC 분석</h4>

						<!-- chart-type-row -->
						<div class="chart-type-row">
							<span class="chart-line"><span></span></span>

							<!-- chart-wrap -->
							<div class="chart-wrap">
								<div class="display-table">
									<!-- chart-items -->
									<div class="chart-items">
										<div class="chart-name"><em>문법</em></div>
										<div class="chart-bar-wrap">
											<span class="chart-bar" style="height:60%"><em class="chart-num"></em></span>
										</div>
									</div>
									<!-- //chart-items -->

									<!-- chart-items -->
									<div class="chart-items">
										<div class="chart-name"><em>어휘</em></div>
										<div class="chart-bar-wrap">
											<span class="chart-bar" style="height:77%"><em class="chart-num"></em></span>
										</div>
									</div>
									<!-- //chart-items -->

									<!-- chart-items -->
									<div class="chart-items">
										<div class="chart-name"><em>일반정보</em></div>
										<div class="chart-bar-wrap">
											<span class="chart-bar" style="height:35%"><em class="chart-num"></em></span>
										</div>
									</div>
									<!-- //chart-items -->

									<!-- chart-items -->
									<div class="chart-items">
										<div class="chart-name"><em>세부정보</em></div>
										<div class="chart-bar-wrap">
											<span class="chart-bar" style="height:90%"><em class="chart-num"></em></span>
										</div>
									</div>
									<!-- //chart-items -->

									<!-- chart-items -->
									<div class="chart-items">
										<div class="chart-name"><em>연계/추론</em></div>
										<div class="chart-bar-wrap">
											<span class="chart-bar" style="height:40%"><em class="chart-num"></em></span>
										</div>
									</div>
									<!-- //chart-items -->
								</div>

							</div>
							<!-- //chart-wrap -->
						</div>
						<!-- //chart-type-row -->
					</div>
				</div>
				<!-- //영역별 분석 결과 -->

				<!-- 취약 유형 -->
				<div class="weak-type-report section">
					<h3 class="s-title">취약 유형 분석 결과</h3>

					<!-- article -->
					<div class="article">
						<div class="top5-box">
						<div class="top5-title"><em>LC</em> TOP 5</div>

						<ol>
							<li>
								<a href="#" class="btn-layer" data-layer="layer-weak-type-report01">
									<em>1</em>
									<p>to 부정사의 역할</p>
								</a>
							</li>
							<li>
								<a href="#">
									<em>2</em>
									<p>to 부정사의 역할</p>
								</a>
							</li>
							<li>
								<a href="#">
									<em>3</em>
									<p>to 부정사의 역할</p>
								</a>
							</li>
							<li>
								<a href="#">
									<em>4</em>
									<p>to 부정사의 역할</p>
								</a>
							</li>
							<li>
								<a href="#">
									<em>5</em>
									<p>가산∙불가산 명사를 모두 취하는 수량형용사</p>
								</a>
							</li>
						</ol>
					</div>
					</div>
					<!-- //article -->

					<!-- article -->
					<div class="article">
						<div class="top5-box">
						<div class="top5-title"><em>RC</em> TOP 5</div>

						<ol>
							<li>
								<a href="#" class="btn-layer" data-layer="layer-weak-type-report01">
									<em>1</em>
									<p>to 부정사의 역할</p>
								</a>
							</li>
							<li>
								<a href="#">
									<em>2</em>
									<p>to 부정사의 역할</p>
								</a>
							</li>
							<li>
								<a href="#">
									<em>3</em>
									<p>to 부정사의 역할</p>
								</a>
							</li>
							<li>
								<a href="#">
									<em>4</em>
									<p>to 부정사의 역할</p>
								</a>
							</li>
							<li>
								<a href="#">
									<em>5</em>
									<p>가산∙불가산 명사를 모두 취하는 수량형용사</p>
								</a>
							</li>
						</ol>
					</div>
					</div>
					<!-- //article -->
				</div>
				<!-- //취약 유형 -->
			</div>
			<!-- //report-wrap -->

			<!-- common_layer -->
			<div id="layer-weak-type-report01" class="common-layer">
				<!-- display-table -->
				<div class="display-table">
					<div class="c-layer-head">
						<h2>RC 취약 유형 TOP 5</h2>

						<button type="button" class="close">닫기</button>
					</div>
					<div class="c-layer-body">
						<!-- c-layer-scroll -->
						<div class="c-layer-scroll">
							<!-- cb-vulnerable-area -->
							<div class="cb-vulnerable-area">
								<div class="vulnerable-area-cont">
									<h3><em>1</em>to 부정사의 역할</h3>
									<!-- section -->
									<div class="section">
										<div class="in_title">약점 진단</div>
										<div class="cont">
											가산 명사와 불가산 명사의 특징 및 혼동하기 쉬운 빈출 가산 명사 vs.
											불가산 명사 학습이 필요합니다. 가산 명사와 불가산 명사의 특징 및 혼동하기 쉬운
											빈출 가산 명사 vs. 불가산 명사 학습이 필요합니다.
										</div>
									</div>
									<!-- //section -->

									<!-- section -->
									<div class="section">
										<div class="in_title">약점 공략</div>
										<div class="cont">
											빈출 불가산 명사를 따로 암기해두고, 의미가 비슷하여 해석으로 판단하기
											힘든 경우에는 한정사 유무로 가산 vs. 불가산 명사를 구별할 수 있어야 합니다.
										</div>
									</div>
									<!-- //section -->
								</div>
							</div>
							<!-- //cb-vulnerable-area -->
						</div>
						<!-- //c-layer-scroll -->
					</div>
				</div>
				<!-- //display-table -->
			</div>
			<!-- //common_layer -->
		</div>
		<!-- //contents-body -->

		<!-- contents-btm -->
		<div id="contents-btm">
			<!-- cb-nav -->
			<div class="cb-btns">
				<ul class="display-table">
					<li class="cell">
						<a href="#" class="btn-type03 ver-recommend">추천 강의</a>
					</li>
					<li class="cell">
						<a href="#" class="btn-type03 ver-constant-answer">정오답 해설</a>
					</li>
				</ul>
			</div>
			<!-- //cb-nav -->
		</div>
		<!-- //contents-btm -->
	</div>
	<!-- //contents -->
	<script src="../../common/mo/js/nt.js"></script>
</body>
</html>
