<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
	<meta name="format-detection" content="telephone=no">
	<title>파고다스타</title>
	<link rel="apple-touch-icon" href=""/>
	<link rel="shortcut icon" href="" />
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" href="../../common/mo/css/swiper.css" />
	<link rel="stylesheet" href="../../common/mo/css/common.css" />
	<link rel="stylesheet" href="../../common/mo/css/layout.css" />
	<link rel="stylesheet" href="../../common/mo/css/contents.css" />
	<link rel="stylesheet" href="../../common/mo/css/swiper.min.css" />
	<link rel="stylesheet" href="../../common/mo/css/jplayer.css" />
	<script src="../../common/mo/js/jquery-3.2.1.min.js"></script>
	<script src="../../common/mo/js/jquery-migrate-3.0.0.min.js"></script>
	<script src="../../common/mo/js/swiper.min.js"></script>
	<script src="../../common/mo/js/jquery.jplayer.min.js"></script>
</head>
<body>
	<!-- contents -->
	<div id="contents">
		<!-- contents-top -->
		<div id="contents-top">
			<!-- ver_white -->
			<div class="ver_white">
				<h2 class="ct-ttl"><img src="../../common/mo/images/ttl/ttl_curation.png" alt="추천 강의"></h2>
				<!-- ct-btn-box -->
				<div class="ct-btn-box">
					<a href="#" class="btn-myclass">MY</a>
				</div>
				<!-- //ct-btn-box -->
			</div>
			<!-- //ver_white -->
		</div>
		<!-- //contents-top -->

		<!-- contents-body -->
		<div id="contents-body">
			<!-- report-wrap -->
			<div class="report-wrap">
				<!-- 토익 예측 점수 -->
				<div class="predicted-score section">
					<h3 class="s-title">토익 예상 점수</h3>

					<!-- pre-score-chart -->
					<div class="pre-score-chart">
						<div class="chart-type-col color-theme02">
							<!-- chart-items -->
							<div class="chart-items">
								<div class="display-table">
									<div class="cell chart-name">LC</div>
									<div class="cell">
										<div class="chart-bar-wrap">
											<span class="chart-bar" style="width:80%"><em class="chart-num">440</em></span>
										</div>
									</div>
								</div>
							</div>
							<!-- //chart-items -->

							<!-- chart-items -->
							<div class="chart-items">
								<div class="display-table">
									<div class="cell chart-name">RC</div>
									<div class="cell">
										<div class="chart-bar-wrap">
											<span class="chart-bar" style="width:40%"><em class="chart-num">200</em></span>
										</div>

										<div class="figures">
											<div class="display-table">
												<span>250</span>
												<span>495</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- //chart-items -->
						</div>

						<div id="total-score" class="chart-type-col color-theme02">
							<!-- chart-items -->
							<div class="chart-items">
								<div class="display-table">
									<div class="cell chart-name">Total</div>
									<div class="cell">
										<div class="chart-bar-wrap">
											<div class="chart-sections">
												<ul class="display-table">
													<li><em>400</em></li>
													<li><em>500</em></li>
													<li><em>600</em></li>
													<li><em>700</em></li>
													<li class="current"><em>800</em></li>
													<li>
														<em>900</em>
														<span class="last-figures">990</span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- //chart-items -->
						</div>
					</div>
					<!-- //pre-score-chart -->
				</div>
				<!-- 토익 예측 점수-->

				<!-- 추천 학습 방법 -->
				<div class="recommend-learning section">
					<h3 class="s-title">추천 학습 방법</h3>
					<div class="cont">
						문장 전체의 구조와 빈칸에 필요한 문장 성분을 단숨에 파악할 수 있는 단계입니다.
						드물게 등장하는 고급 어휘와 표현을 두루 익혀, 속독 훈련에 주력하며, 유사 의미 단어 간의 뉘앙스 차이를
						이해해야 합니다.<br>
						도치 구문, 복합 관계사의 활용 등 고급 문법을 학습해야 합니다.
					</div>
				</div>
				<!-- //추천 학습 방법 -->

				<div class="curation-course section">
					<h3 class="s-title"><em>ID이름</em>님께 필요한<br>학습 과정은 다음과 같습니다.</h3>

					<!-- course-list-wrap -->
					<div class="course-list-wrap">
						<div class="course-list">
							<ul>
								<li>
									<div class="name">900점 목표반</div>
									<div class="thumb-box">
										<div class="img">
											<img src="../../common/mo/images/sample/mcard.png" alt="통섬네일 이미지">
										</div>
									</div>
									<div class="info">
										수강기간 : 30일
										<div class="price">78,000원</div>
									</div>
									<div class="btn">
										<a href="#" class="btn-bold ver2">수강신청하기</a>
									</div>
								</li>
								<li>
									<div class="name">900점 목표반</div>
									<div class="img-box">
										<div class="img">
											<div class="display-table">
												<div class="cell">
													<span style="background-image:url(../../common/mo/images/sample/s_card01.jpg)"></span>
												</div>
												<div class="cell">
													<span style="background-image:url(../../common/mo/images/sample/s_card02.jpg)"></span>
												</div>
												<div class="cell">
													<span style="background-image:url(../../common/mo/images/sample/s_card03.jpg)"></span>
												</div>
												<div class="cell">
													<span style="background-image:url(../../common/mo/images/sample/s_card04.jpg)"></span>
												</div>
											</div>
										</div>
									</div>
									<div class="info">
										수강기간 : 30일
										<div class="price">78,000원</div>
									</div>
									<div class="btn">
										<a href="#" class="btn-bold ver2">수강신청하기</a>
									</div>
								</li>
								<li>
									<div class="name">900점 목표반 900점 목표반 강의명 두줄일때</div>
									<div class="img-box">
										<div class="img">
											<div class="display-table">
												<div class="cell">
													<span style="background-image:url(../../common/mo/images/sample/s_card01.jpg)"></span>
												</div>
												<div class="cell">
													<span style="background-image:url(../../common/mo/images/sample/s_card02.jpg)"></span>
												</div>
												<div class="cell">
													<span style="background-image:url(../../common/mo/images/sample/s_card04.jpg)"></span>
												</div>
											</div>
										</div>
									</div>
									<div class="info">
										수강기간 : 30일
										<div class="price">78,000원</div>
									</div>
									<div class="btn">
										<a href="#" class="btn-bold ver2">수강신청하기</a>
									</div>
								</li>
								<li>
									<div class="name">900점 목표반</div>
									<div class="img-box">
										<div class="img">
											<div class="display-table">
												<div class="cell">
													<span style="background-image:url(../../common/mo/images/sample/s_card02.jpg)"></span>
												</div>
												<div class="cell">
													<span style="background-image:url(../../common/mo/images/sample/s_card04.jpg)"></span>
												</div>
											</div>
										</div>
									</div>
									<div class="info">
										수강기간 : 30일
										<div class="price">78,000원</div>
									</div>
									<div class="btn">
										<a href="#" class="btn-bold ver2">수강신청하기</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- //course-list-wrap -->
				</div>

			</div>
			<!-- //report-wrap -->
		</div>
		<!-- //contents-body -->

		<!-- contents-btm -->
		<div id="contents-btm">
			<!-- cb-nav -->
			<div class="cb-btns">
				<ul class="display-table">
					<li class="cell">
						<a href="#" class="btn-type03 ver-analysis">결과 분석</a>
					</li>
					<li class="cell">
						<a href="#" class="btn-type03 ver-constant-answer">정오답 해설</a>
					</li>
				</ul>
			</div>
			<!-- //cb-nav -->
		</div>
		<!-- //contents-btm -->
	</div>
	<!-- //contents -->
	<script src="../../common/mo/js/nt.js"></script>
</body>
</html>
