<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
	<meta name="format-detection" content="telephone=no">
	<title>파고다스타</title>
	<link rel="apple-touch-icon" href=""/>
	<link rel="shortcut icon" href="" />
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" href="../../common/mo/css/swiper.css" />
	<link rel="stylesheet" href="../../common/mo/css/common.css" />
	<link rel="stylesheet" href="../../common/mo/css/layout.css" />
	<link rel="stylesheet" href="../../common/mo/css/contents.css" />
	<link rel="stylesheet" href="../../common/mo/css/swiper.min.css" />
	<link rel="stylesheet" href="../../common/mo/css/jplayer.css" />
	<script src="../../common/mo/js/jquery-3.2.1.min.js"></script>
	<script src="../../common/mo/js/jquery-migrate-3.0.0.min.js"></script>
	<script src="../../common/mo/js/swiper.min.js"></script>
	<script src="../../common/mo/js/jquery.jplayer.min.js"></script>
</head>
<body>
	<!-- contents -->
	<div id="contents">
		<!-- contents-top -->
		<div id="contents-top">
			<!-- ver_white -->
			<div class="ver_white">
				<h2 class="ct-ttl"><img src="../../common/mo/images/ttl/ttl_constant_answer_report.png" alt="정오답 확인"></h2>
				<!-- ct-btn-box -->
				<div class="ct-btn-box">
					<a href="#" class="btn-myclass">MY</a>
				</div>
				<!-- //ct-btn-box -->
			</div>
			<!-- //ver_white -->
		</div>
		<!-- //contents-top -->

		<!-- contents-body -->
		<div id="contents-body">
			<!-- report-wrap -->
			<div class="report-wrap">
				<!-- 내 점수 -->
				<div class="my-score-wrap ver-report section">
					<div class="display-table my-score-multi">
						<div class="cell">
							<!-- my-score-info -->
							<div class="my-score-info">
								<h3 class="s-title">내 점수</h3>
								<div class="score-box">
									<em>23</em> <span class="total">/ 30</span>
								</div>
							</div>
							<!-- //my-score-info -->
						</div>
						<div class="cell">
							<div class="time-info">
								<div class="part">
									전체 소요시간
									<span>600분 30초</span>
								</div>

								<div class="part">
									한 문제당 평균 풀이 시간
									<span>40분 40초</span>
								</div>
							</div>
						</div>
					</div>

					<!--
					my-score-chart

					정보답 확인의 내 차트에서는
					<div class="my-score-chart"> 엘리먼트에 "chart-ver-ca" class 추가
					-->
					<div class="my-score-chart chart-ver-ca">
						<div class="chart-type-col chart-result-time">
							<!-- chart-items -->
							<div class="chart-items">
								<div class="display-table">
									<div class="cell chart-name"><em>전체 응시자</em><br>평균 소요 시간</div>
									<div class="cell">
										<div class="chart-bar-wrap">
											<span class="chart-bar" style="width:55%"><em class="chart-num">15<span>분</span> 10<span>초</span></em></span>
										</div>
									</div>
								</div>
							</div>
							<!-- //chart-items -->

							<!--
							chart-items
							값이 50% 이하일때
							<div class="chart-items"> 엘리먼트에 "row_half" class 추가
							-->
							<div class="chart-items row_half">
								<div class="display-table">
									<div class="cell chart-name"><em>동 점수대</em><br>평균 소요 시간</div>
									<div class="cell">
										<div class="chart-bar-wrap">
											<span class="chart-bar" style="width:35%"><em class="chart-num">18<span>분</span> 20<span>초</span></em></span>
										</div>
									</div>
								</div>
							</div>
							<!-- //chart-items -->

							<!-- chart-items -->
							<div class="chart-items result-items">
								<div class="display-table">
									<div class="cell chart-name">내 소요 시간</div>
									<div class="cell">
										<div class="chart-bar-wrap">
											<span class="chart-bar" style="width:75%"><em class="chart-num">06<span>분</span> 30<span>초</span></em></span>
										</div>

										<div class="figures">
											<div class="display-table">
												<span>10</span>
												<span>20</span>
												<span>30</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- //chart-items -->
						</div>
					</div>
					<!-- //my-score-chart -->
				</div>
				<!-- //내 점수 -->

				<!-- 전체 리스트 -->
				<div class="exam-list-wrap section">
					<div class="sort-select-box">
						<select name="" title="" class="sort-select" data-content="exam-sort-list">
							<option value="1" data-sort="all">전체 문제</option>
							<option value="2" data-sort="incorrect">오답 문제</option>
							<option value="3" data-sort="highlighter">형광펜 체크 문제</option>
						</select>
					</div>

					<div class="sort-select-wrap">
						<div class="sort-select-cont">
							<!-- exam-wrap -->
							<div class="exam-box">
								<h3 class="exam-title"><a href="#">전체 문제</a></h3>
								<div id="exam-sort-list">
									<div class="section">
										<h4>LC 취약 유형 1<br><strong>불가산 명사를 모두 취하는 수량 불가산 명사를 모두 취하는 수량</strong></h4>

										<ul class="jump-exam-list">
											<li class="state-end">
												<div class="box"><button type="button">1</button></div>
											</li>
											<li class="state-end">
												<div class="box"><button type="button">2</button></div>
											</li>
											<li class="state-end">
												<div class="box"><button type="button">3</button></div>
											</li>
											<li class="state-end">
												<div class="box"><button type="button" class="jump_highlighter">4</button></div>
											</li>
											<li class="state-end">
												<div class="box"><button type="button">5</button></div>
											</li>
											<li class="state-ing">
												<div class="box"><button type="button">6</button></div>
											</li>
											<li>
												<div class="box"><button type="button">7</button></div>
											</li>
											<li>
												<div class="box"><button type="button">8</button></div>
											</li>
											<li>
												<div class="box"><button type="button">9</button></div>
											</li>
											<li>
												<div class="box"><button type="button">10</button></div>
											</li>
											<li>
												<div class="box"><button type="button">11</button></div>
											</li>
											<li>
												<div class="box"><button type="button">12</button></div>
											</li>
											<li>
												<div class="box"><button type="button" class="jump_highlighter">13</button></div>
											</li>
											<li>
												<div class="box"><button type="button">14</button></div>
											</li>
											<li>
												<div class="box"><button type="button">15</button></div>
											</li>
										</ul>
									</div>

									<div class="section">
										<h4>LC 취약 유형 2<br><strong>불가산 명사를 모두 취하는 수량 불가산 명사를 모두 취하는 수량</strong></h4>

										<ul class="jump-exam-list">
											<li>
												<div class="box"><button type="button">1</button></div>
											</li>
											<li>
												<div class="box"><button type="button">2</button></div>
											</li>
											<li>
												<div class="box"><button type="button">3</button></div>
											</li>
											<li>
												<div class="box"><button type="button">4</button></div>
											</li>
											<li>
												<div class="box"><button type="button">5</button></div>
											</li>
										</ul>
									</div>

									<div class="section">
										<h4>RC 취약 유형 1<br><strong>불가산 명사를 모두 취하는 수량 불가산 명사를 모두 취하는 수량</strong></h4>

										<ul class="jump-exam-list">
											<li>
												<div class="box"><button type="button">1</button></div>
											</li>
											<li>
												<div class="box"><button type="button">2</button></div>
											</li>
											<li>
												<div class="box"><button type="button">3</button></div>
											</li>
											<li>
												<div class="box"><button type="button">4</button></div>
											</li>
											<li>
												<div class="box"><button type="button">5</button></div>
											</li>
										</ul>
									</div>
								</div>
								<!-- jump-foot -->
								<div class="jump-foot">
									<div class="guide-cont">
										<span><em class="scale_ani"></em> 정답</span>
										<span><em class="scale_ani"></em> 오답</span>
									</div>
								</div>
								<!-- //jump-foot -->
							</div>
							<!-- //exam-wrap -->
						</div>
					</div>
				</div>
				<!-- //전체 리스트 -->
			</div>
			<!-- //report-wrap -->
		</div>
		<!-- //contents-body -->

		<!-- contents-btm -->
		<div id="contents-btm">
			<!-- cb-nav -->
			<div class="cb-btns">
				<ul class="display-table">
					<li class="cell">
						<a href="#" class="btn-type03 ver-recommend">추천 강의</a>
					</li>
					<li class="cell">
						<a href="#" class="btn-type03 ver-analysis">결과 분석</a>
					</li>
				</ul>
			</div>
			<!-- //cb-nav -->
		</div>
		<!-- //contents-btm -->
	</div>
	<!-- //contents -->
	<script src="../../common/mo/js/nt.js"></script>
</body>
</html>
