<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
	<meta name="format-detection" content="telephone=no">
	<title>파고다스타</title>
	<link rel="apple-touch-icon" href=""/>
	<link rel="shortcut icon" href="" />
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" href="../../common/mo/css/swiper.css" />
	<link rel="stylesheet" href="../../common/mo/css/common.css" />
	<link rel="stylesheet" href="../../common/mo/css/layout.css" />
	<link rel="stylesheet" href="../../common/mo/css/contents.css" />
	<link rel="stylesheet" href="../../common/mo/css/swiper.min.css" />
	<link rel="stylesheet" href="../../common/mo/css/jplayer.css" />
	<script src="../../common/mo/js/jquery-3.2.1.min.js"></script>
	<script src="../../common/mo/js/jquery-migrate-3.0.0.min.js"></script>
	<script src="../../common/mo/js/swiper.min.js"></script>
	<script src="../../common/mo/js/jquery.jplayer.min.js"></script>
</head>
<body>
	<!-- contents -->
	<div id="contents">
		<!--
			contents-top
			플레이어의 시간이 반 이상일때 id="contents-top" 엘리먼트에 over-half class추가
		-->
		<div id="contents-top" class="over-half">
			<!-- ver_dark -->
			<div class="ver_dark">
				<div class="display-table">
					<!-- cell -->
					<div class="cell ct-left">
						<h2 class="ct-ttl"><img src="../../common/mo/images/ttl/ttl_test.png" alt="TEST"></h2>
						<div class="ct-sttl">PART 7</div>
					</div>
					<!-- //cell -->

					<!-- cell -->
					<div class="cell ct-right">
						<div class="ct-paging">
							<strong>13~16</strong>
							/
							<span>200</span>
						</div>

						<div class="ct-time">10:11</div>
					</div>
					<!-- //cell -->

					<div class="cell page-btn ct-pause">
						<button type="button"></button>
					</div>
				</div>
				<!-- time_progress -->
				<div class="time_progress">
					<span class="progress-bar" style="width:55%;"></span>
				</div>
				<!-- //time_progress -->
			</div>
			<!-- //ver_dark -->
		</div>
		<!-- //contents-top -->

		<!-- contents-body -->
		<div id="contents-body" class="ver-test">
			<!-- cb-questions-wrap -->
			<div class="cb-questions-wrap">
				<div class="questions refer_checkpoint">
					<h3>Questions 13-16</h3>
					<p>refer to the following article.</p>
				</div>
				<div class="fingerprint">
					<!-- section -->
					<div class="section">
						<div class="part7_templete">
							<div class="col-scroll-box">
								<table summary="" class="tpl-table" style="width:600px">
									<tr>
										<th>rogram</th>
										<th>Channel No.</th>
										<th>Rate</th>
										<th>Total Price</th>
									</tr>
									<tr>
										<td>Detective</td>
										<td>089</td>
										<td>1 month</td>
										<td>$0.00</td>
									</tr>
									<tr>
										<td>Motorsports</td>
										<td>256</td>
										<td>Standard</td>
										<td>$0.00</td>
									</tr>
									<tr>
										<td>Maiden</td>
										<td>300</td>
										<td>1 month</td>
										<td>$0.00</td>
									</tr>
									<tr>
										<td>Mega</td>
										<td>302</td>
										<td>1 month</td>
										<td>$0.00</td>
									</tr>
								</table>
							</div>
						</div>

					</div>
					<!-- //section -->

					<!-- section -->
					<div class="section">
						www.adrenatour.com/getinvolved/offers<br>
						AdrenaTours<br>
						Activity Listing (Page 2 of 3)

						<table summary="">
							<caption></caption>
							<colgroup>
								<col>
								<col>
								<col style="width:17%">
								<col style="width:27%">
							</colgroup>
							<thead>
								<tr>
									<th scope="col">ctivity</th>
									<th scope="col">Location</th>
									<th scope="col">Price</th>
									<th scope="col">Insuranc Fee</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Extreme Kayaking</td>
									<td>Oak Ridge Lake</td>
									<td>$150</td>
									<td>$40</td>
								</tr>
								<tr>
									<td>Ultimate Skydive</td>
									<td>Oak Ridge Lake</td>
									<td>$150</td>
									<td>$40</td>
								</tr>
								<tr>
									<td>Ocean Nighttime</td>
									<td>Oak Ridge Lake</td>
									<td>$150</td>
									<td>$40</td>
								</tr>
								<tr>
									<td>Open Water</td>
									<td>Oak Ridge Lake</td>
									<td>$150</td>
									<td>$40</td>
								</tr>
							</tbody>
						</table>

						E-mail Mary Pippin at m.pippin@AdrenaTours.com to make a booking.<br>
						All Insurance Fees must be paid in full when making your booking.
					</div>
					<!-- //section -->

					<!-- section -->
					<div class="section">
						To: Customer Services &lt;m.pippin@AdrenaTours.com&gt;<br>
						From: Richard Appleton  &lt;r.appleton@speedymaill.net&gt;<br>
						Date: August 5<br>
						Subject: Activity<br>
						Dear Ms. Pippin,<br>
						I am writing to request a partial refund for the activity I purchased from your company last week. I visited your offices on July 30 and spoke with the staff member there. They were extremely knowledgeable, and were able to provide me with excellent advice regarding which activity might best suit my interests. We discussed the Extreme Kayaking event, but in the end we decided this wasn’t for me and your staff member helped me choose something more appropriate. I paid the insurance fee and was looking forward to the day itself. However, when I checked my bank balance, I noticed that this charge was $95 instead of the $60 that it should have been. I would appreciate it if you refund the difference to my account immediately. <br>
						Faithfully,<br>
						Richard Appleton
					</div>
					<!-- //section -->
				</div>
			</div>
			<!-- //cb-questions-wrap -->

			<!-- highlighter -->
			<div id="highlighter">
				<div class="highlighter-btn">
					<button type="button"></button>
				</div>

				<!-- highlighter_layer -->
				<div class="highlighter_layer">
					<div class="dim"></div>
					<div class="select_btns">
						<button type="button" class="highlighter_evt">
							<span></span>
							형광펜
						</button>

						<button type="button" class="eraser_evt">
							<span></span>
							지우개
						</button>
					</div>
				</div>
				<!-- //highlighter_layer -->

				<!-- highlighter_evt_layer -->
				<div id="highlighter_evt_layer" class="common-layer">
					<!-- display-table -->
					<div class="display-table">
						<div class="c-layer-head">
							<h2 class="title_highlighter">
								형광펜
								<span></span>
							</h2>

							<button type="button" class="close">닫기</button>
						</div>
						<div class="c-layer-body">
							<!-- c-layer-scroll -->
							<div class="c-layer-scroll">
								<!-- cb-questions-wrap -->
								<div class="cb-questions-wrap">
									<div class="questions">
										<h3>Questions 13-16</h3>
										<p>refer to the following article.</p>
									</div>
									<div class="fingerprint">
										<!-- section -->
										<div class="section">
											AdrenaTours!<br>
											Action-Packed Activities for Thrill Seekers!<br><br>

											We at AdrenaTours are in triumphant mood as we <span class="c-uline">mark</span> our first anniversary of being in business. That’s why we have decided to add four more options to our list of summer adventure activities. In contrast to our other activities, which are open to people of all ages, these latest activities are designed for adults only. They have also been designed with the input of renowned professional surfer Brad Foster, and each promises an unforgettable experience. Our offices are located just ten minutes from Redford train station, and are fifteen minutes away from Redford Mall, from which our company minibus
										</div>
										<!-- //section -->

										<!-- section -->
										<div class="section">
											www.adrenatour.com/getinvolved/offers<br>
											AdrenaTours<br>
											Activity Listing (Page 2 of 3)

											<table summary="">
												<caption></caption>
												<colgroup>
													<col>
													<col>
													<col style="width:17%">
													<col style="width:27%">
												</colgroup>
												<thead>
													<tr>
														<th scope="col">ctivity</th>
														<th scope="col">Location</th>
														<th scope="col">Price</th>
														<th scope="col">Insuranc Fee</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Extreme Kayaking</td>
														<td>Oak Ridge Lake</td>
														<td>$150</td>
														<td>$40</td>
													</tr>
													<tr>
														<td>Ultimate Skydive</td>
														<td>Oak Ridge Lake</td>
														<td>$150</td>
														<td>$40</td>
													</tr>
													<tr>
														<td>Ocean Nighttime</td>
														<td>Oak Ridge Lake</td>
														<td>$150</td>
														<td>$40</td>
													</tr>
													<tr>
														<td>Open Water</td>
														<td>Oak Ridge Lake</td>
														<td>$150</td>
														<td>$40</td>
													</tr>
												</tbody>
											</table>

											E-mail Mary Pippin at m.pippin@AdrenaTours.com to make a booking.<br>
											All Insurance Fees must be paid in full when making your booking.
										</div>
										<!-- //section -->

										<!-- section -->
										<div class="section">
											To: Customer Services &lt;m.pippin@AdrenaTours.com&gt;<br>
											From: Richard Appleton  &lt;r.appleton@speedymaill.net&gt;<br>
											Date: August 5<br>
											Subject: Activity<br>
											Dear Ms. Pippin,<br>
											I am writing to request a partial refund for the activity I purchased from your company last week. I visited your offices on July 30 and spoke with the staff member there. They were extremely knowledgeable, and were able to provide me with excellent advice regarding which activity might best suit my interests. We discussed the Extreme Kayaking event, but in the end we decided this wasn’t for me and your staff member helped me choose something more appropriate. I paid the insurance fee and was looking forward to the day itself. However, when I checked my bank balance, I noticed that this charge was $95 instead of the $60 that it should have been. I would appreciate it if you refund the difference to my account immediately. <br>
											Faithfully,<br>
											Richard Appleton
										</div>
										<!-- //section -->
									</div>
								</div>
								<!-- //cb-questions-wrap -->
							</div>
							<!-- //c-layer-scroll -->
						</div>
					</div>
					<!-- //display-table -->
				</div>
				<!-- //highlighter_evt_layer -->
			</div>
			<!-- //highlighter -->

			<!-- exam-wrap -->
			<div id="exam-wrap">
				<!-- trigger-tabs -->
				<div class="trigger-tabs">
					<ul class="display-table">
						<li class="cell"><button type="button" class="up"></button></li>
						<li class="cell"><button type="button" class="down"></button></li>
					</ul>
				</div>
				<!-- //trigger-tabs -->

				<div class="exam-wrapper">
					<div class="exam-swiper swiper-container">
						<!-- exam-container -->
						<div class="exam-container swiper-wrapper">
							<div class="exam-items swiper-slide" data-number="13">
								<div class="exam-questions">
									13. Who did Mr. Appleton most likely speak with on July 30?
								</div>
								<div class="exam-answer">
									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(A)</em>
												<div>Maisy Dukes</div>
											</span>
											<span class="icon_state"></span>
										</span>
										<input type="radio" name="exam13" value="a">
									</div>

									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(B)</em>
												<div>Brad Foster</div>
											</span>
											<span class="icon_state"></span>
										</span>
										<input type="radio" name="exam13" value="b">
									</div>

									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(C)</em>
												<div>Janet Vokes</div>
											</span>
											<span class="icon_state"></span>
										</span>
										<input type="radio" name="exam13" value="c">
									</div>

									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(D)</em>
												<div>Mary Pippin Mary Pippin Mary Pippin</div>
											</span>
											<span class="icon_state"></span>
										</span>
										<input type="radio" name="exam13" value="d">
									</div>
								</div>
							</div>

							<div class="exam-items swiper-slide" data-number="14">
								<div class="exam-questions">
									14. Who did Mr. Appleton most likely speak with on July 30?
								</div>
								<div class="exam-answer">
									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(A)</em>
												<div>Maisy Dukes</div>
											</span>
											<span class="icon_state"></span>
										</span>
										<input type="radio" name="exam14" value="a">
									</div>

									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(B)</em>
												<div>Brad Foster</div>
											</span>
											<span class="icon_state"></span>
										</span>
										<input type="radio" name="exam14" value="b">
									</div>

									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(C)</em>
												<div>Janet Vokes</div>
											</span>
											<div class="icon_state"></div>
										</span>
										<input type="radio" name="exam14" value="c">
									</div>

									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(D)</em>
												<div>Mary Pippin Mary Pippin</div>
											</span>
											<span class="icon_state"></span>
										</span>
										<input type="radio" name="exam14" value="d">
									</div>
								</div>
							</div>

							<div class="exam-items swiper-slide" data-number="15">
								<div class="exam-questions">
									15. Who did Mr. Appleton most likely speak with on July 30?
								</div>
								<div class="exam-answer">
									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(A)</em>
												<div>Maisy Dukes</div>
											</span>
											<span class="icon_state"></span>
										</span>
										<input type="radio" name="exam15" value="a">
									</div>

									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(B)</em>
												<div>Brad Foster</div>
											</span>
											<span class="icon_state"></span>
										</span>
										<input type="radio" name="exam15" value="b">
									</div>

									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(C)</em>
												<div>Janet Vokes</div>
											</span>
											<span class="icon_state"></span>
										</span>
										<input type="radio" name="exam15" value="c">
									</div>

									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(D)</em>
												<div>Mary Pippin Mary Pippin Mary Pippin</div>
											</span>
											<span class="icon_state"></span>
										</span>
										<input type="radio" name="exam15" value="d">
									</div>
								</div>
							</div>

							<div class="exam-items swiper-slide" data-number="16">
								<div class="exam-questions">
									16. Who did Mr. Appleton most likely speak with on July 30?
								</div>
								<div class="exam-answer">
									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(A)</em>
												<div>Maisy Dukes</div>
											</span>
											<span class="icon_state"></span>
										</span>
										<input type="radio" name="exam16" value="a">
									</div>

									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(B)</em>
												<div>Brad Foster</div>
											</span>
											<span class="icon_state"></span>
										</span>
										<input type="radio" name="exam16" value="b">
									</div>

									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(C)</em>
												<div>Janet Vokes</div>
											</span>
											<span class="icon_state"></span>
										</span>
										<input type="radio" name="exam16" value="c">
									</div>

									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(D)</em>
												<div>Mary Pippin Mary Pippin Mary Pippin</div>
											</span>
											<span class="icon_state"></span>
										</span>
										<input type="radio" name="exam16" value="d">
									</div>
								</div>
							</div>
						</div>
						<!-- //exam-container -->

						<!-- exam-nav -->
						<div class="exam-nav nav-prev arrow-left">
							<a href="#">12</a>
							<span class="exam-num">12</span>
						</div>
						<div class="exam-nav nav-next arrow-right">
							<a href="#">17</a>
							<span class="exam-num">14</span>
						</div>
						<!-- //exam-nav -->
					</div>
				</div>
			</div>
			<!-- //exam-wrap -->
		</div>
		<!-- //contents-body -->

		<!-- contents-btm -->
		<div id="contents-btm">
			<!-- cb-nav -->
			<div class="cb-nav">
				<ul class="display-table">
					<li class="cell">
						<button type="button" class="disabled">
							<span><img src="../../common/mo/images/icon/icon_prev.png" alt="이전"></span>
						</button>
					</li>
					<li class="cell">
						<button type="button" class="btn-jump-layer">
							<span><img src="../../common/mo/images/icon/icon_viewall.png" alt="전체 메뉴보기"></span>
						</button>
					</li>
					<li class="cell">
						<button type="button">
							종료
							<span><img src="../../common/mo/images/icon/icon_next.png" alt="다음"></span>
						</button>
					</li>
				</ul>
			</div>
			<!-- //cb-nav -->
		</div>
		<!-- //contents-btm -->
	</div>
	<!-- //contents -->

	<script src="../../common/mo/js/nt.js"></script>
</body>
</html>
