<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
	<meta name="format-detection" content="telephone=no">
	<title>파고다스타</title>
	<link rel="apple-touch-icon" href=""/>
	<link rel="shortcut icon" href="" />
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" href="../../common/mo/css/swiper.css" />
	<link rel="stylesheet" href="../../common/mo/css/common.css" />
	<link rel="stylesheet" href="../../common/mo/css/layout.css" />
	<link rel="stylesheet" href="../../common/mo/css/contents.css" />
	<link rel="stylesheet" href="../../common/mo/css/swiper.min.css" />
	<link rel="stylesheet" href="../../common/mo/css/jplayer.css" />
	<script src="../../common/mo/js/jquery-3.2.1.min.js"></script>
	<script src="../../common/mo/js/jquery-migrate-3.0.0.min.js"></script>
	<script src="../../common/mo/js/swiper.min.js"></script>
	<script src="../../common/mo/js/jquery.jplayer.min.js"></script>
</head>
<body>
	<!-- contents -->
	<div id="contents">
		<!-- 
			contents-top 
			플레이어의 시간이 반 이상일때 id="contents-top" 엘리먼트에 over-half class추가
		-->
		<div id="contents-top">
			<!-- ver_dark -->
			<div class="ver_dark">
				<div class="display-table">
					<!-- cell -->
					<div class="cell ct-left">
						<h2 class="ct-ttl"><img src="../../common/mo/images/ttl/ttl_test.png" alt="TEST"></h2>
						<div class="ct-sttl">PART 3</div>
					</div>
					<!-- //cell -->

					<!-- cell -->
					<div class="cell ct-right">
						<div class="ct-paging">
							<strong>33~35</strong>
							/
							<span>200</span>
						</div>

						<div class="ct-time">10:11</div>
					</div>
					<!-- //cell -->

					<div class="cell page-btn ct-pause">
						<button type="button"></button>
					</div>
				</div>
				<!-- time_progress -->
				<div class="time_progress">
					<span class="progress-bar" style="width:45%;"></span>
				</div>
				<!-- //time_progress -->
			</div>
			<!-- //ver_dark -->
		</div>
		<!-- //contents-top -->
		
		<!-- contents-body -->
		<div id="contents-body" class="ver-test">
			<!-- cb-questions-wrap -->
			<div class="cb-questions-wrap">
				<div class="questions refer_checkpoint">
					<h3>Questions 33-35</h3>
					<p>refer to the following talk.</p>
				</div>
				<div class="fingerprint">
					<!-- section -->
					<div class="section">
						<table summary="">
							<caption></caption>
							<colgroup>
								<col>
								<col>
								<col>
							</colgroup>
							<tbody>
								<tr>
									<th scope="row" rowspan="2">Morning<br>Sessions</th>
									<td><span class="uline">Member(17)</td>
									<td><span class="uline">$55(17)</span></td>
								</tr>
								<tr>
									<td>Non-member</td>
									<td>$65</td>
								</tr>
								<tr>
									<th scope="row" rowspan="2">Afternoon<br>Session</th>
									<td>Member</td>
									<td>$80</td>
								</tr>
								<tr>
									<td>Non-member</td>
									<td>$90</td>
								</tr>
								<tr>
									<th scope="row" rowspan="2">All<br>Sessions</th>
									<td>Member</td>
									<td>$130</td>
								</tr>
								<tr>
									<td>Non-member</td>
									<td>$160</td>
								</tr>
							</tbody>
						</table>

						<img src="../../common/mo/images/sample/sample_img02.jpg" alt=""><br>
						<img src="../../common/mo/images/sample/sample_img03.jpg" alt="">
					</div>
					<!-- //section -->
				</div>
			</div>
			<!-- //cb-questions-wrap -->
		</div>
		<!-- //contents-body -->

		<!-- contents-btm -->
		<div id="contents-btm">
			<!-- cb-nav -->
			<div class="cb-nav">
				<ul class="display-table">
					<li class="cell">
						<button type="button">
							<span><img src="../../common/mo/images/icon/icon_prev.png" alt="이전"></span>
						</button>
					</li>
					<li class="cell">
						<button type="button" class="btn-jump-layer">
							<span><img src="../../common/mo/images/icon/icon_viewall.png" alt="전체 메뉴보기"></span>
						</button>
					</li>
					<li class="cell">
						<button type="button">
							<span><img src="../../common/mo/images/icon/icon_next.png" alt="다음"></span>
						</button>
					</li>
				</ul>
			</div>
			<!-- //cb-nav -->
		</div>
		<!-- //contents-btm -->
	</div>
	<!-- //contents -->

	<script src="../../common/mo/js/nt.js"></script>
</body>
</html>