<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
	<meta name="format-detection" content="telephone=no">
	<title>파고다스타</title>
	<link rel="apple-touch-icon" href=""/>
	<link rel="shortcut icon" href="" />
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" href="../../common/mo/css/swiper.css" />
	<link rel="stylesheet" href="../../common/mo/css/common.css" />
	<link rel="stylesheet" href="../../common/mo/css/layout.css" />
	<link rel="stylesheet" href="../../common/mo/css/contents.css" />
	<link rel="stylesheet" href="../../common/mo/css/swiper.min.css" />
	<link rel="stylesheet" href="../../common/mo/css/jplayer.css" />
	<script src="../../common/mo/js/jquery-3.2.1.min.js"></script>
	<script src="../../common/mo/js/jquery-migrate-3.0.0.min.js"></script>
	<script src="../../common/mo/js/swiper.min.js"></script>
	<script src="../../common/mo/js/jquery.jplayer.min.js"></script>
</head>
<body>
	<!-- contents -->
	<div id="contents">
		<!--
			contents-top
			플레이어의 시간이 반 이상일때 id="contents-top" 엘리먼트에 over-half class추가
		-->
		<div id="contents-top" class="over-half">
			<!-- ver_dark -->
			<div class="ver_dark">
				<div class="display-table">
					<!-- cell -->
					<div class="cell ct-left">
						<h2 class="ct-ttl"><img src="../../common/mo/images/ttl/ttl_constant_answer.png" alt="정오답"></h2>
						<div class="ct-sttl">PART 1</div>
					</div>
					<!-- //cell -->

					<!-- cell -->
					<div class="cell ct-right">
						<div class="ct-paging">
							<strong>1</strong>
							/
							<span>200</span>
						</div>
					</div>
					<!-- //cell -->

					<div class="cell page-btn ct-exit">
						<button type="button"></button>
					</div>
				</div>
			</div>
			<!-- //ver_dark -->
		</div>
		<!-- //contents-top -->

		<!-- cb-player -->
		<div id="cb-player" class="refer_checkpoint">
			<div id="jquery_jplayer_1" class="jp-jplayer"></div>
			<div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
				<div class="jp-type-single">
					<div class="jp-gui jp-interface">
						<div class="jp-controls">
							<a href="#" class="prev">이전</a>
							<button class="jp-play" role="button" tabindex="0">play</button>
							<a href="#" class="next">다음</a>
							<!--<button class="jp-stop" role="button" tabindex="0">stop</button>-->
						</div>
						<div class="jp-time-holder">
							<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
							<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
						</div>
						<div class="jp-progress">
							<div class="jp-seek-bar">
								<div class="jp-play-bar"><em></em></div>
							</div>
						</div>
					</div>
				</div>
			</div>
<script>
$("#jquery_jplayer_1").jPlayer({
	ready: function () {
		$(this).jPlayer("setMedia", {
			mp3: "http://jplayer.org/audio/mp3/Miaow-07-Bubble.mp3"
		});
	},
	swfPath: "../../dist/jplayer",
	supplied: "mp3",
	wmode: "window",
	useStateClassSkin: true,
	autoBlur: false,
	smoothPlayBar: true,
	keyEnabled: true,
	remainingDuration: true,
	toggleDuration: true
});
</script>
		</div>
		<!-- cb-player -->


		<!-- contents-body -->
		<div id="contents-body" class="ver-ca">
			<!-- intonation -->
			<div class="intonation">
				<span class="tags">미국</span>
				<span class="tags">호주</span>
			</div>
			<!-- //intonation -->

			<!-- cb-questions-wrap -->
			<div class="cb-questions-wrap">
				<div class="fingerprint">

					<!--
					section
					지문 이미지만 나오는 경우 section에 img-section class 추가
					-->
					<div class="section img-section">
						<img src="../../common/mo/images/sample/sample_img01.jpg" alt="지문 이미지">
					</div>
					<!-- //section -->

					<div class="section">
						<!-- cb-voca -->
						<div class="cb-voca">
							<div class="title-box">어휘</div>
							<ul class="voca-list">
								<li>
									<div class="en">Lid</div>
									<div class="kr">[prep.] 뚜껑</div>
								</li>
								<li>
									<div class="en">Leave</div>
									<div class="kr">[n.] 그대로 두다</div>
								</li>
								<li>
									<div class="en">load</div>
									<div class="kr">[conj.] 싣다</div>
								</li>
							</ul>
						</div>
						<!-- //cb-voca -->
					</div>
				</div>
			</div>
			<!-- //cb-questions-wrap -->

			<!-- exam-wrap -->
			<div id="exam-wrap">
				<!-- trigger-tabs -->
				<div class="trigger-tabs">
					<ul class="display-table">
						<li class="cell"><button type="button" class="up"></button></li>
						<li class="cell"><button type="button" class="down"></button></li>
					</ul>
				</div>
				<!-- //trigger-tabs -->

				<div class="exam-wrapper">
					<div class="exam-swiper">
						<div class="exam-container">
							<!--
							오답일 경우
							class="exam-items" 엘리먼트에 ver-incorrect class 추가
							-->
							<div class="exam-items ver-incorrect">
								<!-- exam-questions -->
								<div class="exam-questions">
									<div class="guide-constant-answer">
										1. 오답입니다.
									</div>
								</div>
								<!-- //exam-questions -->

								<!-- exam-answer -->
								<div class="exam-answer">
									<!--
										1. 해당 문제의 정답
										class="answer-items" 엘리먼트에 right-answer class 추가

										2. 내가 선택했던 답
										class="answer-items" 엘리먼트에 my-incorrect class 추가
									-->

									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(A)</em>
												<div>
													It collaborates with a famous celebrity.
													<p class="guide_kr">
														유명 인사와 협업하고 있다.
													</p>
												</div>
											</span>
										</span>
									</div>

									<div class="answer-items right-answer">
										<span class="items-cont">
											<span class="item-txt">
												<em>(B)</em>
												<div>
													It offers activities for all age groups.
													<p class="guide_kr">
														전 연령층의 사람들을 위한 활동을 제공한다.
													</p>
												</div>
											</span>
										</span>
									</div>

									<div class="answer-items my-incorrect">
										<span class="items-cont">
											<span class="item-txt">
												<em>(C)</em>
												<div>
													It has its own transportation vehicle.
													<p class="guide_kr">
														자사 소유의 이동 차량을 갖고 있다.
													</p>
												</div>
											</span>
										</span>
									</div>

									<div class="answer-items">
										<span class="items-cont">
											<span class="item-txt">
												<em>(D)</em>
												<div>
													Its offices are located within a mall.
													<p class="guide_kr">
														쇼핑몰 내에 사무실들이 위치해 있다.
													</p>
												</div>
											</span>
										</span>
									</div>
								</div>
								<!-- //exam-answer -->

								<!-- exam-others -->
								<div class="exam-others">
									<!-- section -->
									<div class="section">
										<div class="title-box">해설</div>
										<div class="cont">
											1인 인물 묘사 - 사무실<br>
											(c) 남자가 컵을 들고는 있지만 마시고 있지 않으므로 오답이다.
										</div>
									</div>
									<!-- //section -->
								</div>
								<!-- //exam-others -->
							</div>
						</div>
						<!-- //exam-container -->
					</div>

				</div>
			</div>
			<!-- //exam-wrap -->
		</div>
		<!-- //contents-body -->

		<!-- contents-btm -->
		<div id="contents-btm">
			<!-- cb-nav -->
			<div class="cb-nav">
				<ul class="display-table">
					<li class="cell">
						<button type="button" class="cell">
							<span><img src="../../common/mo/images/icon/icon_prev.png" alt="이전"></span>
						</button>
					</li>
					<li class="cell">
						<button type="button" class="cell">
							<span><img src="../../common/mo/images/icon/icon_viewall.png" alt="전체 메뉴보기"></span>
						</button>
					</li>
					<li class="cell">
						<button type="button" class="cell">
							<span><img src="../../common/mo/images/icon/icon_next.png" alt="다음"></span>
						</button>
					</li>
				</ul>
			</div>
			<!-- //cb-nav -->
		</div>
		<!-- //contents-btm -->
	</div>
	<!-- //contents -->

	<script src="../../common/mo/js/nt.js"></script>
</body>
</html>
