<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
	<meta name="format-detection" content="telephone=no">
	<title>파고다스타</title>
	<link rel="apple-touch-icon" href=""/>
	<link rel="shortcut icon" href="" />
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" href="../../common/mo/css/swiper.css" />
	<link rel="stylesheet" href="../../common/mo/css/common.css" />
	<link rel="stylesheet" href="../../common/mo/css/layout.css" />
	<link rel="stylesheet" href="../../common/mo/css/contents.css" />
	<link rel="stylesheet" href="../../common/mo/css/swiper.min.css" />
	<link rel="stylesheet" href="../../common/mo/css/jplayer.css" />
	<script src="../../common/mo/js/jquery-3.2.1.min.js"></script>
	<script src="../../common/mo/js/jquery-migrate-3.0.0.min.js"></script>
	<script src="../../common/mo/js/swiper.min.js"></script>
	<script src="../../common/mo/js/jquery.jplayer.min.js"></script>
</head>
<body>
	<!--
	contents 
	voca-contents class 추가
	-->
	<div id="contents" class="voca-contents">
		<!-- contents-top -->
		<div id="contents-top">
			<!-- ver_white -->
			<div class="ver_white">
				<h2 class="ct-ttl"><img src="../../common/mo/images/ttl/ttl_today_word.png" alt="오늘의 단어"></h2>
				<!-- ct-btn-box -->
				<div class="ct-btn-box">
					<a href="#" class="btn-myclass">내 강의실</a>
				</div>
				<!-- //ct-btn-box -->
			</div>
			<!-- //ver_white -->
		</div>
		<!-- //contents-top -->
		
		<!-- contents-body -->
		<div id="contents-body">
			<!--
			voca-wrap 
			정답화면에서는 voca-wrap에 ver2 class를 추가해줍니다.
			* 하단 고정버튼 영역의 높이가 더 높아서 예외처리
			-->
			<div class="voca-wrap ver2">
				<!-- word-items-wrap -->
				<div class="word-items-wrap">
					<!-- word-sort-box -->
					<div class="word-sort-box">
						<button type="button" class="btn-dim type-word">단어 가리기</button>
						<button type="button" class="btn-dim type-meaning">뜻 가리기</button>
					</div>
					<!-- //word-sort-box -->

					<!-- word-item -->
					<div class="word-item">
						<div class="display-table">
							<!-- word-box -->
							<div class="word-box">
								<span>Complete</span>
							</div>
							<!-- //word-box -->
							
							<!-- meaning-box -->
							<div class="meaning-box">
								<span>[v.] 완료하다 </span>
								<span>[a.] 완전한</span>
								<span>[a.] 완료된</span>
							</div>
							<!-- //meaning-box -->
							
							<!-- state-box -->
							<div class="state-box">
								<div class="checkbox-type-state">
									<input type="checkbox" name="" title="" checked="checked">
									<span class="state-ui">
										<span class="true">암기</span>
										<span class="false">미암기</span>
										<em></em>
									</span>
								</div>
							</div>
							<!-- //state-box -->
						</div>
					</div>
					<!-- //word-item -->

					<!-- word-item -->
					<div class="word-item">
						<div class="display-table">
							<!-- word-box -->
							<div class="word-box">
								<span>committee</span>
							</div>
							<!-- //word-box -->
							
							<!-- meaning-box -->
							<div class="meaning-box">
								<span>[n.] 위원회</span>
							</div>
							<!-- //meaning-box -->

							<!-- state-box -->
							<div class="state-box">
								<div class="checkbox-type-state">
									<input type="checkbox" name="" title="">
									<span class="state-ui">
										<span class="true">암기</span>
										<span class="false">미암기</span>
										<em></em>
									</span>
								</div>
							</div>
							<!-- //state-box -->
						</div>
					</div>
					<!-- //word-item -->

					<!-- word-item -->
					<div class="word-item">
						<div class="display-table">
							<!-- word-box -->
							<div class="word-box">
								<span>eligible for</span>
							</div>
							<!-- //word-box -->
							
							<!-- meaning-box -->
							<div class="meaning-box">
								<span>[Adv.] 에 뽑힐 자격이 있는, 자격 기준을 갖춘</span>
							</div>
							<!-- //meaning-box -->

							<!-- state-box -->
							<div class="state-box">
								<div class="checkbox-type-state">
									<input type="checkbox" name="" title="" checked="checked">
									<span class="state-ui">
										<span class="true">암기</span>
										<span class="false">미암기</span>
										<em></em>
									</span>
								</div>
							</div>
							<!-- //state-box -->
						</div>
					</div>
					<!-- //word-item -->

					<!-- word-item -->
					<div class="word-item">
						<div class="display-table">
							<!-- word-box -->
							<div class="word-box">
								<span>Complete</span>
							</div>
							<!-- //word-box -->
							
							<!-- meaning-box -->
							<div class="meaning-box">
								<span>[v.] 완료하다 </span>
								<span>[a.] 완전한</span>
								<span>[a.] 완료된</span>
							</div>
							<!-- //meaning-box -->
							
							<!-- state-box -->
							<div class="state-box">
								<div class="checkbox-type-state">
									<input type="checkbox" name="" title="" checked="checked">
									<span class="state-ui">
										<span class="true">암기</span>
										<span class="false">미암기</span>
										<em></em>
									</span>
								</div>
							</div>
							<!-- //state-box -->
						</div>
					</div>
					<!-- //word-item -->

					<!-- word-item -->
					<div class="word-item">
						<div class="display-table">
							<!-- word-box -->
							<div class="word-box">
								<span>committee</span>
							</div>
							<!-- //word-box -->
							
							<!-- meaning-box -->
							<div class="meaning-box">
								<span>[n.] 위원회</span>
							</div>
							<!-- //meaning-box -->

							<!-- state-box -->
							<div class="state-box">
								<div class="checkbox-type-state">
									<input type="checkbox" name="" title="">
									<span class="state-ui">
										<span class="true">암기</span>
										<span class="false">미암기</span>
										<em></em>
									</span>
								</div>
							</div>
							<!-- //state-box -->
						</div>
					</div>
					<!-- //word-item -->

					<!-- word-item -->
					<div class="word-item">
						<div class="display-table">
							<!-- word-box -->
							<div class="word-box">
								<span>eligible for</span>
							</div>
							<!-- //word-box -->
							
							<!-- meaning-box -->
							<div class="meaning-box">
								<span>[Adv.] 에 뽑힐 자격이 있는, 자격 기준을 갖춘</span>
							</div>
							<!-- //meaning-box -->

							<!-- state-box -->
							<div class="state-box">
								<div class="checkbox-type-state">
									<input type="checkbox" name="" title="" checked="checked">
									<span class="state-ui">
										<span class="true">암기</span>
										<span class="false">미암기</span>
										<em></em>
									</span>
								</div>
							</div>
							<!-- //state-box -->
						</div>
					</div>
					<!-- //word-item -->
				</div>
				<!-- //word-items-wrap -->
			</div>
			<!-- //voca-wrap -->
		</div>
		<!-- //contents-body -->

		<!-- contents-btm -->
		<div id="contents-btm">
			<!-- cb-nav -->
			<div class="cb-voca-nav">
				<div class="display-table">
					<a href="#">
						<em>20</em>
						<span>전체 TEST</span>
					</a>
					<a href="#" class="memorizing">
						<em>16</em>
						<span>암기 TEST</span>
					</a>
					<a href="#" class="done-memorizing">
						<em>4</em>
						<span>미암기 TEST</span>
					</a>
				</div>
			</div>
			<!-- //cb-nav -->
		</div>
		<!-- //contents-btm -->
	</div>
	<!-- //contents -->
	<script src="../../common/mo/js/nt.js"></script>
</body>
</html>