<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
	<meta name="format-detection" content="telephone=no">
	<title>파고다스타</title>
	<link rel="apple-touch-icon" href=""/>
	<link rel="shortcut icon" href="" />
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" href="../../common/mo/css/swiper.css" />
	<link rel="stylesheet" href="../../common/mo/css/common.css" />
	<link rel="stylesheet" href="../../common/mo/css/layout.css" />
	<link rel="stylesheet" href="../../common/mo/css/contents.css" />
	<link rel="stylesheet" href="../../common/mo/css/swiper.min.css" />
	<link rel="stylesheet" href="../../common/mo/css/jplayer.css" />
	<script src="../../common/mo/js/jquery-3.2.1.min.js"></script>
	<script src="../../common/mo/js/jquery-migrate-3.0.0.min.js"></script>
	<script src="../../common/mo/js/swiper.min.js"></script>
	<script src="../../common/mo/js/jquery.jplayer.min.js"></script>
</head>
<body>
	<!--
	contents 
	voca-contents class 추가
	-->
	<div id="contents" class="voca-contents">
		<!-- contents-top -->
		<div id="contents-top">
			<!-- ver_white -->
			<div class="ver_white">
				<h2 class="ct-ttl"><img src="../../common/mo/images/ttl/ttl_word_test.png" alt="단어 TEST"></h2>

				<!-- ct-paging -->
				<div class="ct-paging">
					<strong>1</strong>
					/
					<span>10</span>
				</div>
				<!-- //ct-paging -->

				<!-- ct-btn-box -->
				<div class="ct-btn-box">
					<button type="button" class="btn-exit">나가기</button>
				</div>
				<!-- //ct-btn-box -->
			</div>
			<!-- //ver_white -->
		</div>
		<!-- //contents-top -->
		
		<!-- contents-body -->
		<div id="contents-body">
			<!-- voca-card-wrap -->
			<div class="voca-card-wrap">
				<!-- voca-card -->
				<div class="voca-card ver2">
					<!-- card-front -->
					<div class="card-front">
						<!-- front-cont -->
						<div class="front-cont">
							<div class="word-cont">
								<div class="display-table">
									<div class="cell">
										necessarity
									</div>
								</div>
							</div>
							<span class="trigger"><span>탭하여 단어 보기</span></span>
						</div>
						<!-- //front-cont -->
					</div>
					<!-- //card-front -->

					<!-- card-back -->
					<div class="card-back">
						<div class="back-cont">
							<!-- display-table -->
							<div class="display-table">
								<div class="cell">
									<div class="word-meaning">
										<div class="word-txt">
											<p>1. (한 장소에서 다른 장소로) 가다</p>
											<p>2. (특히 다른 사람과 함께 어떤 장소・행사에) 가다</p>
											<p>3. (특정한 방식으로 또는 특정한 거리를) 가다</p>
										</div>
										<div class="meaning-txt">
											necessarity
										</div>
									</div>
								</div>
							</div>
							<!-- //display-table -->

							<div class="card-btns">
								<button type="button" class="btn-type08">암기</button>
								<button type="button" class="btn-type08 ver2">미암기</button>
							</div>
						</div>
					</div>
					<!-- //card-back -->
				</div>
				<!-- //voca-card -->
			</div>
			<!-- //voca-card-wrap -->
		</div>
		<!-- //contents-body -->
	</div>
	<!-- //contents -->
	<script src="../../common/mo/js/nt.js"></script>
</body>
</html>