<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>파고다스타 - 최신인강 압도적 1위</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Language" content="English">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css"/>
	<link rel="stylesheet" type="text/css" href="../../../common/pc/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../../../common/pc/css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="../../../common/pc/css/contents.css"/>
	<link rel="stylesheet" type="text/css" href="../../../common/pc/css/jquery.mCustomScrollbar.css" />
	<!—[if lte IE 8]>
	<link rel="stylesheet" type="text/css" href="../../../common/pc/css/ie8.css"/>
	<![endif]–>

	<!-- jquery ui theme -->
	<link rel="stylesheet" type="text/css" href="../../../common/pc/css/jquery-ui.min.css"/>
	<script type="text/javascript" src="../../../common/pc/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../../../common/pc/js/jquery-migrate-3.0.0.min.js"></script>
	<script type="text/javascript" src="../../../common/pc/js/jquery-ui.min.js"></script>
	<!-- //jquery ui theme -->

	<script type="text/javascript" src="../../../common/pc/js/nt.base.js"></script>
	<script type="text/javascript" src="../../../common/pc/js/jquery.mCustomScrollbar.js"></script>
</head>
<body>
<!-- skipNav -->
<div id="skipNav">
	<a href="#contents">본문 바로가기</a>
</div>
<!-- //skipNav -->

<!-- wrap -->
<div id="wrap">
	<!-- header -->
	<div id="header">
		<!-- wrapper -->
		<div class="wrapper">
			<!-- info -->
			<div class="info clear">
				<h1 class="title"><img src="../../../common/pc/images/ttl/ttl_constant_answer.png" alt="정오답"></h1>
				<!-- paging -->
				<div class="paging">
					<em>150~153</em>
					<span>/ 200</span>
				</div>
				<!-- //paging -->

				<!-- summary -->
				<div class="summary">
					<em>취약 유형 ①</em>
					사진에 없는 사람/사물을 묘사하는 오답소거법
				</div>
				<!-- //summary -->
			</div>
			<!-- //info -->

			<!-- cont -->
			<div class="cont">
				<div class="btn">
					<button type="button" class="btn-type01 ver-all"><span>전체문항</span></button>
				</div>
			</div>
			<!-- //cont -->

			<!-- page-btn -->
			<div class="page-btn">
				<button type="button" class="type-exit">
					<span>나가기</span>
				</button>
			</div>
			<!-- //page-btn -->
		</div>
		<!-- //wrapper -->
	</div>
	<!-- //header -->

	<!-- container -->
	<div id="container">
		<!-- contents -->
		<div id="contents">
			<div class="guide-sample">TEST E 정오답 페이지의 Header 영역 입니다.</div>
		</div>
		<!-- //contents -->
	</div>
	<!-- //container -->
</div>
<!-- //wrap -->

<script language="javascript" type="text/javascript" src="../../../common/pc/js/nt.js"></script>
</body>
</html>