<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
	<meta name="format-detection" content="telephone=no">
	<title>파고다스타</title>
	<link rel="apple-touch-icon" href=""/>
	<link rel="shortcut icon" href="" />
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" href="../../../common/mo/css/swiper.css" />
	<link rel="stylesheet" href="../../../common/mo/css/common.css" />
	<link rel="stylesheet" href="../../../common/mo/css/layout.css" />
	<link rel="stylesheet" href="../../../common/mo/css/contents.css" />
	<link rel="stylesheet" href="../../../common/mo/css/swiper.min.css" />
	<link rel="stylesheet" href="../../../common/mo/css/jplayer.css" />
	<script src="../../../common/mo/js/jquery-3.2.1.min.js"></script>
	<script src="../../../common/mo/js/jquery-migrate-3.0.0.min.js"></script>
	<script src="../../../common/mo/js/swiper.min.js"></script>
	<script src="../../../common/mo/js/jquery.jplayer.min.js"></script>
</head>
<body>
	<!-- contents -->
	<div id="contents">
		<div id="contents-top">
			<!-- ver_dark -->
			<div class="ver_dark">
				<div class="display-table">
					<!-- cell -->
					<div class="cell ct-left">
						<h2 class="ct-ttl"><img src="../../../common/mo/images/ttl/ttl_test_kr.png" alt="문제"></h2>
						<div class="ct-sttl">LC</div>
					</div>
					<!-- //cell -->

					<!-- cell -->
					<div class="cell ct-right">
						<div class="ct-paging">
							<strong>13~16</strong>
							/
							<span>200</span>
						</div>

						<div class="ct-time">00:00</div>
					</div>
					<!-- //cell -->

					<div class="cell page-btn ct-pause">
						<button type="button"></button>
					</div>
				</div>
			</div>
			<!-- //ver_dark -->
		</div>
		<!-- //contents-top -->

		<!-- contents-body -->
		<div id="contents-body" class="ver-test">
			<div class="sample-guide-text">
				<strong>TEST E 상단 타이틀</strong>
				<p>
					TEST E는 상단 타이틀이 "TEST"가 아니라 "문제"
				</p>
			</div>
		</div>
		<!-- //contents-body -->
	</div>
	<!-- //contents -->

	<script src="../../../common/mo/js/nt.js"></script>
</body>
</html>
