<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>파고다스타 - 최신인강 압도적 1위</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Language" content="English">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/contents.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/jquery.mCustomScrollbar.css" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/ie8.css"/>
	<script src="../../common/pc/js/respond.min.js"></script>
	<![endif]-->
	<!--[if !IE]><link rel="stylesheet" type="text/css" href="../../common/pc/css/non-ie.css" /> <![endif]-->

	<!-- jquery ui theme -->
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/jquery-ui.min.css"/>
	<script type="text/javascript" src="../../common/pc/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery-migrate-3.0.0.min.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery-ui.min.js"></script>
	<!-- //jquery ui theme -->

	<script type="text/javascript" src="../../common/pc/js/nt.base.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery.mCustomScrollbar.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery.mousewheel.js"></script>
</head>
<body>
<!-- skipNav -->
<div id="skipNav">
	<a href="#contents">본문 바로가기</a>
</div>
<!-- //skipNav -->

<!-- wrap -->
<div id="wrap">
	<!-- header -->
	<div id="header">
		<!-- wrapper -->
		<div class="wrapper">
			<!-- info -->
			<div class="info clear">
				<h1 class="title"><img src="../../common/pc/images/ttl/ttl_constant_answer.png" alt="정오답"></h1>
				<!-- paging -->
				<div class="paging">
					<em>150~153</em>
					<span>/ 200</span>
				</div>
				<!-- //paging -->
			</div>
			<!-- //info -->

			<!-- cont -->
			<div class="cont">
				<div class="btn">
					<button type="button" class="btn-type01 ver-all"><span>전체문항</span></button>
				</div>
			</div>
			<!-- //cont -->

			<!-- page-btn -->
			<div class="page-btn">
				<button type="button" class="type-exit">
					<span>나가기</span>
				</button>
			</div>
			<!-- //page-btn -->
		</div>
		<!-- //wrapper -->
	</div>
	<!-- //header -->

	<!-- container -->
	<div id="container">
		<!-- contents -->
		<div id="contents">
			<!-- ca-container -->
			<div class="ca-container">
				<!-- ca-contents -->
				<div class="ca-contents">
					<!-- questions-wrap -->
					<div class="questions-wrap">
						<!-- questions -->
						<div class="questions">
							<em>Questions 150 - 153</em>
							refer to the following advertisement, webpage, and e-mail.

							<div class="guide_kr">
								<em>150 - 153번</em>
								질문은 다음 전자 메일과 광고를 참조하세요.
							</div>
						</div>
						<!-- //questions -->
						
						<!-- fingerprint -->
						<div class="fingerprint">
							<!-- section -->
							<div class="section">
								<!-- box -->
								<div class="box">
									<div class="cont">
										To: Troy Perkins<br>
										From: Linda Hayes<br>
										Subject: Upcoming trip<br>
										Date: June 10<br>
										Hi Mr. Perkins,<br>
										You asked me to book you a room at the Golden Dunes Resort, and I’m pleased to say that your reservation is confirmed. I got you a Premier Room, as you <span class="uline">requested,</span> but I’m afraid there were no rooms left with views of the ocean. I hope that’s not a big problem. Your room is located on the third floor, so it’s conveniently located should you wish to visit the casino or one of the resort’s restaurants. I hope you have an enjoyable vacation, and I’ll be sure to forward e-mails to you if they seem crucially important. Apart from that, I’ll not bother you with work-related issues, and I’ll see you when you get back to the office on June 29. Bon voyage!<br>
										Linda
									</div>
								</div>
								<!-- //box -->

								<!-- box -->
								<div class="box">
									<div class="ttl-box"><img src="../../common/pc/images/ttl/ttl_interpretation.png" alt="해석"></div>
									<div class="cont guide_kr">
										수신: Troy Perkins<br>
										발신: Linda Hayes<br>
										제목: 다가오는 여행<br>
										날짜: 6월 10일<br>
										Perkins 씨께,<br>
										제게 Golden Dunes Resort의 객실 하나를 예약해 달라고 요청하셨었는데, 예약이 확정되었다는 말씀을 드리게 되어 기쁘게 생각합니다. <span class="uline">요청</span>하신 대로 프리미어 룸을 예약해 드렸지만, 아쉽게도 바다가 보이는 객실은 남아 있는 것이 없었습니다. 이 점이 큰 문제가 되지 않기를 바랍니다. 머무르실 객실은 3층에 위치해 있기 때문에 카지노나 리조트 내 레스토랑들 중의 한 곳을 방문하기를 원하실 경우에 편리하게 이용하실 수 있는 위치입니다. 즐거운 휴가 보내시기 바라며, 매우 중요해 보이는 이메일이 있을 경우에는 꼭 전송해 드리도록 하겠습니다. 그 외에는, 업무와 관련된 일들로 불편하게 해 드리지 않을 생각이며, 6월 29일에 사무실로 돌아 오시는 날 뵙겠습니다. 여행 잘 다녀 오세요!<br>
										Linda
									</div>
								</div>
								<!-- //box -->
							</div>
							<!-- //section -->

							<!-- section -->
							<div class="section">
								<!-- box -->
								<div class="box">
									<div class="cont">
										<strong>Golden Dunes Resort</strong><br>
										155 Ferndale Drive, Queensland, 4218, Australia<br>
										<strong>Available Rooms!</strong><br>
										Superior Room with Pool View - $175 per night<br>
										Superior Room with Ocean View - $200 per night<br>
										Premier Room with Pool View - $215 per night<br>
										Premier Room with Ocean View - $235 per night<br>
										<strong>Enjoy All of Our On-Site Eating Options!</strong><br>
										<strong>Lotus Pond –</strong><br>
										Come and try our mouth-watering rice and noodle dishes prepared using authentic Chinese and Korean recipes and ingredients. Located on the 2nd Floor.<br>
										<strong>Rio Rio –</strong><br>
										Taste our succulent steaks prepared by our experienced Brazilian head chef. Cuts of beef and pork are brought straight from the grill to your table. Located just off the lobby.<br>
										<strong>Sunrise Bistro –</strong><br>
										For those who avoid meat, we have a full menu utilizing the finest locally-grown produce. Enjoy our popular soups, salads, and tofu-based dishes. Located on the rooftop.<br>
										<strong>Marconi’s –</strong><br>
										The best pizza and pasta in the area! Marconi’s uses handmade chorizo sausage and freshly grown herbs in many dishes. Located on the 3rd Floor.
									</div>
								</div>
								<!-- //box -->

								<!-- box -->
								<div class="box">
									<div class="ttl-box"><img src="../../common/pc/images/ttl/ttl_interpretation.png" alt="해석"></div>
									<div class="cont guiide_kr">
										<strong>Golden Dunes Resort</strong><br>
										155 Ferndale Drive, Queensland, 4218, Australia<br>
										<strong>이용 가능한 객실입니다!</strong><br>
										수영장이 보이는 수피리어 룸 - 1박당 175달러<br>
										바다가 보이는 수피리어 룸 - 1박당 200달러<br>
										수영장이 보이는 프리미어 룸 - 1박당 215달러<br>
										바다가 보이는 프리미어 룸 - 1박당 235달러<br>
										<strong>저희 리조트 구내에서 선택 가능하신 모든 식당들을 이용해 보세요!</strong><br>
										<strong>Lotus Pond – </strong><br>
										정통 중식 및 한식 조리법과 재료로 조리해 식욕을 돋게 만드는 밥 또는 면 요리를 드시러 오세요. 2층에 위치해 있습니다. <br>
										<strong>Rio Rio – </strong><br>
										숙련된 브라질 수석 요리사가 조리한 육즙이 풍부한 스테이크를 맛보러 오세요. 그릴에서 구워진 소고기 및 돼지고기 부위들이 곧바로 여러분의 테이블로 제공됩니다. 로비 바로 앞에 위치해 있습니다.<br>
										<strong>Sunrise Bistro – </strong><br>
										고기를 원하지 않으시는 분들을 위해, 지역에서 재배된 최상의 농산물을 활용한 모든 메뉴가 있습니다. 인기 많은 수프와 샐러드, 그리고 두부를 바탕으로 한 요리를 즐겨 보세요. 옥상 구역에 위치해 있습니다.<br>
										<strong>Marconi’s – </strong><br>
										지역 최고의 피자와 파스타를 맛보실 수 있습니다! Marconi’s는 여러 요리에 수제 초리조 소시지와 신선하게 재배된 허브를 사용합니다. 3층에 위치해 있습니다.
									</div>
								</div>
								<!-- //box -->
							</div>
							<!-- //section -->

							<!-- section -->
							<div class="section">
								<!-- box -->
								<div class="box">
									<div class="cont">
										To: Linda Hayes<br>
										From: Troy Perkins<br>
										Subject: Re: Upcoming trip<br>
										Date: June 26<br>
										Hi, Linda,<br>
										How is everything going back there at the office? I hope you’re all coping well without me. The resort is fantastic, and the room you booked for me is perfect. Thanks for taking care of that while I was busy. I’m surprised that I keep returning to eat my meals at the place on the roof. I’m typically more of a fan of meat, but this place has some truly delicious and healthy dishes. Well, it’s time for another swim. See you all when I get back.<br>
										Troy
									</div>
								</div>
								<!-- //box -->

								<!-- box -->
								<div class="box">
									<div class="ttl-box"><img src="../../common/pc/images/ttl/ttl_interpretation.png" alt="해석"></div>
									<div class="cont guide_kr">
										수신: Linda Hayes<br>
										발신: Troy Perkins<br>
										제목: 회신: 다가오는 여행<br>
										날짜: 6월 26일<br>
										안녕하세요, Linda,<br>
										사무실은 별 일 없으시죠? 저 없이도 모든 분들이 일 처리를 잘 하고 계시기를 바랍니다. 리조트는 환상적이며, 제게 예약해 주신 객실은 완벽합니다. 제가 바쁠 때 이 일을 처리해 주신 것에 대해 감사 드립니다. 제가 식사를 위해 옥상에 있는 식당을 계속 찾고 있다는 사실이 놀랍습니다. 저는 보통 고기를 더 많이 좋아하는 사람인데, 이 식당에는 정말로 맛있고 건강에 좋은 음식들이 있습니다. 저, 다시 수영을 하러 갈 시간이네요. 여러분 모두 돌아가서 뵙겠습니다.<br>
										Troy
									</div>
								</div>
								<!-- //box -->
							</div>
							<!-- //section -->
						</div>
						<!-- //fingerprint -->
						
						<!-- others_info -->
						<div class="others_info">
							<!-- section -->
							<div class="section">
								<div class="box">
									<div class="ttl-box"><img src="../../common/pc/images/ttl/ttl_voca.png" alt="어휘"></div>
									<div class="cont">
										<!-- voca-list -->
										<div class="voca-list">
											<dl>
												<dt>Lid</dt>
												<dd>[prep.] 뚜껑</dd>
											</dl>
											<dl>
												<dt>Lid</dt>
												<dd>[prep.] 뚜껑</dd>
											</dl>
											<dl>
												<dt>nominate</dt>
												<dd>지명하다.</dd>
											</dl>
											<dl>
												<dt>nominate</dt>
												<dd>지명하다.</dd>
											</dl>
											<dl>
												<dt>unfold</dt>
												<dd>펼친</dd>
											</dl>
											<dl>
												<dt>unfold</dt>
												<dd>펼친</dd>
											</dl>
										</div>
										<!-- //voca-list -->
									</div>
								</div>
							</div>
							<!-- //section -->
						</div>
						<!-- //others_info -->
					</div>
					<!-- //questions-wrap -->
				</div>
				<!-- //ca-contents -->
				
				<!-- ca-exams -->
				<div class="ca-exams">
					<!-- ca-exams-container -->
					<div class="ca-exams-container" data-theme-index="4">
						<!--
							오답일 경우
							class="exam-items" 엘리먼트에 ver-incorrect class 추가
						-->
						<!-- exam-items -->
						<div class="exam-items ver-incorrect">
							<!-- exam-questions -->
							<div class="exam-questions">
								<div class="guide-constant-answer">
									<span class="number"><span>150</span></span>
									<em>오답</em>입니다.
								</div>

								<p>In the first e-mail, the underlined, bold word “left” in paragraph 1, is closest in meaning to</p>
								<p class="guide_kr">
									남자가 원하는것은?
								</p>
							</div>
							<!-- //exam-questions -->
							
							<!-- exam-answer -->
							<div class="exam-answer">
								<!-- 
									1. 내가 선택했던 답 
									class="answer-items" 엘리먼트에 my-incorrect 추가
									2. 정답
									class="answer-items" 엘리먼트에 right-answer 추가
								-->
								<div class="answer-items my-incorrect">
									<div class="items-cont">
										<span class="item-txt">
											<em>(A)</em>
											<div>
												departed
												<p class="guide_kr">
													세상을 떠난
												</p>
											</div>
										</span>
									</div>
								</div>

								<div class="answer-items right-answer">
									<div class="items-cont">
										<span class="item-txt">
											<em>(B)</em>
											<div>
												submitted
												<p class="guide_kr">
													제출하다.
												</p>
											</div>
										</span>
									</div>
								</div>

								<div class="answer-items">
									<div class="items-cont">
										<span class="item-txt">
											<em>(C)</em>
											<div>
												staying
												<p class="guide_kr">
													계속 있다.
												</p>
											</div>
										</span>
									</div>
								</div>

								<div class="answer-items">
									<div class="items-cont">
										<span class="item-txt">
											<em>(D)</em>
											<div>
												remaining
												<p class="guide_kr">
													남아 있는, 남은
												</p>
											</div>
										</span>
									</div>
								</div>
							</div>
							<!-- //exam-answer -->
							
							<!-- exam-others -->
							<div class="exam-others">
								<!-- section -->
								<div class="section">
									<div class="ttl-box"><img src="../../common/pc/images/ttl/ttl_exposition.png" alt="해설"></div>
									<div class="cont">
										해당 문장에서 left는 바로 앞에 위치한 no rooms를 수식하는 과거분사로 쓰였다. 바로 뒤에 ‘문제가 되지 않기를 바란다’는 말이 있는 것으로 보아 예약 가능한 특정 객실이 남아 있지 않았음을 의미한다는 것을 알 수 있다. 따라서 ‘남아 있는, 남은’을 뜻하는 (D)가 정답이다.
									</div>
								</div>
								<!-- //section -->
							</div>
							<!-- //exam-others -->
						</div>
						<!-- //exam-items -->

						<!-- exam-items -->
						<div class="exam-items">
							<!-- exam-questions -->
							<div class="exam-questions">
								<div class="guide-constant-answer">
									<span class="number"><span>151</span></span>
									<em>정답</em>입니다.
								</div>

								<p>In the first e-mail, the underlined, bold word “left” in paragraph 1, is closest in meaning to</p>
								<p class="guide_kr">
									남자가 원하는것은?
								</p>
							</div>
							<!-- //exam-questions -->
							
							<!-- exam-answer -->
							<div class="exam-answer">
								<div class="answer-items">
									<div class="items-cont">
										<span class="item-txt">
											<em>(A)</em>
											<div>
												departed
												<p class="guide_kr">
													세상을 떠난
												</p>
											</div>
										</span>
									</div>
								</div>

								<div class="answer-items right-answer">
									<div class="items-cont">
										<span class="item-txt">
											<em>(B)</em>
											<div>
												submitted
												<p class="guide_kr">
													제출하다.
												</p>
											</div>
										</span>
									</div>
								</div>

								<div class="answer-items">
									<div class="items-cont">
										<span class="item-txt">
											<em>(C)</em>
											<div>
												staying
												<p class="guide_kr">
													계속 있다.
												</p>
											</div>
										</span>
									</div>
								</div>

								<div class="answer-items">
									<div class="items-cont">
										<span class="item-txt">
											<em>(D)</em>
											<div>
												remaining
												<p class="guide_kr">
													남아 있는, 남은
												</p>
											</div>
										</span>
									</div>
								</div>
							</div>
							<!-- //exam-answer -->
							
							<!-- exam-others -->
							<div class="exam-others">
								<!-- section -->
								<div class="section">
									<div class="ttl-box"><img src="../../common/pc/images/ttl/ttl_exposition.png" alt="해설"></div>
									<div class="cont">
										해당 문장에서 left는 바로 앞에 위치한 no rooms를 수식하는 과거분사로 쓰였다. 바로 뒤에 ‘문제가 되지 않기를 바란다’는 말이 있는 것으로 보아 예약 가능한 특정 객실이 남아 있지 않았음을 의미한다는 것을 알 수 있다. 따라서 ‘남아 있는, 남은’을 뜻하는 (D)가 정답이다.
									</div>
								</div>
								<!-- //section -->
							</div>
							<!-- //exam-others -->
						</div>
						<!-- //exam-items -->

						<!-- exam-items -->
						<div class="exam-items">
							<!-- exam-questions -->
							<div class="exam-questions">
								<div class="guide-constant-answer">
									<span class="number"><span>152</span></span>
									<em>정답</em>입니다.
								</div>

								<p>In the first e-mail, the underlined, bold word “left” in paragraph 1, is closest in meaning to</p>
								<p class="guide_kr">
									남자가 원하는것은?
								</p>
							</div>
							<!-- //exam-questions -->
							
							<!-- exam-answer -->
							<div class="exam-answer">
								<div class="answer-items">
									<div class="items-cont">
										<span class="item-txt">
											<em>(A)</em>
											<div>
												departed
												<p class="guide_kr">
													세상을 떠난
												</p>
											</div>
										</span>
									</div>
								</div>

								<div class="answer-items right-answer">
									<div class="items-cont">
										<span class="item-txt">
											<em>(B)</em>
											<div>
												submitted
												<p class="guide_kr">
													제출하다.
												</p>
											</div>
										</span>
									</div>
								</div>

								<div class="answer-items">
									<div class="items-cont">
										<span class="item-txt">
											<em>(C)</em>
											<div>
												staying
												<p class="guide_kr">
													계속 있다.
												</p>
											</div>
										</span>
									</div>
								</div>

								<div class="answer-items">
									<div class="items-cont">
										<span class="item-txt">
											<em>(D)</em>
											<div>
												remaining
												<p class="guide_kr">
													남아 있는, 남은
												</p>
											</div>
										</span>
									</div>
								</div>
							</div>
							<!-- //exam-answer -->
							
							<!-- exam-others -->
							<div class="exam-others">
								<!-- section -->
								<div class="section">
									<div class="ttl-box"><img src="../../common/pc/images/ttl/ttl_exposition.png" alt="해설"></div>
									<div class="cont">
										해당 문장에서 left는 바로 앞에 위치한 no rooms를 수식하는 과거분사로 쓰였다. 바로 뒤에 ‘문제가 되지 않기를 바란다’는 말이 있는 것으로 보아 예약 가능한 특정 객실이 남아 있지 않았음을 의미한다는 것을 알 수 있다. 따라서 ‘남아 있는, 남은’을 뜻하는 (D)가 정답이다.
									</div>
								</div>
								<!-- //section -->
							</div>
							<!-- //exam-others -->
						</div>
						<!-- //exam-items -->

						<!-- exam-items -->
						<div class="exam-items">
							<!-- exam-questions -->
							<div class="exam-questions">
								<div class="guide-constant-answer">
									<span class="number"><span>153</span></span>
									<em>정답</em>입니다.
								</div>

								<p>In the first e-mail, the underlined, bold word “left” in paragraph 1, is closest in meaning to</p>
								<p class="guide_kr">
									남자가 원하는것은?
								</p>
							</div>
							<!-- //exam-questions -->
							
							<!-- exam-answer -->
							<div class="exam-answer">
								<div class="answer-items">
									<div class="items-cont">
										<span class="item-txt">
											<em>(A)</em>
											<div>
												departed
												<p class="guide_kr">
													세상을 떠난
												</p>
											</div>
										</span>
									</div>
								</div>

								<div class="answer-items right-answer">
									<div class="items-cont">
										<span class="item-txt">
											<em>(B)</em>
											<div>
												submitted
												<p class="guide_kr">
													제출하다.
												</p>
											</div>
										</span>
									</div>
								</div>

								<div class="answer-items">
									<div class="items-cont">
										<span class="item-txt">
											<em>(C)</em>
											<div>
												staying
												<p class="guide_kr">
													계속 있다.
												</p>
											</div>
										</span>
									</div>
								</div>

								<div class="answer-items">
									<div class="items-cont">
										<span class="item-txt">
											<em>(D)</em>
											<div>
												remaining
												<p class="guide_kr">
													남아 있는, 남은
												</p>
											</div>
										</span>
									</div>
								</div>
							</div>
							<!-- //exam-answer -->
							
							<!-- exam-others -->
							<div class="exam-others">
								<!-- section -->
								<div class="section">
									<div class="ttl-box"><img src="../../common/pc/images/ttl/ttl_exposition.png" alt="해설"></div>
									<div class="cont">
										해당 문장에서 left는 바로 앞에 위치한 no rooms를 수식하는 과거분사로 쓰였다. 바로 뒤에 ‘문제가 되지 않기를 바란다’는 말이 있는 것으로 보아 예약 가능한 특정 객실이 남아 있지 않았음을 의미한다는 것을 알 수 있다. 따라서 ‘남아 있는, 남은’을 뜻하는 (D)가 정답이다.
									</div>
								</div>
								<!-- //section -->
							</div>
							<!-- //exam-others -->
						</div>
						<!-- //exam-items -->
					</div>
					<!-- //ca-exams-container -->
				</div>
				<!-- //ca-exams -->
			</div>
			<!-- //ca-container -->
		</div>
		<!-- //contents -->
	</div>
	<!-- //container -->

	<!-- memo -->
	<div id="memo">
		<strong>메모</strong>
		<div class="btn-box">
			<button type="button"><span><img src="../../common/pc/images/icon/icon_add.png" alt="추가하기"></span></button>
			<button type="button"><span><img src="../../common/pc/images/icon/icon_list.png" alt="목록보기"></span></button>
		</div>
	</div>
	<!-- //memo -->

	<!-- foot-nav -->
	<div id="foot-nav">
		<div class="btn-wrap">
			<a href="#" class="prev">이전</a>
			<a href="#" class="next">다음</a>
		</div>
	</div>
	<!-- //foot-nav -->
</div>
<!-- //wrap -->

<script language="javascript" type="text/javascript" src="../../common/pc/js/nt.js"></script>
</body>
</html>