<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>파고다스타 - 최신인강 압도적 1위</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Language" content="English">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/contents.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/jquery.mCustomScrollbar.css" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/ie8.css"/>
	<script src="../../common/pc/js/respond.min.js"></script>
	<![endif]-->
	<!--[if !IE]><link rel="stylesheet" type="text/css" href="../../common/pc/css/non-ie.css" /> <![endif]-->

	<!-- jquery ui theme -->
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/jquery-ui.min.css"/>
	<script type="text/javascript" src="../../common/pc/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery-migrate-3.0.0.min.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery-ui.min.js"></script>
	<!-- //jquery ui theme -->

	<script type="text/javascript" src="../../common/pc/js/nt.base.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery.mCustomScrollbar.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery.mousewheel.js"></script>
</head>
<body>
<!-- skipNav -->
<div id="skipNav">
	<a href="#contents">본문 바로가기</a>
</div>
<!-- //skipNav -->

<!-- wrap -->
<div id="wrap">
	<!-- header -->
	<div id="header">
		<!-- wrapper -->
		<div class="wrapper">
			<!-- info -->
			<div class="info clear">
				<h1 class="title"><img src="../../common/pc/images/ttl/ttl_test.png" alt="TEST"></h1>
				<!-- paging -->
				<div class="paging">
					<em>150~153</em>
					<span>/ 200</span>
				</div>
				<!-- //paging -->
			</div>
			<!-- //info -->

			<!-- cont -->
			<div class="cont">
				<!--
				time_progress
				시간이 반이상 경과되었을 경우<div class="time_progress"> 엘리먼트에
				"over-half" class 추가
				-->
				<div class="time_progress">
					<div class="bar-wrap">
						<span class="bar" style="width:43%"></span>
					</div>

					<em class="time-box">120 : 00</em>
				</div>
				<!-- //time_progress -->
			</div>
			<!-- //cont -->

			<!-- page-btn -->
			<div class="page-btn">
				<button type="button" class="type-pause">
					<span>종료</span>
				</button>
			</div>
			<!-- //page-btn -->
		</div>
		<!-- //wrapper -->
	</div>
	<!-- //header -->

	<!-- container -->
	<div id="container">
		<!-- contents -->
		<div id="contents">
			<!-- head-tab -->
			<div class="head-tab">
				<div class="tab-type01">
					<div class="display-table">
						<a href="#">part1</a>
						<a href="#">part2</a>
						<a href="#">part3</a>
						<a href="#">part4</a>
						<a href="#">part5</a>
						<a href="#">part6</a>
						<a href="#" class="active">part7</a>
					</div>
				</div>
			</div>
			<!-- //head-tab  -->

			<!-- test-container -->
			<div class="test-container">
				<!-- test-contents -->
				<div class="test-contents">

					<!-- test-wrap -->
					<div class="test-wrap">
						<!-- questions-info -->
						<div class="questions-info">
							<h2 class="title">PART 7</h3>
							<div class="direction">
								<em>Direction :</em>
								A word or phrase is missing in each of the sentence below. Four answer choices are given below each sentence. Select the best answer to complete the sentence then mark the letter (A),(B),(C),or (D) on your answer sheet
							</div>
						</div>
						<!-- //questions-info -->

						<!--
						questions-wrap
						1. 메모의 기준점이 되는 영역
						-->
						<div class="questions-wrap">
							<!-- questions -->
							<div class="questions">
								<em>Questions 2 - 5</em>
								refer to the following advertisement, webpage, and e-mail.
							</div>
							<!-- //questions -->

							<!-- fingerprint -->
							<div class="fingerprint">
								<!-- section -->
								<div class="section">
									To: Troy Perkins<br>
									From: Linda Hayes<br>
									Subject: Upcoming trip<br>
									Date: June 10<br>
									Hi Mr. Perkins,<br>
									You asked me to book you a room at the Golden Dunes Resort, and I’m pleased to say that your reservation is confirmed. I got you a Premier Room, as you requested, but I’m afraid there were no rooms left with views of the ocean. I hope that’s not a big problem. Your room is located on the third floor, so it’s conveniently located should you wish to visit the casino or one of the resort’s restaurants. I hope you have an enjoyable vacation, and I’ll be sure to forward e-mails to you if they seem crucially important. Apart from that, I’ll not bother you with work-related issues, and I’ll see you when you get back to the office on June 29. Bon voyage!<br>
									Linda
								</div>
								<!-- //section -->

								<!-- section -->
								<div class="section">
									<strong>Golden Dunes Resort</strong><br>
									155 Ferndale Drive, Queensland, 4218, Australia<br>
									<strong>Available Rooms!</strong><br>
									Superior Room with Pool View - $175 per night<br>
									Superior Room with Ocean View - $200 per night<br>
									Premier Room with Pool View - $215 per night<br>
									Premier Room with Ocean View - $235 per night<br>
									<strong>Enjoy All of Our On-Site Eating Options!</strong><br>
									<strong>Lotus Pond –</strong><br>
									Come and try our mouth-watering rice and noodle dishes prepared using authentic Chinese and Korean recipes and ingredients. Located on the 2nd Floor.<br>
									<strong>Rio Rio –</strong><br>
									Taste our succulent steaks prepared by our experienced Brazilian head chef. Cuts of beef and pork are brought straight from the grill to your table. Located just off the lobby.<br>
									<strong>Sunrise Bistro –</strong><br>
									For those who avoid meat, we have a full menu utilizing the finest locally-grown produce. Enjoy our popular soups, salads, and tofu-based dishes. Located on the rooftop.<br>
									<strong>Marconi’s –</strong><br>
									The best pizza and pasta in the area! Marconi’s uses handmade chorizo sausage and freshly grown herbs in many dishes. Located on the 3rd Floor.
								</div>
								<!-- //section -->

								<!-- section -->
								<div class="section">
									To: Linda Hayes<br>
									From: Troy Perkins<br>
									Subject: Re: Upcoming trip<br>
									Date: June 26<br>
									Hi, Linda,<br>
									How is everything going back there at the office? I hope you’re all coping well without me. The resort is fantastic, and the room you booked for me is perfect. Thanks for taking care of that while I was busy. I’m surprised that I keep returning to eat my meals at the place on the roof. I’m typically more of a fan of meat, but this place has some truly delicious and healthy dishes. Well, it’s time for another swim. See you all when I get back.<br>
									Troy
								</div>
								<!-- //section -->
							</div>
							<!-- //fingerprint -->

							<!-- exams -->
							<div class="exams">
								<!-- exam-items -->
								<div class="exam-items" data-exam="3">
									<div class="number"><span>3</span></div>
									<div class="answer">
										In the first e-mail, the underlined, bold word “left” in paragraph 1, is closest in meanMr. Perkins’ room most likely cost per night?
									</div>
									<div class="answer-items">
										<ol>
											<li>
												<em class="icon-state"></em>
												<a href="#" class="cont">
													<span>(A)</span>
													To review a contract
												</a>
											</li>
											<li>
												<em class="icon-state"></em>
												<a href="#" class="cont">
													<span>(B)</span>
													To discuss a charge
												</a>
											</li>
											<li>
												<em class="icon-state"></em>
												<a href="#" class="cont">
													<span>(C)</span>
													To ask about discount rates
												</a>
											</li>
											<li>
												<em class="icon-state"></em>
												<a href="#" class="cont">
													<span>(D)</span>
													To sign up for a monthly subscription
												</a>
											</li>
										</ol>
									</div>
								</div>
								<!-- //exam-items -->

								<!-- exam-items -->
								<div class="exam-items" data-exam="4">
									<div class="number"><span>4</span></div>
									<div class="answer">
										How much does Mr. Perkins’ room most likely cost per night?
									</div>
									<div class="answer-items">
										<ol>
											<li>
												<em class="icon-state"></em>
												<a href="#" class="cont">
													<span>(A)</span>
													She will not be using Nationwide Water’s services anymore.
												</a>
											</li>
											<li>
												<em class="icon-state"></em>
												<a href="#" class="cont">
													<span>(B)</span>
													She correctly guessed the cause of a problem
												</a>
											</li>
											<li>
												<em class="icon-state"></em>
												<a href="#" class="cont">
													<span>(C)</span>
													She recently relocated to another branch.
												</a>
											</li>
											<li>
												<em class="icon-state"></em>
												<a href="#" class="cont">
													<span>(D)</span>
													She recently relocated to another branch.
												</a>
											</li>
										</ol>
									</div>
								</div>
								<!-- //exam-items -->

								<!-- exam-items -->
								<div class="exam-items" data-exam="5">
									<div class="number"><span>5</span></div>
									<div class="answer">
										How much does Mr. Perkins’ room most likely cost per night?
									</div>
									<div class="answer-items">
										<ol>
											<li>
												<em class="icon-state"></em>
												<a href="#" class="cont">
													<span>(A)</span>
													She will not be using Nationwide Water’s services anymore.
												</a>
											</li>
											<li>
												<em class="icon-state"></em>
												<a href="#" class="cont">
													<span>(B)</span>
													She correctly guessed the cause of a problem
												</a>
											</li>
											<li>
												<em class="icon-state"></em>
												<a href="#" class="cont">
													<span>(C)</span>
													She recently relocated to another branch.
												</a>
											</li>
											<li>
												<em class="icon-state"></em>
												<a href="#" class="cont">
													<span>(D)</span>
													She recently relocated to another branch.
												</a>
											</li>
										</ol>
									</div>
								</div>
								<!-- //exam-items -->

								<!-- exam-items -->
								<div class="exam-items" data-exam="6">
									<div class="number"><span>6</span></div>
									<div class="answer">
										How much does Mr. Perkins’ room most likely cost per night?
									</div>
									<div class="answer-items">
										<ol>
											<li>
												<em class="icon-state"></em>
												<a href="#" class="cont">
													<span>(A)</span>
													She will not be using Nationwide Water’s services anymore.
												</a>
											</li>
											<li>
												<em class="icon-state"></em>
												<a href="#" class="cont">
													<span>(B)</span>
													She correctly guessed the cause of a problem
												</a>
											</li>
											<li>
												<em class="icon-state"></em>
												<a href="#" class="cont">
													<span>(C)</span>
													She recently relocated to another branch.
												</a>
											</li>
											<li>
												<em class="icon-state"></em>
												<a href="#" class="cont">
													<span>(D)</span>
													She recently relocated to another branch.
												</a>
											</li>
										</ol>
									</div>
								</div>
								<!-- //exam-items -->
							</div>
							<!-- //exams -->
						</div>
						<!-- //questions-wrap -->
					</div>
					<!-- //test-wrap -->

					<!-- omr-wrap -->
					<div id="omr-wrap" class="test-quick-wrap">
						<!-- omr-card -->
						<div class="omr-card">
							<!-- title-box -->
							<div class="title-box display-table">
								<div class="no cell">NO.</div>
								<div class="cell">ANSWER</div>
							</div>
							<!-- //title-box -->

							<!-- omr-card-contents -->
							<div class="omr-card-contents">
								<!-- scroll-box -->
								<div class="scroll-box" data-theme-index="4">
									<!--
									omr-items
									1. 각 <div class="omr-items"> 에 data-omr 값에 문제번호를 삽입해주세요.
									   해당 data-omr값은 문제의 data-exam 값과 매칭됩니다.
									-->
									<div class="omr-items" data-omr="1">
										<div class="no"><a href="#">1</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer01" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer01" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer01" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer01" id="" value="d"></span>
										</div>
									</div>
									<!-- //omr-items -->

									<div class="omr-items" data-omr="2">
										<!--
										메모가 있는경우 <div class="no"> 엘리먼트에 "has-memo" class 추가
										-->
										<div class="no has-memo"><a href="#">2</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer02" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer02" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer02" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer02" id="" value="d"></span>
										</div>
									</div>
									<!--
									묶음 문제의 경우 <div class="bundle">로 각 문제들을 감싸주면 됩니다.
									-->
									<div class="bundle">
										<div class="omr-items" data-omr="3">
											<div class="no"><a href="#">3</a></div>
											<div class="omr-select">
												<span class="omr-radio">A<input type="radio" name="answer03" id="" value="a"></span>
												<span class="omr-radio">B<input type="radio" name="answer03" id="" value="b"></span>
												<span class="omr-radio">C<input type="radio" name="answer03" id="" value="c"></span>
												<span class="omr-radio">D<input type="radio" name="answer03" id="" value="d"></span>
											</div>
										</div>
										<div class="omr-items" data-omr="4">
											<div class="no"><a href="#">4</a></div>
											<div class="omr-select">
												<span class="omr-radio">A<input type="radio" name="answer04" id="" value="a"></span>
												<span class="omr-radio">B<input type="radio" name="answer04" id="" value="b"></span>
												<span class="omr-radio">C<input type="radio" name="answer04" id="" value="c"></span>
												<span class="omr-radio">D<input type="radio" name="answer04" id="" value="d"></span>
											</div>
										</div>
										<div class="omr-items" data-omr="5">
											<div class="no has-memo"><a href="#">5</a></div>
											<div class="omr-select">
												<span class="omr-radio">A<input type="radio" name="answer05" id="" value="a"></span>
												<span class="omr-radio">B<input type="radio" name="answer05" id="" value="b"></span>
												<span class="omr-radio">C<input type="radio" name="answer05" id="" value="c"></span>
												<span class="omr-radio">D<input type="radio" name="answer05" id="" value="d"></span>
											</div>
										</div>
										<div class="omr-items" data-omr="6">
											<div class="no has-memo"><a href="#">6</a></div>
											<div class="omr-select">
												<span class="omr-radio">A<input type="radio" name="answer06" id="" value="a"></span>
												<span class="omr-radio">B<input type="radio" name="answer06" id="" value="b"></span>
												<span class="omr-radio">C<input type="radio" name="answer06" id="" value="c"></span>
												<span class="omr-radio">D<input type="radio" name="answer06" id="" value="d"></span>
											</div>
										</div>
									</div>
									<!-- //bundle -->
									<div class="omr-items">
										<div class="no"><a href="#">7</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer07" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer07" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer07" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer07" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">8</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer08" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer08" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer08" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer08" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">9</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer09" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer09" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer09" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer09" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">10</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer010" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer010" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer010" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer010" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">11</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer011" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer011" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer011" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer011" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">12</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer012" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer012" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer012" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer012" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">13</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer013" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer013" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer013" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer013" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">14</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer014" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer014" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer014" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer014" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">15</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer015" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer015" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer015" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer015" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">16</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer016" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer016" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer016" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer016" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">17</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer017" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer017" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer017" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer017" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">18</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer018" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer018" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer018" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer018" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">19</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer019" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer019" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer019" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer019" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">20</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer020" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer020" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer020" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer020" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">21</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer021" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer021" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer021" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer021" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">22</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer022" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer022" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer022" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer022" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">23</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer023" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer023" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer023" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer023" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">24</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer024" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer024" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer024" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer024" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">25</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer025" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer025" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer025" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer025" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">26</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer026" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer026" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer026" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer026" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">27</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer027" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer027" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer027" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer027" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">28</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer028" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer028" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer028" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer028" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">29</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer029" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer029" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer029" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer029" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">30</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer030" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer030" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer030" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer030" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">31</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer031" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer031" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer031" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer031" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">32</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer032" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer032" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer032" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer032" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">33</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer033" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer033" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer033" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer033" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">34</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer034" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer034" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer034" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer034" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">35</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer035" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer035" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer035" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer035" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">36</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer036" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer036" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer036" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer036" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">37</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer037" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer037" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer037" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer037" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">38</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer038" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer038" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer038" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer038" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">39</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer039" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer039" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer039" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer039" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">40</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer040" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer040" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer040" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer040" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">41</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer041" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer041" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer041" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer041" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">42</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer042" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer042" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer042" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer042" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">43</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer043" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer043" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer043" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer043" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">44</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer044" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer044" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer044" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer044" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">45</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer045" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer045" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer045" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer045" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">46</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer046" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer046" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer046" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer046" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">47</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer047" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer047" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer047" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer047" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">48</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer048" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer048" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer048" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer048" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">49</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer049" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer049" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer049" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer049" id="" value="d"></span>
										</div>
									</div>
									<div class="omr-items">
										<div class="no"><a href="#">50</a></div>
										<div class="omr-select">
											<span class="omr-radio">A<input type="radio" name="answer050" id="" value="a"></span>
											<span class="omr-radio">B<input type="radio" name="answer050" id="" value="b"></span>
											<span class="omr-radio">C<input type="radio" name="answer050" id="" value="c"></span>
											<span class="omr-radio">D<input type="radio" name="answer050" id="" value="d"></span>
										</div>
									</div>
								</div>
								<!-- scroll-box -->
							</div>
							<!-- //omr-card-contents -->
						</div>
						<!-- //omr-card -->
					</div>
					<!-- //omr-wrap -->
				</div>
				<!-- //test-contents -->
			</div>
			<!-- //test-container -->
		</div>
		<!-- //contents -->
	</div>
	<!-- //container -->

	<!-- memo -->
	<div id="memo">
		<strong>메모</strong>
		<div class="btn-box">
			<button type="button" class="add"><span><img src="../../common/pc/images/icon/icon_add.png" alt="추가하기"></span></button>
			<button type="button" class="list"><span><img src="../../common/pc/images/icon/icon_list.png" alt="목록보기"></span></button>
		</div>
	</div>
	<!-- //memo -->

	<!-- foot-nav -->
	<div id="foot-nav">
		<div class="btn-wrap">
			<a href="#" class="prev disabled">이전</a>
			<a href="#" class="next">다음</a>
		</div>
	</div>
	<!-- //foot-nav -->
</div>
<!-- //wrap -->

<script language="javascript" type="text/javascript" src="../../common/pc/js/nt.js"></script>
</body>
</html>
