<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>파고다스타 - 최신인강 압도적 1위</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Language" content="English">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/contents.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/jquery.mCustomScrollbar.css" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/ie8.css"/>
	<script src="../../common/pc/js/respond.min.js"></script>
	<![endif]-->
	<!--[if !IE]><link rel="stylesheet" type="text/css" href="../../common/pc/css/non-ie.css" /> <![endif]-->

	<!-- jquery ui theme -->
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/jquery-ui.min.css"/>
	<script type="text/javascript" src="../../common/pc/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery-migrate-3.0.0.min.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery-ui.min.js"></script>
	<!-- //jquery ui theme -->

	<script type="text/javascript" src="../../common/pc/js/nt.base.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery.mCustomScrollbar.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery.mousewheel.js"></script>
</head>
<body>
<!-- skipNav -->
<div id="skipNav">
	<a href="#contents">본문 바로가기</a>
</div>
<!-- //skipNav -->

<!-- wrap -->
<div id="wrap">
	<!-- header -->
	<div id="header">
		<!-- wrapper -->
		<div class="wrapper">
			<!-- info -->
			<div class="info clear">
				<h1 class="title"><img src="../../common/pc/images/ttl/ttl_constant_answer.png" alt="정오답"></h1>
				<!-- paging -->
				<div class="paging">
					<em>150~153</em>
					<span>/ 200</span>
				</div>
				<!-- //paging -->
			</div>
			<!-- //info -->

			<!-- cont -->
			<div class="cont">
				<div class="btn">
					<button type="button" class="btn-type01 ver-all"><span>전체문항</span></button>
				</div>
			</div>
			<!-- //cont -->

			<!-- page-btn -->
			<div class="page-btn">
				<button type="button" class="type-exit">
					<span>나가기</span>
				</button>
			</div>
			<!-- //page-btn -->
		</div>
		<!-- //wrapper -->
	</div>
	<!-- //header -->

	<!-- container -->
	<div id="container">
		<!-- contents -->
		<div id="contents">
			<!-- ca-container -->
			<div class="ca-container">
				<!-- ca-contents -->
				<div class="ca-contents">
					<!-- questions-wrap -->
					<div class="questions-wrap">
						<!-- questions -->
						<div class="questions">
							<em>Questions 150 - 153</em>
							refer to the following advertisement, webpage, and e-mail.

							<div class="guide_kr">
								<em>150 - 153번</em>
								질문은 다음 전자 메일과 광고를 참조하세요.
							</div>
						</div>
						<!-- //questions -->
						
						<!-- fingerprint -->
						<div class="fingerprint">
							<!-- section -->
							<div class="section">
								<!-- box -->
								<div class="box">
									<div class="cont">
										To: Troy Perkins<br>
										From: Linda Hayes<br>
										Subject: Upcoming trip<br>
										Date: June 10<br>
										Hi Mr. Perkins,<br>
										You asked me to book you a room at the Golden Dunes Resort, and I’m pleased to say that your reservation is confirmed. I got you a Premier Room, as you <span class="uline">requested,</span> but I’m afraid there were no rooms left with views of the ocean. I hope that’s not a big problem. Your room is located on the third floor, so it’s conveniently located should you wish to visit the casino or one of the resort’s restaurants. I hope you have an enjoyable vacation, and I’ll be sure to forward e-mails to you if they seem crucially important. Apart from that, I’ll not bother you with work-related issues, and I’ll see you when you get back to the office on June 29. Bon voyage!<br>
										Linda
									</div>
								</div>
								<!-- //box -->

								<!-- box -->
								<div class="box">
									<div class="ttl-box"><img src="../../common/pc/images/ttl/ttl_interpretation.png" alt="해석"></div>
									<div class="cont guide_kr">
										수신: Troy Perkins<br>
										발신: Linda Hayes<br>
										제목: 다가오는 여행<br>
										날짜: 6월 10일<br>
										Perkins 씨께,<br>
										제게 Golden Dunes Resort의 객실 하나를 예약해 달라고 요청하셨었는데, 예약이 확정되었다는 말씀을 드리게 되어 기쁘게 생각합니다. <span class="uline">요청</span>하신 대로 프리미어 룸을 예약해 드렸지만, 아쉽게도 바다가 보이는 객실은 남아 있는 것이 없었습니다. 이 점이 큰 문제가 되지 않기를 바랍니다. 머무르실 객실은 3층에 위치해 있기 때문에 카지노나 리조트 내 레스토랑들 중의 한 곳을 방문하기를 원하실 경우에 편리하게 이용하실 수 있는 위치입니다. 즐거운 휴가 보내시기 바라며, 매우 중요해 보이는 이메일이 있을 경우에는 꼭 전송해 드리도록 하겠습니다. 그 외에는, 업무와 관련된 일들로 불편하게 해 드리지 않을 생각이며, 6월 29일에 사무실로 돌아 오시는 날 뵙겠습니다. 여행 잘 다녀 오세요!<br>
										Linda
									</div>
								</div>
								<!-- //box -->
							</div>
							<!-- //section -->
						</div>
						<!-- //fingerprint -->
						
						<!-- others_info -->
						<div class="others_info">
							<!-- section -->
							<div class="section">
								<div class="box">
									<div class="ttl-box"><img src="../../common/pc/images/ttl/ttl_voca.png" alt="어휘"></div>
									<div class="cont">
										<!-- voca-list -->
										<div class="voca-list">
											<dl>
												<dt>Lid</dt>
												<dd>[prep.] 뚜껑</dd>
											</dl>
											<dl>
												<dt>Lid</dt>
												<dd>[prep.] 뚜껑</dd>
											</dl>
											<dl>
												<dt>nominate</dt>
												<dd>지명하다.</dd>
											</dl>
											<dl>
												<dt>nominate</dt>
												<dd>지명하다.</dd>
											</dl>
											<dl>
												<dt>unfold</dt>
												<dd>펼친</dd>
											</dl>
											<dl>
												<dt>unfold</dt>
												<dd>펼친</dd>
											</dl>
										</div>
										<!-- //voca-list -->
									</div>
								</div>
							</div>
							<!-- //section -->
						</div>
						<!-- //others_info -->
					</div>
					<!-- //questions-wrap -->
				</div>
				<!-- //ca-contents -->
				
				<!-- ca-exams -->
				<div class="ca-exams">
					<!-- ca-exams-container -->
					<div class="ca-exams-container" data-theme-index="4">
						<!--
							오답일 경우
							class="exam-items" 엘리먼트에 ver-incorrect class 추가
						-->
						<!-- exam-items -->
						<div class="exam-items ver-incorrect">
							<!-- exam-questions -->
							<div class="exam-questions">
								<div class="guide-constant-answer">
									<span class="number"><span>150</span></span>
									<em>오답</em>입니다.
								</div>

								<p>In the first e-mail, the underlined, bold word “left” in paragraph 1, is closest in meaning to</p>
								<p class="guide_kr">
									남자가 원하는것은?
								</p>
							</div>
							<!-- //exam-questions -->
							
							<!-- exam-answer -->
							<div class="exam-answer">
								<!-- 
									1. 내가 선택했던 답 
									class="answer-items" 엘리먼트에 my-incorrect 추가
									2. 정답
									class="answer-items" 엘리먼트에 right-answer 추가
								-->
								<div class="answer-items my-incorrect">
									<div class="items-cont">
										<span class="item-txt">
											<em>(A)</em>
											<div>
												departed
												<p class="guide_kr">
													세상을 떠난
												</p>
											</div>
										</span>
									</div>
								</div>

								<div class="answer-items right-answer">
									<div class="items-cont">
										<span class="item-txt">
											<em>(B)</em>
											<div>
												submitted
												<p class="guide_kr">
													제출하다.
												</p>
											</div>
										</span>
									</div>
								</div>

								<div class="answer-items">
									<div class="items-cont">
										<span class="item-txt">
											<em>(C)</em>
											<div>
												staying
												<p class="guide_kr">
													계속 있다.
												</p>
											</div>
										</span>
									</div>
								</div>

								<div class="answer-items">
									<div class="items-cont">
										<span class="item-txt">
											<em>(D)</em>
											<div>
												remaining
												<p class="guide_kr">
													남아 있는, 남은
												</p>
											</div>
										</span>
									</div>
								</div>
							</div>
							<!-- //exam-answer -->
							
							<!-- exam-others -->
							<div class="exam-others">
								<!-- section -->
								<div class="section">
									<div class="ttl-box"><img src="../../common/pc/images/ttl/ttl_exposition.png" alt="해설"></div>
									<div class="cont">
										해당 문장에서 left는 바로 앞에 위치한 no rooms를 수식하는 과거분사로 쓰였다. 바로 뒤에 ‘문제가 되지 않기를 바란다’는 말이 있는 것으로 보아 예약 가능한 특정 객실이 남아 있지 않았음을 의미한다는 것을 알 수 있다. 따라서 ‘남아 있는, 남은’을 뜻하는 (D)가 정답이다.
									</div>
								</div>
								<!-- //section -->
							</div>
							<!-- //exam-others -->
						</div>
						<!-- //exam-items -->
					</div>
					<!-- //ca-exams-container -->
				</div>
				<!-- //ca-exams -->
			</div>
			<!-- //ca-container -->
		</div>
		<!-- //contents -->
	</div>
	<!-- //container -->

	<!-- foot-nav -->
	<div id="foot-nav">
		<div class="btn-wrap">
			<a href="#" class="prev">이전</a>
			<a href="#" class="next">다음</a>
		</div>
	</div>
	<!-- //foot-nav -->


	<!-- jump-layer -->
	<div id="jump-layer">
		<!-- jump-head -->
		<div class="jump-head">
			<div class="tab-type02 func-tab" data-contents="jump-tab-contents">
				<div class="display-table">
					<a href="#jt-all-exam" class="active">전체문항</a>
					<a href="#jt-all-memo">전체메모</a>
				</div>
			</div>
		</div>
		<!-- //jump-head -->

		<!-- jump-body -->
		<div class="jump-body">
			<!-- 전체문항 -->
			<div id="jt-all-exam" class="jump-tab-contents">
				<!-- scroll-box -->
				<div class="scroll-box">
					<!-- exam-list -->
					<div class="exam-list">
						<!-- list-items -->
						<div class="list-items">
							<ul>
								<!--
								1. 메모가 있는경우 <li>엘리먼트에 "memo" class추가
								2. 현재 문제의 경우 <li>엘리먼트에 "current" class 추가
								3. 각각의 part를 나누어주는 요소가 있는경우 button 대신
								   <strong class="part-ttl">취약영역<br><em>1</em></strong> 이런식으로 추가해주세요.
								-->
								<li>
									<div class="wrap">
										<strong class="part-ttl">취약영역<br><em>1</em></strong>
									</div>
								</li>
								<li>
									<div class="wrap"><button type="button">1<span>1</span></button></div>
								</li>
								<li class="memo">
									<div class="wrap"><button type="button">2<span>2</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">3<span>3</span></button></div>
								</li>
								<li class="memo">
									<div class="wrap"><button type="button">4<span>4</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">5<span>5</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">6<span>6</span></button></div>
								</li>
								<li class="current memo">
									<div class="wrap"><button type="button">7<span>7</span></button></div>
								</li>
								<li>
									<div class="wrap">
										<strong class="part-ttl">취약영역<br><em>2</em></strong>
									</div>
								</li>
								<li class="earse">
									<div class="wrap"><button type="button">8<span>8</span></button></div>
								</li>
								<li class="earse">
									<div class="wrap"><button type="button">9<span>9</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">10<span>10</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">11<span>11</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">12<span>12</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">13<span>13</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">14<span>14</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">15<span>15</span></button></div>
								</li>
								<li>
									<div class="wrap">
										<strong class="part-ttl">취약영역<br><em>3</em></strong>
									</div>
								</li>
								<li>
									<div class="wrap"><button type="button">16<span>16</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">17<span>17</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">18<span>18</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">19<span>19</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">20<span>20</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">21<span>21</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">22<span>22</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">23<span>23</span></button></div>
								</li>
								<li>
									<div class="wrap">
										<strong class="part-ttl">취약영역<br><em>4</em></strong>
									</div>
								</li>
								<li>
									<div class="wrap"><button type="button">24<span>24</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">25<span>25</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">26<span>26</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">27<span>27</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">28<span>28</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">29<span>29</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">30<span>30</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">31<span>31</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">32<span>32</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">33<span>33</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">34<span>34</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">35<span>35</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">36<span>36</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">37<span>37</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">38<span>38</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">39<span>39</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">40<span>40</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">41<span>41</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">42<span>42</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">43<span>43</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">44<span>44</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">45<span>45</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">46<span>46</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">47<span>47</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">48<span>48</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">49<span>49</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">50<span>50</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">51<span>51</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">52<span>52</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">53<span>53</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">54<span>54</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">55<span>55</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">56<span>56</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">57<span>57</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">58<span>58</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">59<span>59</span></button></div>
								</li>
								<li>
									<div class="wrap"><button type="button">60<span>60</span></button></div>
								</li>
							</ul>
						</div>
						<!-- //list-items -->
					</div>
					<!-- //exam-list -->
				</div>
				<!-- //scroll-box -->
			</div>
			<!-- //전체문항 -->
			
			<!-- 전체메모 -->
			<div id="jt-all-memo" class="jump-tab-contents">
				<!-- scroll-box -->
				<div class="scroll-box">
					<!-- memo-items-wrap -->
					<div class="memo-items-wrap">
						<ul>
							<li>
								<a href="#" class="wrap">
									<em>10</em>
									<p>이 문제 너무 어려움. 나중에 해야지.. 나중에 할거야.. 나중에 할수 있을까..?</p>
								</a>
							</li>
							<li>
								<a href="#" class="wrap">
									<em>20</em>
									<p>이 문제 너무 어려움. 나중에 해야지.. 나중에 할거야.. 나중에 할수 있을까..?</p>
								</a>
							</li>
							<li>
								<a href="#" class="wrap">
									<em>33</em>
									<p>이 문제 너무 어려움. 나중에 해야지.. 나중에 할거야.. 나중에 할수 있을까..?</p>
								</a>
							</li>
							<li>
								<a href="#" class="wrap">
									<em>34</em>
									<p>이 문제 너무 어려움. 나중에 해야지.. 나중에 할거야.. 나중에 할수 있을까..?</p>
								</a>
							</li>
							<li>
								<a href="#" class="wrap">
									<em>40</em>
									<p>이 문제 너무 어려움. 나중에 해야지.. 나중에 할거야.. 나중에 할수 있을까..?</p>
								</a>
							</li>
							<li>
								<a href="#" class="wrap">
									<em>52</em>
									<p>이 문제 너무 어려움. 나중에 해야지.. 나중에 할거야.. 나중에 할수 있을까..?</p>
								</a>
							</li>
							<li>
								<a href="#" class="wrap">
									<em>55</em>
									<p>이 문제 너무 어려움. 나중에 해야지.. 나중에 할거야.. 나중에 할수 있을까..?</p>
								</a>
							</li>
						</ul>
					</div>
					<!-- //memo-items-wrap -->
				</div>
				<!-- //scroll-box -->
			</div>
			<!-- //전체메모 -->
		</div>
		<!-- //jump-body -->

		<button type="button" class="close"><span><img src="../../common/pc/images/icon/icon_close.png" alt="닫기"></span></button>
	</div>
	<!-- //jump-layer -->

</div>
<!-- //wrap -->

<script language="javascript" type="text/javascript" src="../../common/pc/js/nt.js"></script>
</body>
</html>