<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>파고다스타 - 최신인강 압도적 1위</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Language" content="English">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/contents.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/jquery.mCustomScrollbar.css" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/ie8.css"/>
	<script src="../../common/pc/js/respond.min.js"></script>
	<![endif]-->
	<!--[if !IE]><link rel="stylesheet" type="text/css" href="../../common/pc/css/non-ie.css" /> <![endif]-->

	<!-- jquery ui theme -->
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/jquery-ui.min.css"/>
	<script type="text/javascript" src="../../common/pc/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery-migrate-3.0.0.min.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery-ui.min.js"></script>
	<!-- //jquery ui theme -->
	
	<!-- jplayer -->
	<link rel="stylesheet" href="../../common/pc/css/jplayer.css" />
	<script src="../../common/pc/js/jquery.jplayer.min.js"></script>
	<!-- //jplayer -->

	<script type="text/javascript" src="../../common/pc/js/nt.base.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery.mCustomScrollbar.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery.mousewheel.js"></script>
</head>
<body class="ver-myclass">
<!-- skipNav -->
<div id="skipNav">
	<a href="#contents">본문 바로가기</a>
</div>
<!-- //skipNav -->

<!-- wrap -->
<div id="wrap" class="ver-myclass">
	<!-- header -->
	<div id="header">
		<!-- wrapper -->
		<div class="wrapper">
			<!-- info -->
			<div class="info">
				<h1 class="title"><a href="#"><img src="../../common/pc/images/logo_new.jpg" alt="파고다스타"></a></h1>
			</div>
			<!-- //info -->

			<div class="nav-btns">
				<a href="#" class="logout">로그아웃</a>
				<a href="#" class="other-class">다른 강의 보기</a>
			</div>
		</div>
		<!-- //wrapper -->
	</div>
	<!-- //header -->

	<!-- container -->
	<div id="container">
		<!-- contents -->
		<div id="contents">
			<!-- myclass-wrap -->
			<div class="myclass-wrap">
				<!-- myclass-info -->
				<div class="myclass-info">
					<div class="wrapper">
						<h2>넥스트 토익 900 목표반</h2>

						<div class="info">
							<div class="date">
								수강기간
								<em>: 2017.03.29 ~ 2017.09.24</em>
							</div>
							
							<div class="btns">
								<a href="#">후기 쓰기</a>
							</div>
						</div>
					</div>
				</div>
				<!-- //myclass-info -->
				
				<!-- myclass-contents -->
				<div class="myclass-contents">
					<!-- wrapper -->
					<div class="wrapper">
						<!-- tab -->
						<div class="myclass-tab tab-type03">
							<div class="display-table">
								<a href="#">학습하기</a>
								<a href="#" class="active">종합분석</a>
								<a href="#">voca 학습</a>
							</div>
						</div>
						<!-- //tab -->
						
						<!-- myclass-report-wrap -->
						<div class="myclass-report-wrap">
							<!-- section -->
							<div class="section">
								<div class="myclass-info-wrap">
									<!-- score-wrap -->
									<div class="chart_solo article">
										<!-- chart-multi-box -->
										<div class="chart-multi-box clear">

											<div class="align-l">
												<h4 class="ttl-box"><em>LC</em> 예상 점수</h4>
												<div class="chart-type-col ver-theme02">
													<!-- chart-items -->
													<div class="chart-items">
														<div class="display-table">
															<div class="cell">
																<div class="chart-bar-wrap">
																	<span class="chart-bar" style="width:85%"><em class="chart-num">440<span></span></em></span>
																</div>

																<div class="figures">
																	<div class="display-table">
																		<span>250</span>
																		<span>495</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<!-- //chart-items -->
												</div>
											</div>

											<div class="align-r">
												<h4 class="ttl-box"><em>RC</em> 예상 점수</h4>
												<div class="chart-type-col ver-theme02">
													<!-- chart-items -->
													<div class="chart-items">
														<div class="display-table">
															<div class="cell">
																<div class="chart-bar-wrap">
																	<span class="chart-bar" style="width:75%"><em class="chart-num">380<span></span></em></span>
																</div>

																<div class="figures">
																	<div class="display-table">
																		<span>250</span>
																		<span>495</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<!-- //chart-items -->
												</div>
											</div>

											<div class="align-c">
												<h4 class="ttl-box"><em>Total</em> 예상 점수</h4>

												<div class="chart-type-selection">
													<div class="chart-sections">
														<ul class="display-table">
															<li><em>400</em><span class="data-score">400 ~ 500</span></li>
															<li><em>500</em><span class="data-score">500 ~ 600</span></li>
															<li><em>600</em><span class="data-score">600 ~ 700</span></li>
															<li><em>700</em><span class="data-score">700 ~ 800</span></li>
															<li class="current"><em>800</em><span class="data-score">800 ~ 900</span></li>
															<li>
																<em>900</em>
																<span class="data-score">900 ~ 990</span>
																<span class="last-figures">990</span>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<!-- //chart-multi-box -->

										<div class="info_btm">
											응시일 : 2017.10.10(간단 진단 TEST)
											<a href="#" class="btn-type06 ver4"><span>자세히 보기</span></a>
										</div>
									</div>
									<!-- //score-wrap -->
								</div>
							</div>
							<!-- //section -->

							<div class="section-guide">
								* 회차별 결과 리포트는 각 취약 유형 공략 학습하기에서 확인 가능합니다.
							</div>
						</div>
						<!-- //myclass-report-wrap -->
					</div>
					<!-- //wrapper -->
				</div>
				<!-- //myclass-contents -->
			</div>
			<!-- //myclass-wrap -->
		</div>
		<!-- //contents -->
	</div>
	<!-- //container -->
</div>
<!-- //wrap -->

<script language="javascript" type="text/javascript" src="../../common/pc/js/nt.js"></script>
</body>
</html>