<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>파고다스타 - 최신인강 압도적 1위</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Language" content="English">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/contents.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/jquery.mCustomScrollbar.css" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/ie8.css"/>
	<script src="../../common/pc/js/respond.min.js"></script>
	<![endif]-->
	<!--[if !IE]><link rel="stylesheet" type="text/css" href="../../common/pc/css/non-ie.css" /> <![endif]-->

	<!-- jquery ui theme -->
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/jquery-ui.min.css"/>
	<script type="text/javascript" src="../../common/pc/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery-migrate-3.0.0.min.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery-ui.min.js"></script>
	<!-- //jquery ui theme -->
	
	<!-- jplayer -->
	<link rel="stylesheet" href="../../common/pc/css/jplayer.css" />
	<script src="../../common/pc/js/jquery.jplayer.min.js"></script>
	<!-- //jplayer -->

	<script type="text/javascript" src="../../common/pc/js/nt.base.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery.mCustomScrollbar.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery.mousewheel.js"></script>
</head>
<body>
<!-- skipNav -->
<div id="skipNav">
	<a href="#contents">본문 바로가기</a>
</div>
<!-- //skipNav -->

<!-- wrap -->
<div id="wrap" class="ver-report">
	<!-- header -->
	<div id="header">
		<!-- wrapper -->
		<div class="wrapper">
			<!-- info -->
			<div class="info clear">
				<h1 class="title"><img src="../../common/pc/images/ttl/ttl_report.png" alt="결과분석"></h1>
			</div>
			<!-- //info -->

			<!-- page-btn -->
			<div class="page-btn">
				<button type="button" class="type-myclass">
					<span>내 강의실</span>
				</button>
			</div>
			<!-- //page-btn -->
		</div>
		<!-- //wrapper -->
	</div>
	<!-- //header -->

	<!-- container -->
	<div id="container">
		<!-- contents -->
		<div id="contents">
			<!-- report-contents -->
			<div class="report-contents">
				<!-- report-banner -->
				<a href="#" class="report-banner">
					<div class="banner-cont">
						<div class="icon">
							<img src="../../common/pc/images/icon/icon_report_banner.png" alt="">
						</div>
						문제 유형별<br>
						<em>시험 결과</em>를<br>
						확인해보세요.
					</div>
					<div class="banner-btn">
						<div class="btn-type02 ver-link"><span>정오답 해설</span></div>
					</div>
				</a>
				<!-- //report-banner -->

				<!-- my-score-info -->
				<div class="my-score-info">
					<h2><em>이재호</em>님의 점수</h2>

					<div class="display-table">
						<!-- info -->
						<div class="cell info">
							<div class="score">
								<em>760</em>
								/ 990
							</div>
							<div class="guide">
								<span>
									이재호님의 점수는 전체 응시자의<br> 
									<span><em>상위 <em>15</em><span>%</span></em></span>에 해당합니다.
								</span>
							</div>
						</div>
						<!-- //info -->

						<!-- chart -->
						<div class="cell chart">
							<div class="chart-type-col">

								<!-- chart-items -->
								<div class="chart-items result-items">
									<div class="display-table">
										<div class="cell chart-name ver2">LC</div>
										<div class="cell">
											<div class="chart-bar-wrap">
												<span class="chart-bar" style="width:65%"><em class="chart-num">320<span>점</span></em></span>
											</div>
										</div>
									</div>
								</div>
								<div class="chart-items result-items">
									<div class="display-table">
										<div class="cell chart-name ver2">RC</div>
										<div class="cell">
											<div class="chart-bar-wrap">
												<span class="chart-bar" style="width:85%"><em class="chart-num">440<span>점</span></em></span>
											</div>

											<div class="figures">
												<div class="display-table">
													<span>250</span>
													<span>495</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- //chart-items -->
							</div>
						</div>
						<!-- //chart -->
					</div>
				</div>
				<!-- //my-score-info -->
				
				<!-- report-section -->
				<div class="report-section">
					<!-- section -->
					<div class="toeic-trend-wrap section">
						<h3>토익 예상 점수</h3>
						<!-- box -->
						<div class="box">
							<div class="chart-type-col">
								<!-- chart-items -->
								<div class="chart-items">
									<div class="display-table">
										<div class="cell chart-name">전체 응시자 평균</div>
										<div class="cell">
											<div class="chart-bar-wrap">
												<span class="chart-bar" style="width:55%"><em class="chart-num">600<span>점</span></em></span>
											</div>
										</div>
									</div>
								</div>
								<!-- //chart-items -->

								<!-- chart-items -->
								<div class="chart-items ver-color02">
									<div class="display-table">
										<div class="cell chart-name">동 점수대 평균</div>
										<div class="cell">
											<div class="chart-bar-wrap">
												<span class="chart-bar" style="width:65%"><em class="chart-num">700<span>점</span></em></span>
											</div>
										</div>
									</div>
								</div>
								<!-- //chart-items -->

								<!-- chart-items -->
								<div class="chart-items result-items">
									<div class="display-table">
										<div class="cell chart-name">내 점수</div>
										<div class="cell">
											<div class="chart-bar-wrap">
												<span class="chart-bar" style="width:75%"><em class="chart-num">850<span>점</span></em></span>
											</div>

											<div class="figures">
												<div class="display-table">
													<span>200</span>
													<span>400</span>
													<span>600</span>
													<span>800</span>
													<span>900</span>
													<span>990</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- //chart-items -->
							</div>
						</div>
						<!-- //box -->
					</div>
					<!-- //section -->

					<!-- section -->
					<div class="section">
						<h3>토익 점수 분포도</h3>
						<div class="box">
							<div class="img_chart">
								<!--
								아래의 차트는 총 6종류
								chart_1 ~ chart_6 까지 chart_번호.png로 처리되어있습니다.
								-->
								<img src="../../common/pc/images/chart/chart_1.png" alt="">
							</div>
						</div>
					</div>
					<!-- //section -->
					
					<!-- section -->
					<div class="rounds-distribution section">
						<h3>회차별 점수 추이</h3>
						<!-- box -->
						<div class="box">
							<!-- chart-type-point -->
							<div class="chart-type-point" data-max="990">
								<span class="chart-line"><span></span></span>

								<!-- chart-wrap -->
								<div class="chart-wrap">
									<div class="chart-rows">
										<span><em>0</em></span>
										<span><em>200</em></span>
										<span><em>400</em></span>
										<span><em>600</em></span>
										<span><em>800</em></span>
										<span><em>990</em></span>
									</div>
									<!--
									데이터가 없는 회차의 경우
									<div class="chart-items"> 의 data-num 값을 0으로 설정하거나, 공백으로 처리하면 적용됩니다.
									<em class="chart-num"> 에도 echo 출력 X
									-->
									<div class="display-table">
										<!-- chart-items -->
										<div class="chart-items" data-num="640">
											<div class="chart-name"><em>1</em>회차</div>
											<div class="chart-bar-wrap">
												<span class="chart-bar" style="height: 67%;"><em class="chart-num">640</em></span>
											</div>
										</div>
										<!-- //chart-items -->

										<!-- chart-items -->
										<div class="chart-items" data-num="280">
											<div class="chart-name"><em>2</em>회차</div>
											<div class="chart-bar-wrap">
												<span class="chart-bar" style="height: 33%;"><em class="chart-num">280</em></span>
											</div>
										</div>
										<!-- //chart-items -->

										<!-- chart-items -->
										<div class="chart-items" data-num="450">
											<div class="chart-name"><em>3</em>회차</div>
											<div class="chart-bar-wrap">
												<span class="chart-bar" style="height: 50%;"><em class="chart-num">450</em></span>
											</div>
										</div>
										<!-- //chart-items -->

										<!-- chart-items -->
										<div class="chart-items" data-num="590">
											<div class="chart-name"><em>4</em>회차</div>
											<div class="chart-bar-wrap">
												<span class="chart-bar" style="height: 60%;"><em class="chart-num active">590</em></span>
											</div>
										</div>
										<!-- //chart-items -->
									</div>
									
								</div>
								<!-- //chart-wrap -->
							</div>
							<!-- //chart-type-point -->
						</div>
						<!-- //box -->
					</div>
					<!-- //section -->

					<!-- section -->
					<div class="section analysis-by-area">
						<h3>영역별 분석 결과</h3>
						<div class="box">
							<!-- article -->
							<div class="article">
								<div class="ttl-box"><em>LC</em> 분석</div>
							
								<!-- chart-circle-multi-wrap -->
								<div class="chart-circle-multi-wrap">
									<div class="display-table">
										<div class="cell">
											<!-- chart-wrap -->
											<div class="chart-circle-wrap">
												<div class="chart-circle" data-percent="60">
													<svg width="100%" height="100%">
													  <circle r="41%" cx="50%" cy="50%" class="chart-circle-base" fill="transparent" stroke-width="14" stroke="#EEE"></circle>
													  <circle r="41%" cx="50%" cy="50%" class="chart-circle-progress" stroke-width="14" stroke-linecap="round"></circle>  
													</svg>
													<em class="per-num"><span>0</span>%</em>
												</div>
											</div>
											<!-- //chart-wrap -->

											<em>사진묘사</em>
										</div>

										<div class="cell">
											<!-- chart-wrap -->
											<div class="chart-circle-wrap">
												<div class="chart-circle theme02" data-percent="30">
													<svg width="100%" height="100%">
													  <circle r="41%" cx="50%" cy="50%" class="chart-circle-base" fill="transparent" stroke-width="14" stroke="#EEE"></circle>
													  <circle r="41%" cx="50%" cy="50%" class="chart-circle-progress" stroke-width="14" stroke-linecap="round"></circle>  
													</svg>
													<em class="per-num"><span>0</span>%</em>
												</div>
											</div>
											<!-- //chart-wrap -->

											<em>질의응답</em>
										</div>

										<div class="cell">
											<!-- chart-wrap -->
											<div class="chart-circle-wrap">
												<div class="chart-circle theme03" data-percent="40">
													<svg width="100%" height="100%">
													  <circle r="41%" cx="50%" cy="50%" class="chart-circle-base" fill="transparent" stroke-width="14" stroke="#EEE"></circle>
													  <circle r="41%" cx="50%" cy="50%" class="chart-circle-progress" stroke-width="14" stroke-linecap="round"></circle>  
													</svg>
													<em class="per-num"><span>0</span>%</em>
												</div>
											</div>
											<!-- //chart-wrap -->

											<em>일반정보</em>
										</div>

										<div class="cell">
											<!-- chart-wrap -->
											<div class="chart-circle-wrap">
												<div class="chart-circle theme04" data-percent="25">
													<svg width="100%" height="100%">
													  <circle r="41%" cx="50%" cy="50%" class="chart-circle-base" fill="transparent" stroke-width="14" stroke="#EEE"></circle>
													  <circle r="41%" cx="50%" cy="50%" class="chart-circle-progress" stroke-width="14" stroke-linecap="round"></circle>  
													</svg>
													<em class="per-num"><span>0</span>%</em>
												</div>
											</div>
											<!-- //chart-wrap -->

											<em>세부정보</em>
										</div>

										<div class="cell">
											<!-- chart-wrap -->
											<div class="chart-circle-wrap">
												<div class="chart-circle theme05" data-percent="70">
													<svg width="100%" height="100%">
													  <circle r="41%" cx="50%" cy="50%" class="chart-circle-base" fill="transparent" stroke-width="14" stroke="#EEE"></circle>
													  <circle r="41%" cx="50%" cy="50%" class="chart-circle-progress" stroke-width="14" stroke-linecap="round"></circle>  
													</svg>
													<em class="per-num"><span>0</span>%</em>
												</div>
											</div>
											<!-- //chart-wrap -->

											<em>연계/추론</em>
										</div>
									</div>
								</div>
								<!-- //chart-circle-multi-wrap -->
							</div>
							<!-- //article -->

							<!-- article -->
							<div class="article">
								<div class="ttl-box"><em>RC</em> 분석</div>
							
								<!-- chart-circle-multi-wrap -->
								<div class="chart-circle-multi-wrap">
									<div class="display-table">
										<div class="cell">
											<!-- chart-wrap -->
											<div class="chart-circle-wrap">
												<div class="chart-circle" data-percent="60">
													<svg width="100%" height="100%">
													  <circle r="41%" cx="50%" cy="50%" class="chart-circle-base" fill="transparent" stroke-width="14" stroke="#EEE"></circle>
													  <circle r="41%" cx="50%" cy="50%" class="chart-circle-progress" stroke-width="14" stroke-linecap="round"></circle>  
													</svg>
													<em class="per-num"><span>0</span>%</em>
												</div>
											</div>
											<!-- //chart-wrap -->

											<em>문법</em>
										</div>

										<div class="cell">
											<!-- chart-wrap -->
											<div class="chart-circle-wrap">
												<div class="chart-circle theme02" data-percent="30">
													<svg width="100%" height="100%">
													  <circle r="41%" cx="50%" cy="50%" class="chart-circle-base" fill="transparent" stroke-width="14" stroke="#EEE"></circle>
													  <circle r="41%" cx="50%" cy="50%" class="chart-circle-progress" stroke-width="14" stroke-linecap="round"></circle>  
													</svg>
													<em class="per-num"><span>0</span>%</em>
												</div>
											</div>
											<!-- //chart-wrap -->

											<em>어휘</em>
										</div>

										<div class="cell">
											<!-- chart-wrap -->
											<div class="chart-circle-wrap">
												<div class="chart-circle theme03" data-percent="40">
													<svg width="100%" height="100%">
													  <circle r="41%" cx="50%" cy="50%" class="chart-circle-base" fill="transparent" stroke-width="14" stroke="#EEE"></circle>
													  <circle r="41%" cx="50%" cy="50%" class="chart-circle-progress" stroke-width="14" stroke-linecap="round"></circle>  
													</svg>
													<em class="per-num"><span>0</span>%</em>
												</div>
											</div>
											<!-- //chart-wrap -->

											<em>일반정보</em>
										</div>

										<div class="cell">
											<!-- chart-wrap -->
											<div class="chart-circle-wrap">
												<div class="chart-circle theme04" data-percent="25">
													<svg width="100%" height="100%">
													  <circle r="41%" cx="50%" cy="50%" class="chart-circle-base" fill="transparent" stroke-width="14" stroke="#EEE"></circle>
													  <circle r="41%" cx="50%" cy="50%" class="chart-circle-progress" stroke-width="14" stroke-linecap="round"></circle>  
													</svg>
													<em class="per-num"><span>0</span>%</em>
												</div>
											</div>
											<!-- //chart-wrap -->

											<em>세부정보</em>
										</div>

										<div class="cell">
											<!-- chart-wrap -->
											<div class="chart-circle-wrap">
												<div class="chart-circle theme05" data-percent="70">
													<svg width="100%" height="100%">
													  <circle r="41%" cx="50%" cy="50%" class="chart-circle-base" fill="transparent" stroke-width="14" stroke="#EEE"></circle>
													  <circle r="41%" cx="50%" cy="50%" class="chart-circle-progress" stroke-width="14" stroke-linecap="round"></circle>  
													</svg>
													<em class="per-num"><span>0</span>%</em>
												</div>
											</div>
											<!-- //chart-wrap -->

											<em>연계/추론</em>
										</div>
									</div>
								</div>
								<!-- //chart-circle-multi-wrap -->
							</div>
							<!-- //article -->
						</div>
					</div>
					<!-- //section -->

					<!-- section -->
					<div class="section">
						<h3>추천 학습 방법</h3>
						<div class="box">
							<div class="msg-wrap">
								문장 전체의 구조와 빈칸에 필요한 문장 성분을 단숨에 파악할 수 있는 단계입니다.<br>
								드물게 등장하는 <em>고급 어휘와 표현</em>을 두루 익혀, 유사 의미 단어 간의 뉘앙스 차이를 이해해야 합니다.<br>
								도치 구문, 복합 관계사의 활용 등 고급 문법을 학습해야 합니다.
							</div>
						</div>
					</div>
					<!-- //section -->

					<!-- section -->
					<div class="weak-type-report section">
						<h3>취약 유형 분석 결과</h3>
						<div class="box">
							<!-- article -->
							<div class="article">
								<div class="ttl-box"><em>LC</em> <span>TOP5</span></div>

								<ol class="weak-type-list">
									<li>
										<div class="subject">
											<em>01.</em>
											TO 부정사의 역할
											<span></span>
										</div>
										<div class="cont">
											<div class="wrap">
												<dl>
													<dt>약점 진단</dt>
													<dd>
														가산 명사와 불가산 명사의 특징 및 혼동하기 쉬운 빈출 가산 명사 vs. 불가산 명사 학습이 필요합니다.<br>
														불가산 명사 학습이 필요합니다.
													</dd>
												</dl>

												<dl>
													<dt>약점 공략</dt>
													<dd>
														가산 명사와 불가산 명사의 특징 및 혼동하기 쉬운 빈출 가산 명사 vs. 불가산 명사 학습이 필요합니다.<br>
														불가산 명사 학습이 필요합니다.
													</dd>
												</dl>
											</div>
										</div>
									</li>
									<li>
										<div class="subject">
											<em>02.</em>
											가산∙불가산 명사를 모두 취하는 수량형용사
											<span></span>
										</div>
										<div class="cont">
											<div class="wrap">
												<dl>
													<dt>약점 진단</dt>
													<dd>
														가산 명사와 불가산 명사의 특징 및 혼동하기 쉬운 빈출 가산 명사 vs. 불가산 명사 학습이 필요합니다.<br>
														불가산 명사 학습이 필요합니다.
													</dd>
												</dl>

												<dl>
													<dt>약점 공략</dt>
													<dd>
														가산 명사와 불가산 명사의 특징 및 혼동하기 쉬운 빈출 가산 명사 vs. 불가산 명사 학습이 필요합니다.<br>
														불가산 명사 학습이 필요합니다.
													</dd>
												</dl>
											</div>
										</div>
									</li>
									<li>
										<div class="subject">
											<em>03.</em>
											TO 부정사의 역할
											<span></span>
										</div>
										<div class="cont">
											<div class="wrap">
												<dl>
													<dt>약점 진단</dt>
													<dd>
														가산 명사와 불가산 명사의 특징 및 혼동하기 쉬운 빈출 가산 명사 vs. 불가산 명사 학습이 필요합니다.<br>
														불가산 명사 학습이 필요합니다.
													</dd>
												</dl>

												<dl>
													<dt>약점 공략</dt>
													<dd>
														가산 명사와 불가산 명사의 특징 및 혼동하기 쉬운 빈출 가산 명사 vs. 불가산 명사 학습이 필요합니다.<br>
														불가산 명사 학습이 필요합니다.
													</dd>
												</dl>
											</div>
										</div>
									</li>
									<li>
										<div class="subject">
											<em>04.</em>
											가산∙불가산 명사를 모두 취하는 수량형용사
											<span></span>
										</div>
										<div class="cont">
											<div class="wrap">
												<dl>
													<dt>약점 진단</dt>
													<dd>
														가산 명사와 불가산 명사의 특징 및 혼동하기 쉬운 빈출 가산 명사 vs. 불가산 명사 학습이 필요합니다.<br>
														불가산 명사 학습이 필요합니다.
													</dd>
												</dl>

												<dl>
													<dt>약점 공략</dt>
													<dd>
														가산 명사와 불가산 명사의 특징 및 혼동하기 쉬운 빈출 가산 명사 vs. 불가산 명사 학습이 필요합니다.<br>
														불가산 명사 학습이 필요합니다.
													</dd>
												</dl>
											</div>
										</div>
									</li>
									<li>
										<div class="subject">
											<em>05.</em>
											TO 부정사의 역할
											<span></span>
										</div>
										<div class="cont">
											<div class="wrap">
												<dl>
													<dt>약점 진단</dt>
													<dd>
														가산 명사와 불가산 명사의 특징 및 혼동하기 쉬운 빈출 가산 명사 vs. 불가산 명사 학습이 필요합니다.<br>
														불가산 명사 학습이 필요합니다.
													</dd>
												</dl>

												<dl>
													<dt>약점 공략</dt>
													<dd>
														가산 명사와 불가산 명사의 특징 및 혼동하기 쉬운 빈출 가산 명사 vs. 불가산 명사 학습이 필요합니다.<br>
														불가산 명사 학습이 필요합니다.
													</dd>
												</dl>
											</div>
										</div>
									</li>
								</ol>
							</div>
							<!-- //article -->

							<!-- article -->
							<div class="article">
								<div class="ttl-box"><em>RC</em> <span>TOP5</span></div>

								<ol class="weak-type-list">
									<li>
										<div class="subject">
											<em>01.</em>
											TO 부정사의 역할
											<span></span>
										</div>
										<div class="cont">
											<div class="wrap">
												<dl>
													<dt>약점 진단</dt>
													<dd>
														가산 명사와 불가산 명사의 특징 및 혼동하기 쉬운 빈출 가산 명사 vs. 불가산 명사 학습이 필요합니다.<br>
														불가산 명사 학습이 필요합니다.
													</dd>
												</dl>

												<dl>
													<dt>약점 공략</dt>
													<dd>
														가산 명사와 불가산 명사의 특징 및 혼동하기 쉬운 빈출 가산 명사 vs. 불가산 명사 학습이 필요합니다.<br>
														불가산 명사 학습이 필요합니다.
													</dd>
												</dl>
											</div>
										</div>
									</li>
									<li>
										<div class="subject">
											<em>02.</em>
											가산∙불가산 명사를 모두 취하는 수량형용사
											<span></span>
										</div>
										<div class="cont">
											<div class="wrap">
												<dl>
													<dt>약점 진단</dt>
													<dd>
														가산 명사와 불가산 명사의 특징 및 혼동하기 쉬운 빈출 가산 명사 vs. 불가산 명사 학습이 필요합니다.<br>
														불가산 명사 학습이 필요합니다.
													</dd>
												</dl>

												<dl>
													<dt>약점 공략</dt>
													<dd>
														가산 명사와 불가산 명사의 특징 및 혼동하기 쉬운 빈출 가산 명사 vs. 불가산 명사 학습이 필요합니다.<br>
														불가산 명사 학습이 필요합니다.
													</dd>
												</dl>
											</div>
										</div>
									</li>
									<li>
										<div class="subject">
											<em>03.</em>
											TO 부정사의 역할
											<span></span>
										</div>
										<div class="cont">
											<div class="wrap">
												<dl>
													<dt>약점 진단</dt>
													<dd>
														가산 명사와 불가산 명사의 특징 및 혼동하기 쉬운 빈출 가산 명사 vs. 불가산 명사 학습이 필요합니다.<br>
														불가산 명사 학습이 필요합니다.
													</dd>
												</dl>

												<dl>
													<dt>약점 공략</dt>
													<dd>
														가산 명사와 불가산 명사의 특징 및 혼동하기 쉬운 빈출 가산 명사 vs. 불가산 명사 학습이 필요합니다.<br>
														불가산 명사 학습이 필요합니다.
													</dd>
												</dl>
											</div>
										</div>
									</li>
									<li>
										<div class="subject">
											<em>04.</em>
											가산∙불가산 명사를 모두 취하는 수량형용사
											<span></span>
										</div>
										<div class="cont">
											<div class="wrap">
												<dl>
													<dt>약점 진단</dt>
													<dd>
														가산 명사와 불가산 명사의 특징 및 혼동하기 쉬운 빈출 가산 명사 vs. 불가산 명사 학습이 필요합니다.<br>
														불가산 명사 학습이 필요합니다.
													</dd>
												</dl>

												<dl>
													<dt>약점 공략</dt>
													<dd>
														가산 명사와 불가산 명사의 특징 및 혼동하기 쉬운 빈출 가산 명사 vs. 불가산 명사 학습이 필요합니다.<br>
														불가산 명사 학습이 필요합니다.
													</dd>
												</dl>
											</div>
										</div>
									</li>
									<li>
										<div class="subject">
											<em>05.</em>
											TO 부정사의 역할
											<span></span>
										</div>
										<div class="cont">
											<div class="wrap">
												<dl>
													<dt>약점 진단</dt>
													<dd>
														가산 명사와 불가산 명사의 특징 및 혼동하기 쉬운 빈출 가산 명사 vs. 불가산 명사 학습이 필요합니다.<br>
														불가산 명사 학습이 필요합니다.
													</dd>
												</dl>

												<dl>
													<dt>약점 공략</dt>
													<dd>
														가산 명사와 불가산 명사의 특징 및 혼동하기 쉬운 빈출 가산 명사 vs. 불가산 명사 학습이 필요합니다.<br>
														불가산 명사 학습이 필요합니다.
													</dd>
												</dl>
											</div>
										</div>
									</li>
								</ol>
							</div>
							<!-- //article -->
						</div>
					</div>
					<!-- //section -->
				</div>
				<!-- //report-section -->
			</div>
			<!-- //report-contents -->
		</div>
		<!-- //contents -->
	</div>
	<!-- //container -->
</div>
<!-- //wrap -->

<script language="javascript" type="text/javascript" src="../../common/pc/js/nt.js"></script>
</body>
</html>