<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>파고다스타 - 최신인강 압도적 1위</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Language" content="English">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/contents.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/jquery.mCustomScrollbar.css" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/ie8.css"/>
	<script src="../../common/pc/js/respond.min.js"></script>
	<![endif]-->
	<!--[if !IE]><link rel="stylesheet" type="text/css" href="../../common/pc/css/non-ie.css" /> <![endif]-->

	<!-- jquery ui theme -->
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/jquery-ui.min.css"/>
	<script type="text/javascript" src="../../common/pc/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery-migrate-3.0.0.min.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery-ui.min.js"></script>
	<!-- //jquery ui theme -->
	
	<!-- jplayer -->
	<link rel="stylesheet" href="../../common/pc/css/jplayer.css" />
	<script src="../../common/pc/js/jquery.jplayer.min.js"></script>
	<!-- //jplayer -->

	<script type="text/javascript" src="../../common/pc/js/nt.base.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery.mCustomScrollbar.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery.mousewheel.js"></script>
</head>
<body>
<!-- skipNav -->
<div id="skipNav">
	<a href="#contents">본문 바로가기</a>
</div>
<!-- //skipNav -->

<!-- wrap -->
<div id="wrap" class="ver-report">
	<!-- header -->
	<div id="header">
		<!-- wrapper -->
		<div class="wrapper">
			<!-- info -->
			<div class="info clear">
				<h1 class="title"><img src="../../common/pc/images/ttl/ttl_ca.png" alt="정오답 해설"></h1>
			</div>
			<!-- //info -->

			<!-- page-btn -->
			<div class="page-btn">
				<button type="button" class="type-myclass">
					<span>마이페이지</span>
				</button>
			</div>
			<!-- //page-btn -->
		</div>
		<!-- //wrapper -->
	</div>
	<!-- //header -->

	<!-- container -->
	<div id="container">
		<!-- contents -->
		<div id="contents">
			<!-- report-contents -->
			<div class="report-contents">
				<!-- report-banner -->
				<a href="#" class="report-banner">
					<div class="banner-cont">
						<div class="icon">
							<img src="../../common/pc/images/icon/icon_report_banner_ca.png" alt="">
						</div>
						문제 유형별<br>
						<em>분석 결과</em>를<br>
						확인해보세요.
					</div>
					<div class="banner-btn">
						<div class="btn-type02 ver-link"><span>결과 분석 확인</span></div>
					</div>
				</a>
				<!-- //report-banner -->

				<!-- my-score-info -->
				<div class="my-score-info">
					<h2><em>이재호</em>님의 점수</h2>

					<div class="display-table">
						<!-- info -->
						<div class="cell info">
							<div class="score">
								<em>23</em>
								/ 30 (정답률 76%)
							</div>
							<div class="sheet">
								<table summary="소요시간">
									<caption>소요시간 표</caption>
									<thead>
										<tr>
											<th scope="col">전체 소요시간</th>
											<th scope="col">한 문제당 평균 풀이 시간</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><em>45</em>분<em>30</em>초</td>
											<td><em>30</em>초</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- //info -->

						<!-- chart -->
						<div class="cell chart">
							<div class="chart-type-col">
								<!-- chart-items -->
								<div class="chart-items">
									<div class="display-table">
										<div class="cell chart-name">전체 응시자 평균 소요 시간</div>
										<div class="cell">
											<div class="chart-bar-wrap">
												<span class="chart-bar" style="width:55%">
													<em class="chart-num">14<span>분</span>30<span>초</span></em>
												</span>
											</div>
										</div>
									</div>
								</div>
								<!-- //chart-items -->

								<!-- 
								chart-items 
								<span class="chart-bar" style="width:25%">
								위처럼 총 퍼센트가 30% 이하일때는 
								<div class="chart-items"> 엘리먼트에 "min_half" class를 추가해줍니다.
								-->
								<div class="chart-items ver-color02 min_half">
									<div class="display-table">
										<div class="cell chart-name">동 점수대 평균 소요 시간</div>
										<div class="cell">
											<div class="chart-bar-wrap">
												<span class="chart-bar" style="width:25%">
													<em class="chart-num">8<span>분</span>20<span>초</span></em>
												</span>
											</div>
										</div>
									</div>
								</div>
								<!-- //chart-items -->

								<!-- chart-items -->
								<div class="chart-items result-items">
									<div class="display-table">
										<div class="cell chart-name">내 소요 시간</div>
										<div class="cell">
											<div class="chart-bar-wrap">
												<span class="chart-bar" style="width:65%">
													<em class="chart-num">14<span>분</span>10<span>초</span></em>
												</span>
											</div>

											<div class="figures">
												<div class="display-table">
													<span>5</span>
													<span>10</span>
													<span>15</span>
													<span>20</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- //chart-items -->
							</div>
						</div>
						<!-- //chart -->
					</div>
				</div>
				<!-- //my-score-info -->
				
				<!-- report-section -->
				<div class="report-section">
					<!-- section -->
					<div class="exam-list-wrap section">
						<h3>전체 문제</h3>

						<div class="sort-box">
							<select name="" title="" class="hidden-select sort-select" data-target="sort-contents">
								<option value="" data-sort="all">전체 문제</option>
								<option value="" data-sort="earse">오답 문제</option>
								<option value="" data-sort="memo">메모 체크 문제</option>
							</select>
						</div>
						<!-- box -->
						<div class="box">
							<div class="sort-contents">
								<!-- exam-list -->
								<div class="exam-list">
									<div class="ttl">RC</div>
									<!-- list-items -->
									<div class="list-items">
										<ul>
											<li>
												<div class="wrap"><button type="button">1<span>1</span></button></div>
											</li>
											<li class="memo">
												<div class="wrap"><button type="button">2<span>2</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">3<span>3</span></button></div>
											</li>
											<li class="memo">
												<div class="wrap"><button type="button">4<span>4</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">5<span>5</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">6<span>6</span></button></div>
											</li>
											<li class="current memo">
												<div class="wrap"><button type="button">7<span>7</span></button></div>
											</li>
											<li class="earse">
												<div class="wrap"><button type="button">8<span>8</span></button></div>
											</li>
											<li class="earse">
												<div class="wrap"><button type="button">9<span>9</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">10<span>10</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">11<span>11</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">12<span>12</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">13<span>13</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">14<span>14</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">15<span>15</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">16<span>16</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">17<span>17</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">18<span>18</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">19<span>19</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">20<span>20</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">21<span>21</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">22<span>22</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">23<span>23</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">24<span>24</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">25<span>25</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">26<span>26</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">27<span>27</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">28<span>28</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">29<span>29</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">30<span>30</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">31<span>31</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">32<span>32</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">33<span>33</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">34<span>34</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">35<span>35</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">36<span>36</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">37<span>37</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">38<span>38</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">39<span>39</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">40<span>40</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">41<span>41</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">42<span>42</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">43<span>43</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">44<span>44</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">45<span>45</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">46<span>46</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">47<span>47</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">48<span>48</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">49<span>49</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">50<span>50</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">51<span>51</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">52<span>52</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">53<span>53</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">54<span>54</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">55<span>55</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">56<span>56</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">57<span>57</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">58<span>58</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">59<span>59</span></button></div>
											</li>
											<li>
												<div class="wrap"><button type="button">60<span>60</span></button></div>
											</li>
										</ul>
									</div>
									<!-- //list-items -->
								</div>
								<!-- //exam-list -->
							</div>
						</div>
						<!-- //box -->
						
						<!-- btn-wrap -->
						<div class="btn-wrap">
							<div class="btn-center">
								<a href="#" class="btn-type02 ver-link"><span>자세히 보기</span></a>
							</div>
						</div>
						<!-- //btn-wrap -->
					</div>
					<!-- //section -->
				</div>
				<!-- //report-section -->
			</div>
			<!-- //report-contents -->
		</div>
		<!-- //contents -->
	</div>
	<!-- //container -->
</div>
<!-- //wrap -->

<!--
select box 관련 스크립트 
selectric.min.js는 부분적으로 특정페이지에서만 쓸수있도록 처리합니다.
-->
<script type="text/javascript" src="../../common/pc/js/jquery.selectric.min.js"></script>
<script type="text/javascript" src="../../common/pc/js/nt.js"></script>
</body>
</html>