<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>파고다스타 - 최신인강 압도적 1위</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Language" content="English">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/contents.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/jquery.mCustomScrollbar.css" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/ie8.css"/>
	<script src="../../common/pc/js/respond.min.js"></script>
	<![endif]-->
	<!--[if !IE]><link rel="stylesheet" type="text/css" href="../../common/pc/css/non-ie.css" /> <![endif]-->

	<!-- jquery ui theme -->
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/jquery-ui.min.css"/>
	<script type="text/javascript" src="../../common/pc/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery-migrate-3.0.0.min.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery-ui.min.js"></script>
	<!-- //jquery ui theme -->

	<!-- jplayer -->
	<link rel="stylesheet" href="../../common/pc/css/jplayer.css" />
	<script src="../../common/pc/js/jquery.jplayer.min.js"></script>
	<!-- //jplayer -->

	<script type="text/javascript" src="../../common/pc/js/nt.base.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery.mCustomScrollbar.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery.mousewheel.js"></script>
</head>
<body>
<!-- skipNav -->
<div id="skipNav">
	<a href="#contents">본문 바로가기</a>
</div>
<!-- //skipNav -->

<!-- wrap -->
<div id="wrap">
	<!-- header -->
	<div id="header">
		<!-- wrapper -->
		<div class="wrapper">
			<!-- info -->
			<div class="info clear">
				<h1 class="title"><img src="../../common/pc/images/ttl/ttl_constant_answer.png" alt="정오답"></h1>
				<!-- paging -->
				<div class="paging">
					<em>150~153</em>
					<span>/ 200</span>
				</div>
				<!-- //paging -->
			</div>
			<!-- //info -->

			<!-- cont -->
			<div class="cont">
				<div class="btn">
					<button type="button" class="btn-type01 ver-all"><span>전체문항</span></button>
				</div>
			</div>
			<!-- //cont -->

			<!-- page-btn -->
			<div class="page-btn">
				<button type="button" class="type-exit">
					<span>나가기</span>
				</button>
			</div>
			<!-- //page-btn -->
		</div>
		<!-- //wrapper -->
	</div>
	<!-- //header -->

	<!-- container -->
	<div id="container">
		<!-- contents -->
		<div id="contents">
			<!-- ca-container -->
			<div class="ca-container">
				<!-- ca-contents -->
				<div class="ca-contents">
					<!-- player-box -->
					<div id="player-box">
						<!-- cb-player -->
						<div class="cb-player">
							<div id="jquery_jplayer_1" class="jp-jplayer"></div>
								<div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
									<div class="jp-type-single">
										<div class="jp-gui jp-interface">
											<div class="jp-controls">
												<a href="#" class="prev">이전</a>
												<button class="jp-play" role="button" tabindex="0">play</button>
												<a href="#" class="next">다음</a>
												<!--<button class="jp-stop" role="button" tabindex="0">stop</button>-->
											</div>
											<div class="jp-time-holder">
												<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
												<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
											</div>
											<div class="jp-progress">
												<div class="jp-seek-bar">
													<div class="jp-play-bar"><em></em></div>
												</div>
											</div>
										</div>
									</div>
								</div>
	<script>
	$("#jquery_jplayer_1").jPlayer({
		ready: function () {
			$(this).jPlayer("setMedia", {
				mp3: "http://jplayer.org/audio/mp3/Miaow-07-Bubble.mp3"
			});
		},
		swfPath: "../../dist/jplayer",
		supplied: "mp3",
		wmode: "window",
		useStateClassSkin: true,
		autoBlur: false,
		smoothPlayBar: true,
		keyEnabled: true,
		remainingDuration: true,
		toggleDuration: true
	});
	</script>
						</div>
						<!-- cb-player -->
					</div>
					<!-- //player-box -->

					<div class="intonation">
						<span class="tags">미국</span>
						<span class="tags">호주</span>
						<span class="tags">영국</span>
					</div>

					<!-- questions-wrap -->
					<div class="questions-wrap">
						<!-- questions -->
						<div class="questions">
							<em>Questions 22 - 23</em>
							refer to the following conversation

							<div class="guide_kr">
								<em>22 - 23번</em>
								질문은 다음의 대화를 참고하세요.
							</div>
						</div>
						<!-- //questions -->
						
						<!-- fingerprint -->
						<div class="fingerprint">
							<!-- section -->
							<div class="section">
								<!-- box -->
								<div class="box">
									<div class="cont">
										<div class="ttl-sheet">Scovale optometry Association Expo.</div>

										<table summary="">
											<caption></caption>
											<colgroup>
												<col>
												<col>
												<col>
											</colgroup>
											<tbody>
												<tr>
													<th scope="row" rowspan="2">Morning Sessions</th>
													<td><span class="uline">Member(17)</span></td>
													<td><span class="uline">$55(17)</span></td>
												</tr>
												<tr>
													<td>Non-member</td>
													<td>$65</td>
												</tr>
												<tr>
													<th scope="row" rowspan="2">Afternoon Session</th>
													<td>Member</td>
													<td>$80</td>
												</tr>
												<tr>
													<td>Non-member</td>
													<td>$90</td>
												</tr>
												<tr>
													<th scope="row" rowspan="2">All Sessions</th>
													<td>Member</td>
													<td>$130</td>
												</tr>
												<tr>
													<td>Non-member</td>
													<td>$160</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!-- //box -->

								<!-- box -->
								<div class="box">
									<div class="ttl-box"><img src="../../common/pc/images/ttl/ttl_interpretation.png" alt="해석"></div>
									<div class="cont guide_kr">
										<div class="ttl-sheet">Scovale 검안회 협회</div>

										<table summary="">
											<caption></caption>
											<colgroup>
												<col>
												<col>
												<col>
											</colgroup>
											<tbody>
												<tr>
													<th scope="row" rowspan="2">아침 세션</th>
													<td><span class="uline">Member(17)</span></td>
													<td><span class="uline">$55(17)</span></td>
												</tr>
												<tr>
													<td>비회원</td>
													<td>$65</td>
												</tr>
												<tr>
													<th scope="row" rowspan="2">점심 세션</th>
													<td>회원</td>
													<td>$80</td>
												</tr>
												<tr>
													<td>비회원</td>
													<td>$90</td>
												</tr>
												<tr>
													<th scope="row" rowspan="2">모든 Sessions</th>
													<td>회원</td>
													<td>$130</td>
												</tr>
												<tr>
													<td>비회원</td>
													<td>$160</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!-- //box -->
							</div>
							<!-- //section -->
						</div>
						<!-- //fingerprint -->
						
						<!-- others_info -->
						<div class="others_info">
							<!-- section -->
							<div class="section">
								<div class="box">
									<div class="ttl-box"><img src="../../common/pc/images/ttl/ttl_voca.png" alt="어휘"></div>
									<div class="cont">
										<!-- voca-list -->
										<div class="voca-list">
											<dl>
												<dt>Lid</dt>
												<dd>[prep.] 뚜껑</dd>
											</dl>
											<dl>
												<dt>Lid</dt>
												<dd>[prep.] 뚜껑</dd>
											</dl>
											<dl>
												<dt>nominate</dt>
												<dd>지명하다.</dd>
											</dl>
											<dl>
												<dt>nominate</dt>
												<dd>지명하다.</dd>
											</dl>
											<dl>
												<dt>unfold</dt>
												<dd>펼친</dd>
											</dl>
											<dl>
												<dt>unfold</dt>
												<dd>펼친</dd>
											</dl>
										</div>
										<!-- //voca-list -->
									</div>
								</div>
							</div>
							<!-- //section -->
						</div>
						<!-- //others_info -->
					</div>
					<!-- //questions-wrap -->
				</div>
				<!-- //ca-contents -->
				
				<!-- ca-exams -->
				<div class="ca-exams">
					<!-- ca-exams-container -->
					<div class="ca-exams-container" data-theme-index="4">
						<!--
							오답일 경우
							class="exam-items" 엘리먼트에 ver-incorrect class 추가
						-->
						<!-- exam-items -->
						<div class="exam-items ver-incorrect">
							<!-- exam-questions -->
							<div class="exam-questions">
								<div class="guide-constant-answer">
									<span class="number"><span>150</span></span>
									<em>오답</em>입니다.
								</div>

								<p>In the first e-mail, the underlined, bold word “left” in paragraph 1, is closest in meaning to</p>
								<p class="guide_kr">
									남자가 원하는것은?
								</p>
							</div>
							<!-- //exam-questions -->
							
							<!-- exam-answer -->
							<div class="exam-answer">
								<!-- 
									1. 내가 선택했던 답 
									class="answer-items" 엘리먼트에 my-incorrect 추가
									2. 정답
									class="answer-items" 엘리먼트에 right-answer 추가
								-->
								<div class="answer-items my-incorrect">
									<div class="items-cont">
										<span class="item-txt">
											<em>(A)</em>
											<div>
												departed
												<p class="guide_kr">
													세상을 떠난
												</p>
											</div>
										</span>
									</div>
								</div>

								<div class="answer-items right-answer">
									<div class="items-cont">
										<span class="item-txt">
											<em>(B)</em>
											<div>
												submitted
												<p class="guide_kr">
													제출하다.
												</p>
											</div>
										</span>
									</div>
								</div>

								<div class="answer-items">
									<div class="items-cont">
										<span class="item-txt">
											<em>(C)</em>
											<div>
												staying
												<p class="guide_kr">
													계속 있다.
												</p>
											</div>
										</span>
									</div>
								</div>

								<div class="answer-items">
									<div class="items-cont">
										<span class="item-txt">
											<em>(D)</em>
											<div>
												remaining
												<p class="guide_kr">
													남아 있는, 남은
												</p>
											</div>
										</span>
									</div>
								</div>
							</div>
							<!-- //exam-answer -->
							
							<!-- exam-others -->
							<div class="exam-others">
								<!-- section -->
								<div class="section">
									<div class="ttl-box"><img src="../../common/pc/images/ttl/ttl_exposition.png" alt="해설"></div>
									<div class="cont">
										해당 문장에서 left는 바로 앞에 위치한 no rooms를 수식하는 과거분사로 쓰였다. 바로 뒤에 ‘문제가 되지 않기를 바란다’는 말이 있는 것으로 보아 예약 가능한 특정 객실이 남아 있지 않았음을 의미한다는 것을 알 수 있다. 따라서 ‘남아 있는, 남은’을 뜻하는 (D)가 정답이다.
									</div>
								</div>
								<!-- //section -->
							</div>
							<!-- //exam-others -->
						</div>
						<!-- //exam-items -->

						<!-- exam-items -->
						<div class="exam-items">
							<!-- exam-questions -->
							<div class="exam-questions">
								<div class="guide-constant-answer">
									<span class="number"><span>151</span></span>
									<em>정답</em>입니다.
								</div>

								<p>In the first e-mail, the underlined, bold word “left” in paragraph 1, is closest in meaning to</p>
								<p class="guide_kr">
									남자가 원하는것은?
								</p>
							</div>
							<!-- //exam-questions -->
							
							<!-- exam-answer -->
							<div class="exam-answer">
								<div class="answer-items">
									<div class="items-cont">
										<span class="item-txt">
											<em>(A)</em>
											<div>
												departed
												<p class="guide_kr">
													세상을 떠난
												</p>
											</div>
										</span>
									</div>
								</div>

								<div class="answer-items right-answer">
									<div class="items-cont">
										<span class="item-txt">
											<em>(B)</em>
											<div>
												submitted
												<p class="guide_kr">
													제출하다.
												</p>
											</div>
										</span>
									</div>
								</div>

								<div class="answer-items">
									<div class="items-cont">
										<span class="item-txt">
											<em>(C)</em>
											<div>
												staying
												<p class="guide_kr">
													계속 있다.
												</p>
											</div>
										</span>
									</div>
								</div>

								<div class="answer-items">
									<div class="items-cont">
										<span class="item-txt">
											<em>(D)</em>
											<div>
												remaining
												<p class="guide_kr">
													남아 있는, 남은
												</p>
											</div>
										</span>
									</div>
								</div>
							</div>
							<!-- //exam-answer -->
							
							<!-- exam-others -->
							<div class="exam-others">
								<!-- section -->
								<div class="section">
									<div class="ttl-box"><img src="../../common/pc/images/ttl/ttl_exposition.png" alt="해설"></div>
									<div class="cont">
										해당 문장에서 left는 바로 앞에 위치한 no rooms를 수식하는 과거분사로 쓰였다. 바로 뒤에 ‘문제가 되지 않기를 바란다’는 말이 있는 것으로 보아 예약 가능한 특정 객실이 남아 있지 않았음을 의미한다는 것을 알 수 있다. 따라서 ‘남아 있는, 남은’을 뜻하는 (D)가 정답이다.
									</div>
								</div>
								<!-- //section -->
							</div>
							<!-- //exam-others -->
						</div>
						<!-- //exam-items -->
						
					</div>
					<!-- //ca-exams-container -->
				</div>
				<!-- //ca-exams -->
			</div>
			<!-- //ca-container -->
		</div>
		<!-- //contents -->
	</div>
	<!-- //container -->

	<!-- foot-nav -->
	<div id="foot-nav">
		<div class="btn-wrap">
			<a href="#" class="prev">이전</a>
			<a href="#" class="next">다음</a>
		</div>
	</div>
	<!-- //foot-nav -->
</div>
<!-- //wrap -->

<script language="javascript" type="text/javascript" src="../../common/pc/js/nt.js"></script>
</body>
</html>