<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>파고다스타 - 최신인강 압도적 1위</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Language" content="English">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/contents.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/jquery.mCustomScrollbar.css" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/ie8.css"/>
	<script src="../../common/pc/js/respond.min.js"></script>
	<![endif]-->
	<!--[if !IE]><link rel="stylesheet" type="text/css" href="../../common/pc/css/non-ie.css" /> <![endif]-->

	<!-- jquery ui theme -->
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/jquery-ui.min.css"/>
	<script type="text/javascript" src="../../common/pc/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery-migrate-3.0.0.min.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery-ui.min.js"></script>
	<!-- //jquery ui theme -->

	<script type="text/javascript" src="../../common/pc/js/nt.base.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery.mCustomScrollbar.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery.mousewheel.js"></script>
</head>
<body>
<!-- skipNav -->
<div id="skipNav">
	<a href="#contents">본문 바로가기</a>
</div>
<!-- //skipNav -->

<!-- wrap -->
<div id="wrap">
	<!-- header -->
	<div id="header">
		<!-- wrapper -->
		<div class="wrapper">
			<!-- info -->
			<div class="info clear">
				<h1 class="title"><img src="../../common/pc/images/ttl/ttl_test.png" alt="TEST"></h1>
				<!-- paging -->
				<div class="paging">
					<em>22~23</em>
					<span>/ 200</span>
				</div>
				<!-- //paging -->
			</div>
			<!-- //info -->

			<!-- cont -->
			<div class="cont">
				<!-- 
				time_progress 
				시간이 반이상 경과되었을 경우<div class="time_progress"> 엘리먼트에 
				"over-half" class 추가
				-->
				<div class="time_progress">
					<div class="bar-wrap">
						<span class="bar" style="width:43%"></span>
					</div>

					<em class="time-box">120 : 00</em>
				</div>
				<!-- //time_progress -->
			</div>
			<!-- //cont -->

			<!-- page-btn -->
			<div class="page-btn">
				<button type="button" class="type-pause">
					<span>종료</span>
				</button>
			</div>
			<!-- //page-btn -->
		</div>
		<!-- //wrapper -->
	</div>
	<!-- //header -->

	<!-- container -->
	<div id="container">
		<!-- contents -->
		<div id="contents">
			<!-- head-tab -->
			<div class="head-tab">
				<div class="tab-type01">
					<div class="display-table">
						<a href="#">part1</a>
						<a href="#">part2</a>
						<a href="#" class="active">part3</a>
						<a href="#">part4</a>
						<a href="#">part5</a>
						<a href="#">part6</a>
						<a href="#">part7</a>
					</div>
				</div>
			</div>
			<!-- //head-tab  -->
			
			<!-- test-container -->
			<div class="test-container">
				<!-- test-contents -->
				<div class="test-contents">
					
					<!-- test-wrap -->
					<div class="test-wrap">
						<!-- questions-info -->
						<div class="questions-info">
							<h2 class="title">PART 3</h3>
							<div class="direction">
								<em>Direction :</em>
								You will hear some conversations between two or more people. You will be asked to answer three questions about what the speakers say in each conversaton. Select the best response to each question and mark the letter (A), (B), (C), or (D) on your answer sheet.
							</div>
						</div>
						<!-- //questions-info -->
						
						<!--
						questions-wrap 
						1. 메모의 기준점이 되는 영역
						-->
						<div class="questions-wrap">
							<!-- questions -->
							<div class="questions">
								<em>Questions 22 - 23</em>
								refer to the following conversation
							</div>
							<!-- //questions -->
							
							<!-- 
							part3 시각정보 영역은 fingerprint가 아닌
							visual-information 으로 구성
							-->
							<div class="visual-information">
								<!-- section -->
								<div class="section">
									<div class="ttl-sheet">Scovale optometry Association Expo.</div>

									<table summary="">
										<caption></caption>
										<colgroup>
											<col>
											<col>
											<col>
										</colgroup>
										<tbody>
											<tr>
												<th scope="row" rowspan="2">Morning Sessions</th>
												<td>Member(17)</td>
												<td>$55(17)</td>
											</tr>
											<tr>
												<td>Non-member</td>
												<td>$65</td>
											</tr>
											<tr>
												<th scope="row" rowspan="2">Afternoon Session</th>
												<td>Member</td>
												<td>$80</td>
											</tr>
											<tr>
												<td>Non-member</td>
												<td>$90</td>
											</tr>
											<tr>
												<th scope="row" rowspan="2">All Sessions</th>
												<td>Member</td>
												<td>$130</td>
											</tr>
											<tr>
												<td>Non-member</td>
												<td>$160</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- //section -->

								<!-- section -->
								<div class="section">
									<img src="../../common/pc/images/sample/visual_information01.jpg" alt="">
								</div>
								<!-- //section -->

								<!-- section -->
								<div class="section">
									<img src="../../common/pc/images/sample/visual_information02.jpg" alt="">
								</div>
								<!-- //section -->

								<!-- section -->
								<div class="section">
									<img src="../../common/pc/images/sample/visual_information03.jpg" alt="">
								</div>
								<!-- //section -->
							</div>
							<!-- //visual-information -->

							<!-- exams -->
							<div class="exams">
								<!-- exam-items -->
								<div class="exam-items" data-exam="22">
									<div class="number"><span>22</span></div>
									<div class="answer-items">
										<ol>
											<li>
												<em class="icon-state"></em>
												<a href="#" class="cont">
													<span>(A)</span>
													is
												</a>
											</li>
											<li>
												<em class="icon-state"></em>
												<a href="#" class="cont">
													<span>(B)</span>
													am
												</a>
											</li>
											<li>
												<em class="icon-state"></em>
												<a href="#" class="cont">
													<span>(C)</span>
													are
												</a>
											</li>
											<li>
												<em class="icon-state"></em>
												<a href="#" class="cont">
													<span>(D)</span>
													To
												</a>
											</li>
										</ol>
									</div>
								</div>
								<!-- //exam-items -->

								<!-- exam-items -->
								<div class="exam-items" data-exam="23">
									<div class="number"><span>23</span></div>
									<div class="answer-items">
										<ol>
											<li>
												<em class="icon-state"></em>
												<a href="#" class="cont">
													<span>(A)</span>
													is
												</a>
											</li>
											<li>
												<em class="icon-state"></em>
												<a href="#" class="cont">
													<span>(B)</span>
													am
												</a>
											</li>
											<li>
												<em class="icon-state"></em>
												<a href="#" class="cont">
													<span>(C)</span>
													are
												</a>
											</li>
											<li>
												<em class="icon-state"></em>
												<a href="#" class="cont">
													<span>(D)</span>
													To
												</a>
											</li>
										</ol>
									</div>
								</div>
								<!-- //exam-items -->
							</div>
							<!-- //exams -->
						</div>
						<!-- //questions-wrap -->
					</div>
					<!-- //test-wrap -->

					<!-- omr-wrap -->
					<div id="omr-wrap" class="test-quick-wrap sample">
						<!-- omr-card -->
						<div class="omr-card">
							<img src="../../common/pc/images/sample/omr.png" alt="OMR">
							위 OMR카드는 이미지입니다.<br>
							실제 퍼블리싱본은 공통 TEST에서 확인하시면 됩니다.
						</div>
						<!-- //omr-card -->
					</div>
					<!-- //omr-wrap -->
				</div>
				<!-- //test-contents -->
			</div>
			<!-- //test-container -->
		</div>
		<!-- //contents -->
	</div>
	<!-- //container -->

	<!-- foot-nav -->
	<div id="foot-nav">
		<div class="btn-wrap">
			<a href="#" class="prev">이전</a>
			<a href="#" class="next">다음</a>
		</div>
	</div>
	<!-- //foot-nav -->
</div>
<!-- //wrap -->

<script language="javascript" type="text/javascript" src="../../common/pc/js/nt.js"></script>
</body>
</html>