<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>파고다스타 - 최신인강 압도적 1위</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Language" content="English">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="naver-site-verification" content="44fa86ea3842f66f8fb901f9dd7d9d24bcb1256f"/>
	<meta name="description" content="파고다 1위 스타강사의 토익, 토플, 중국어, HSK, 일본어, JLPT, 아이엘츠, 오픽, 토익스피킹, 기초영어, 취업관련 인터넷강의 서비스">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/contents.css"/>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/jquery.mCustomScrollbar.css" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/ie8.css"/>
	<script src="../../common/pc/js/respond.min.js"></script>
	<![endif]-->
	<!--[if !IE]><link rel="stylesheet" type="text/css" href="../../common/pc/css/non-ie.css" /> <![endif]-->

	<!-- jquery ui theme -->
	<link rel="stylesheet" type="text/css" href="../../common/pc/css/jquery-ui.min.css"/>
	<script type="text/javascript" src="../../common/pc/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery-migrate-3.0.0.min.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery-ui.min.js"></script>
	<!-- //jquery ui theme -->
	
	<!-- jplayer -->
	<link rel="stylesheet" href="../../common/pc/css/jplayer.css" />
	<script src="../../common/pc/js/jquery.jplayer.min.js"></script>
	<!-- //jplayer -->

	<script type="text/javascript" src="../../common/pc/js/nt.base.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery.mCustomScrollbar.js"></script>
	<script type="text/javascript" src="../../common/pc/js/jquery.mousewheel.js"></script>
</head>
<body>
<!-- skipNav -->
<div id="skipNav">
	<a href="#contents">본문 바로가기</a>
</div>
<!-- //skipNav -->

<!-- wrap -->
<div id="wrap">
	<!-- header -->
	<div id="header">
		<!-- wrapper -->
		<div class="wrapper">
			<!-- info -->
			<div class="info clear">
				<h1 class="title"><img src="../../common/pc/images/ttl/ttl_test_kr.png" alt="문제"></h1>
			</div>
			<!-- //info -->

			<!-- page-btn -->
			<div class="page-btn">
				<button type="button" class="type-pause">
					<span>종료</span>
				</button>
			</div>
			<!-- //page-btn -->
		</div>
		<!-- //wrapper -->
	</div>
	<!-- //header -->

	<!-- container -->
	<div id="container">
		<!-- contents -->
		<div id="contents">
			<!-- weak-contents -->
			<div class="weak-contents">
				<!-- headline -->
				<div class="headline">
					<strong>취약 유형 ①</strong>
					<h2>“문법개념_동사 종류_to 부정사만 목적어로 취하는 타동사”</h2>
				</div>
				<!-- //headline -->
				
				<!-- weak-cont -->
				<div class="weak-cont">
					<div class="gray-box">
						<div class="info">
							가산/불가산 명사의 개념과 비슷한 의미의 가산∙불가산 명사의 차이를 모르고 있습니다.
						</div>
						<!-- earning-proposal -->
						<div class="earning-proposal">
							<strong class="s-ttl">약점 공략</strong>

							<div class="cont">
								빈출 불가산 명사를 따로 암기해두고, 의미가 비슷하여 해석으로 판단하기 힘든 경우에는 한정사 유무로 가산 vs. 불가산 명사를 구별할 수 있어야 합니다.<br><br>

								1) 가산 명사는 앞에 관사, 소유격 등의 한정사가 오거나 복수로 씁니다.<br>
								2) 불가산 명사는 앞에 부정관사(a/an)가 올 수 없고, 복수로 쓸 수도 없습니다.<br>
								3) 빈출 불가산 명사: advice 조언, equipment 장비, information 정보, consent 동의, luggage 수하물, stationery 문구류<br>
								4) 비슷한 의미의 가산 명사 vs. 불가산 명사: alternative 대안 vs. alternation 교대, approach 접근법 vs. access 접근<br>/이용, estimate 견적서 vs. estimation 견적, permit 허가증 vs. permission 허가, survey 조사 vs. research 연구
							</div>
						</div>
						<!-- //earning-proposal -->
					</div>

					<!-- btn-wrap -->
					<div class="btn-wrap">
						<div class="btn-center">
							<a href="#" class="btn-type02"><span>다음</span></a>
						</div>
					</div>
					<!-- //btn-wrap -->
				</div>
				<!-- //weak-cont -->
			</div>
			<!-- //weak-contents -->
		</div>
		<!-- //contents -->
	</div>
	<!-- //container -->
</div>
<!-- //wrap -->

<script language="javascript" type="text/javascript" src="../../common/pc/js/nt.js"></script>
</body>
</html>